@using SD.Shared.Model.List.Tmdb
@using SD.Shared.Model
@using SD.WEB.Modules.List.Core;
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Provider.Core
@inherits ComponenteCore<MediaPopup>
@inject WatchedListApi WatchedListApi
@inject WishListApi WishListApi
@inject AllProvidersApi AllProvidersApi
@inject TmdbApi TmdbApi

<ModalHeader>
    <ModalTitle>@media?.title</ModalTitle>
    <CloseButton Clicked="HideModal" />
</ModalHeader>
<ModalBody MaxHeight="70">
    <CustomVisibility Loading="@Loading" NoData="(media == null)">
        <Row HorizontalGutter="8" VerticalGutter="8">
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
                @if (string.IsNullOrEmpty(media?.poster_large))
                {
                    <CardImage Source="nopicture.jpg" Alt="@media?.title"></CardImage>
                }
                else
                {
                    <Div Style="position:relative;">
                        @if (ShowOnlyYear)
                        {
                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; left: 5px;">@media?.release_date?.Year</Badge>
                        }
                        else
                        {
                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; left: 5px;">@media?.release_date?.ToShortDateString()</Badge>
                        }
                        @if (media?.rating >= 8)
                        {
                            <Badge Color="Color.Success" Style="position: absolute; top: 5px; right: 5px;">@media?.rating.ToString("#.#")</Badge>
                        }
                        else if (media?.rating >= 6)
                        {
                            <Badge Color="Color.Warning" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; right: 5px;">@media?.rating.ToString("#.#")</Badge>
                        }
                        else if (media?.rating > 0)
                        {
                            <Badge Color="Color.Danger" Style="position: absolute; top: 5px; right: 5px;">@media?.rating.ToString("#.#")</Badge>
                        }
                        <Image Source="@media?.poster_large" Text="@media?.title" Style="width: 100%;"></Image>
                    </Div>
                }
            </Column>
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
                <Tabs @bind-SelectedTab="@selectedTab" Pills="true" FullWidth="true" Justified="true">
                    <Items>
                        <Tab Name="About">About</Tab>
                        <Tab Name="Streaming">Streaming (@Settings.Region.GetName(false))</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="About" Class="mt-3">
                            <Badge Color="Color.Secondary" Margin="Margin.Is2.FromEnd.Is2.FromBottom">@media?.runtime.FormatRuntime()</Badge>
                            @foreach (var item in media?.Genres ?? new List<string>())
                            {
                                <Badge Color="Color.Secondary" Margin="Margin.Is2.FromEnd.Is2.FromBottom">@item</Badge>
                            }
                            <Paragraph TextAlignment="TextAlignment.Justified">
                                @media?.plot
                            </Paragraph>
                            @if (media != null && media.Videos.Any())
                            {
                                <Row HorizontalGutter="4" VerticalGutter="4">
                                    <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                        <Button Color="Color.Dark" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">Trailers</Button>
                                    </Column>
                                    @foreach (var item in media.Videos)
                                    {
                                        <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                            <Button Type="ButtonType.Link" To="@("https://www.youtube.com/watch?v=" + item.key)" Target="Target.Blank" Color="Color.Light"
                                            Padding="Padding.Is1" title="@item.name" Block="true">
                                                <Blazorise.Icon Name="FontAwesomeIcons.Video"></Blazorise.Icon>
                                            </Button>
                                        </Column>
                                    }
                                </Row>
                            }
                            @{
                                var link = Providers?.GetLink(Settings.Region);
                                if (string.IsNullOrEmpty(link))
                                {
                                    link = Providers?.GetLink(Region.US);
                                }
                                @if (!string.IsNullOrEmpty(link))
                                {
                                    var uri_link = new Uri(link);
                                    var fomatted_link = "https://" + uri_link.Host + string.Join("", uri_link.Segments.SkipLast(1));
                                    <Row Margin="Margin.Is3.FromTop">
                                        <Column>
                                            <Alert Color="Color.Info" Padding="Padding.Is1" Margin="Margin.Is0.FromBottom" Visible="true">
                                                @GlobalTranslations.MoreInformation: <a href="@fomatted_link" target="_blank" rel="noopener">@(uri_link.Host) <Blazorise.Icon Name="FontAwesomeIcons.ExternalLinkAlt"></Blazorise.Icon></a>
                                            </Alert>
                                        </Column>
                                    </Row>
                                }
                            }
                        </TabPanel>
                        <TabPanel Name="Streaming" Class="mt-3">
                            @{
                                var hasProvider = false;

                                if (Providers?.GetFreeListProviders(Settings.Region).Any() ?? false)
                                {
                                    hasProvider = true;
                                    <Row HorizontalGutter="4" VerticalGutter="4">
                                        <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                            <Button Color="Color.Success" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">@GlobalTranslations.DeliveryModelFree</Button>
                                        </Column>
                                        @foreach (var item in Providers.GetFreeListProviders(Settings.Region))
                                        {
                                            @if (AllProviders?.Items.Any(a => a.id == item.provider_id.ToString()) ?? false) //sometimes a link from an excluded provider appears
                                            {
                                                <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                                    <Button Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                                        <Image Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                                        @if (!AllProviders.Items.Single(s => s.id == item.provider_id.ToString()).models.Any(a => a == DeliveryModel.FREE))
                                                        {
                                                            <span>false</span>
                                                        }
                                                    </Button>
                                                </Column>
                                            }
                                        }
                                    </Row>
                                }
                                if (Providers?.GetAdsListProviders(Settings.Region).Any() ?? false)
                                {
                                    hasProvider = true;
                                    <Row HorizontalGutter="4" VerticalGutter="4">
                                        <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                            <Button Color="Color.Success" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">@GlobalTranslations.DeliveryModelAds</Button>
                                        </Column>
                                        @foreach (var item in Providers.GetAdsListProviders(Settings.Region))
                                        {
                                            @if (AllProviders?.Items.Any(a => a.id == item.provider_id.ToString()) ?? false) //sometimes a link from an excluded provider appears
                                            {
                                                <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                                    <Button Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                                        <Image Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                                        @if (!AllProviders.Items.Single(s => s.id == item.provider_id.ToString()).models.Any(a => a == DeliveryModel.AVOD))
                                                        {
                                                            <span>false</span>
                                                        }
                                                    </Button>
                                                </Column>
                                            }
                                        }
                                    </Row>
                                }
                                if (Providers?.GetFlatRateListProviders(Settings.Region).Any() ?? false)
                                {
                                    hasProvider = true;
                                    <Row HorizontalGutter="4" VerticalGutter="4">
                                        <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                            <Button Color="Color.Success" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">@GlobalTranslations.DeliveryModelFlatRate</Button>
                                        </Column>
                                        @foreach (var item in Providers.GetFlatRateListProviders(Settings.Region))
                                        {
                                            @if (AllProviders?.Items.Any(a => a.id == item.provider_id.ToString()) ?? false) //sometimes a link from an excluded provider appears
                                            {
                                                <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                                    <Button Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                                        <Image Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                                        @if (!AllProviders.Items.Single(s => s.id == item.provider_id.ToString()).models.Any(a => a == DeliveryModel.SVOD))
                                                        {
                                                            <span>false</span>
                                                        }
                                                    </Button>
                                                </Column>
                                            }
                                        }
                                    </Row>
                                }
                                if (Providers?.GetFlatRateBuyListProviders(Settings.Region).Any() ?? false)
                                {
                                    hasProvider = true;
                                    <Row HorizontalGutter="4" VerticalGutter="4">
                                        <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                            <Button Color="Color.Warning" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">@GlobalTranslations.DeliveryModelFlatRateBuy</Button>
                                        </Column>
                                        @foreach (var item in Providers.GetFlatRateBuyListProviders(Settings.Region))
                                        {
                                            @if (AllProviders?.Items.Any(a => a.id == item.provider_id.ToString()) ?? false) //sometimes a link from an excluded provider appears
                                            {
                                                <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                                    <Button Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                                        <Image Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                                        @if (!AllProviders.Items.Single(s => s.id == item.provider_id.ToString()).models.Any(a => a == DeliveryModel.PVOD))
                                                        {
                                                            <span>false</span>
                                                        }
                                                    </Button>
                                                </Column>
                                            }
                                        }
                                    </Row>
                                }
                                if (Providers?.GetRentListProviders(Settings.Region).Any() ?? false)
                                {
                                    hasProvider = true;
                                    <Row HorizontalGutter="4" VerticalGutter="4">
                                        <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                            <Button Color="Color.Primary" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">@GlobalTranslations.DeliveryModelRent</Button>
                                        </Column>
                                        @foreach (var item in Providers.GetRentListProviders(Settings.Region))
                                        {
                                            @if (AllProviders?.Items.Any(a => a.id == item.provider_id.ToString()) ?? false) //sometimes a link from an excluded provider appears
                                            {
                                                <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                                    <Button Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                                        <Image Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                                        @if (!AllProviders.Items.Single(s => s.id == item.provider_id.ToString()).models.Any(a => a == DeliveryModel.TVOD))
                                                        {
                                                            <span>false</span>
                                                        }
                                                    </Button>
                                                </Column>
                                            }
                                        }
                                    </Row>
                                }
                                if (Providers?.GetBuyListProviders(Settings.Region).Any() ?? false)
                                {
                                    hasProvider = true;
                                    <Row HorizontalGutter="4" VerticalGutter="4">
                                        <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                            <Button Color="Color.Danger" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">@GlobalTranslations.DeliveryModelBuy</Button>
                                        </Column>
                                        @foreach (var item in Providers.GetBuyListProviders(Settings.Region))
                                        {
                                            @if (AllProviders?.Items.Any(a => a.id == item.provider_id.ToString()) ?? false) //sometimes a link from an excluded provider appears
                                            {
                                                <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                                    <Button Target="Target.Blank" Color="Color.Light" Padding="Padding.Is0" title="@item.provider_name">
                                                        <Image Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Text="@item.provider_name" Style="width: 100%"></Image>
                                                        @if (!AllProviders.Items.Single(s => s.id == item.provider_id.ToString()).models.Any(a => a == DeliveryModel.TVOD))
                                                        {
                                                            <span>false</span>
                                                        }
                                                    </Button>
                                                </Column>
                                            }
                                        }
                                    </Row>
                                }

                                if (hasProvider)
                                {
                                    <Row Margin="Margin.Is3.FromTop">
                                        <Column>
                                            <Alert Color="Color.Info" Padding="Padding.Is1" Margin="Margin.Is0.FromBottom" Visible="true">
                                                @GlobalTranslations.Offering: <a href="https://www.justwatch.com/" target="_blank" rel="noopener">@(new Uri("https://www.justwatch.com/").Host) <Blazorise.Icon Name="FontAwesomeIcons.ExternalLinkAlt"></Blazorise.Icon></a>
                                            </Alert>
                                        </Column>
                                    </Row>
                                }
                                else
                                {
                                    <Alert Color="Color.Info" Padding="Padding.Is1" Margin="Margin.Is0.FromBottom" Visible="true">
                                        @GlobalTranslations.TitleNotAvailable
                                    </Alert>
                                }
                            }
                        </TabPanel>
                    </Content>
                </Tabs>
            </Column>
        </Row>
    </CustomVisibility>
</ModalBody>
<ModalFooter>
    <Container Fluid="true" Margin="Margin.Is0">
        <Row HorizontalGutter="4" VerticalGutter="4">
            <Column VerticalAlignment="VerticalAlignment.Middle">
                @if (!string.IsNullOrEmpty(media?.homepage))
                {
                    <a href="@media.homepage" target="_blank" rel="noopener" style="float: left;">@(new Uri(media.homepage).Host) <Blazorise.Icon Name="FontAwesomeIcons.ExternalLinkAlt"></Blazorise.Icon></a>
                }
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                <AuthorizeView>
                    <Authorized>
                        @if (WishList?.Movies.Any(a => a.id == media?.tmdb_id) ?? false)
                        {
                            <Button Color="Color.Danger" Clicked="Remove" Margin="Margin.Is2.FromEnd">
                                <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonRemove
                            </Button>
                        }
                        else if (WishList?.Shows.Any(a => a.id == media?.tmdb_id) ?? false)
                        {
                            <Button Color="Color.Danger" Clicked="Remove" Margin="Margin.Is2.FromEnd">
                                <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonRemove
                            </Button>
                        }
                        else
                        {
                            <Button Color="Color.Primary" Clicked="Add" Margin="Margin.Is2.FromEnd">
                                <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonAdd
                            </Button>
                        }
                        @if (WatchedList?.Movies.Any(a => a == media?.tmdb_id) ?? false)
                        {
                            <Button Color="Color.Danger" Clicked="NotWatched" Margin="Margin.Is2.FromEnd">
                                <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonNotWatched
                            </Button>
                        }
                        else if (WatchedList?.Shows.Any(a => a == media?.tmdb_id) ?? false)
                        {
                            <Button Color="Color.Danger" Clicked="NotWatched" Margin="Margin.Is2.FromEnd">
                                <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonNotWatched
                            </Button>
                        }
                        else
                        {
                            <Button Color="Color.Primary" Clicked="Watched" Margin="Margin.Is2.FromEnd">
                                <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonWatched
                            </Button>
                        }
                    </Authorized>
                </AuthorizeView>
                @*<Button Color="Color.Secondary" Clicked="@Atualizar" Disabled="false">Atualizar</Button>*@
                <Button Color="Color.Secondary" Clicked="@HideModal" Float="Float.End">@GlobalTranslations.ButtonClose</Button>
            </Column>
        </Row>
    </Container>
</ModalFooter>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter] public bool ShowOnlyYear { get; set; } = true;
    [Parameter] public string? tmdb_id { get; set; }
    [Parameter] public MediaType? type { get; set; }
    [Parameter] public WishList? WishList { get; set; }
    [Parameter] public WatchedList? WatchedList { get; set; }

    [Parameter] public EventCallback<WishList> WishListChanged { get; set; }
    [Parameter] public EventCallback<WatchedList> WatchedListChanged { get; set; }

    private MediaDetail? media { get; set; }
    private MediaProviders? Providers { get; set; }
    private AllProviders? AllProviders { get; set; }

    private bool Loading;
    string selectedTab = "About";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (string.IsNullOrEmpty(tmdb_id)) throw new ArgumentNullException(nameof(tmdb_id));
            if (type == null) throw new ArgumentNullException(nameof(type));
            //if (WishList == null) throw new ArgumentNullException(nameof(WishList));
            //if (WatchedList == null) throw new ArgumentNullException(nameof(WatchedList));
            if (!WishListChanged.HasDelegate) throw new ArgumentNullException(nameof(WishListChanged));
            if (!WatchedListChanged.HasDelegate) throw new ArgumentNullException(nameof(WatchedListChanged));

            Loading = true;

            media = await TmdbApi.GetMediaDetail(tmdb_id, type);
            Providers = await TmdbApi.GetWatchProvidersList(tmdb_id, type);
            AllProviders = await AllProvidersApi.GetAll();

            Loading = false;
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    public async Task HideModal()
    {
        await ModalService.Hide();
    }

    private async Task Atualizar()
    {
        if (Providers == null) return;

        foreach (var item in Providers.GetFreeListProviders(Settings.Region))
        {
            var provider = AllProviders?.Items.SingleOrDefault(s => s.id == item.provider_id.ToString());

            var model = DeliveryModel.FREE;

            if (provider != null && !provider.models.Contains(model))
            {
                provider.models.Add(model);

                provider.models = provider.models.OrderBy(o => o).ToList();
            }
        }

        foreach (var item in Providers.GetAdsListProviders(Settings.Region))
        {
            var provider = AllProviders?.Items.SingleOrDefault(s => s.id == item.provider_id.ToString());

            var model = DeliveryModel.AVOD;

            if (provider != null && !provider.models.Contains(model))
            {
                provider.models.Add(model);

                provider.models = provider.models.OrderBy(o => o).ToList();
            }
        }

        foreach (var item in Providers.GetFlatRateListProviders(Settings.Region))
        {
            var provider = AllProviders?.Items.SingleOrDefault(s => s.id == item.provider_id.ToString());

            var model = DeliveryModel.SVOD;

            if (provider != null && !provider.models.Contains(model))
            {
                provider.models.Add(model);

                provider.models = provider.models.OrderBy(o => o).ToList();
            }
        }

        foreach (var item in Providers.GetBuyListProviders(Settings.Region))
        {
            var provider = AllProviders?.Items.SingleOrDefault(s => s.id == item.provider_id.ToString());

            var model = DeliveryModel.TVOD;

            if (provider != null && !provider.models.Contains(model))
            {
                provider.models.Add(model);

                provider.models = provider.models.OrderBy(o => o).ToList();
            }
        }

        foreach (var item in Providers.GetRentListProviders(Settings.Region))
        {
            var provider = AllProviders?.Items.SingleOrDefault(s => s.id == item.provider_id.ToString());

            var model = DeliveryModel.TVOD;

            if (provider != null && !provider.models.Contains(model))
            {
                provider.models.Add(model);

                provider.models = provider.models.OrderBy(o => o).ToList();
            }
        }

        foreach (var item in Providers.GetFlatRateBuyListProviders(Settings.Region))
        {
            var provider = AllProviders?.Items.SingleOrDefault(s => s.id == item.provider_id.ToString());

            var model = DeliveryModel.PVOD;

            if (provider != null && !provider.models.Contains(model))
            {
                provider.models.Add(model);

                provider.models = provider.models.OrderBy(o => o).ToList();
            }
        }

        await AllProvidersApi.Post(AllProviders);
    }

    private async Task Add()
    {
        try
        {
            if (WishList == null)
            {
                WishList = new WishList
                    {
                        DtInsert = DateTimeOffset.UtcNow
                    };
            }

            if (media != null && media.MediaType == MediaType.movie)
            {
                WishList.Movies.Add(new WishListItem()
                    {
                        id = media?.tmdb_id,
                        name = media?.title,
                        logo = media?.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""),
                        runtime = media?.runtime
                    });
            }
            else if (media != null && media.MediaType == MediaType.tv)
            {
                WishList.Shows.Add(new WishListItem()
                    {
                        id = media?.tmdb_id,
                        name = media?.title,
                        logo = media?.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""),
                        runtime = media?.runtime
                    });
            }

            await WishListApi.Post(WishList);
            await WishListChanged.InvokeAsync(WishList);

            await Toast.Success("Media favoritado com sucesso!");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Remove()
    {
        try
        {
            if (WishList == null)
            {
                WishList = new WishList
                    {
                        DtInsert = DateTimeOffset.UtcNow
                    };
            }

            if (media != null && media.MediaType == MediaType.movie)
            {
                WishList.Movies.Remove(WishList.Movies.First(f => f.id == media?.tmdb_id));
            }
            else if (media != null && media.MediaType == MediaType.tv)
            {
                WishList.Shows.Remove(WishList.Shows.First(f => f.id == media?.tmdb_id));
            }

            await WishListApi.Post(WishList);
            await WishListChanged.InvokeAsync(WishList);

            await Toast.Success("Media removida com sucesso!");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Watched()
    {
        try
        {
            if (WatchedList == null)
            {
                WatchedList = new WatchedList
                    {
                        DtInsert = DateTimeOffset.UtcNow
                    };
            }

            if (media != null && media.MediaType == MediaType.movie && !string.IsNullOrEmpty(media.tmdb_id))
            {
                WatchedList.Movies.Add(media.tmdb_id);
            }
            else if (media != null && media.MediaType == MediaType.tv && !string.IsNullOrEmpty(media.tmdb_id))
            {
                WatchedList.Shows.Add(media.tmdb_id);
            }

            await WatchedListApi.Post(WatchedList);
            await WatchedListChanged.InvokeAsync(WatchedList);

            await Toast.Success("Operação efetuada com sucesso!");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task NotWatched()
    {
        try
        {
            if (WatchedList == null)
            {
                WatchedList = new WatchedList
                    {
                        DtInsert = DateTimeOffset.UtcNow
                    };
            }

            if (media != null && media.MediaType == MediaType.movie)
            {
                WatchedList.Movies.Remove(WatchedList.Movies.First(f => f == media?.tmdb_id & MediaType.movie == media?.MediaType));
            }
            else if (media != null && media.MediaType == MediaType.tv)
            {
                WatchedList.Shows.Remove(WatchedList.Shows.First(f => f == media?.tmdb_id & MediaType.tv == media?.MediaType));
            }

            await WatchedListApi.Post(WatchedList);
            await WatchedListChanged.InvokeAsync(WatchedList);

            await Toast.Success("Operação efetuada com sucesso!");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}