@using SD.Shared.Models.News;
@using SD.WEB.Modules.News.Resources
@inherits ComponentCore<NewsComponent>

@inject CacheFlixsterApi CacheFlixsterApi

<HeaderComponent Title="@($"{Translations.NewsTitle} - {Language.enUS.GetName()}")" IconImage="logo/rotten-tomatoes.png">
    <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@OpenCompleteList" title="Show all news">
        <Blazorise.Icon Name="FontAwesomeIcons.ExpandArrowsAlt"></Blazorise.Icon>
    </Button>
</HeaderComponent>
@if (News?.Data == null || News.Data.Items.Empty())
{
    <Alert Color="Color.Warning" Visible="true">
        <AlertDescription>
            <Blazorise.Icon Class="spinner-border spinner-border-sm"></Blazorise.Icon> @GlobalTranslations.CustomVisibilityLoading
        </AlertDescription>
    </Alert>
}
else
{
    <Carousel @bind-SelectedSlide="@selectedSlide">
        @foreach (var item in News?.Data.Items ?? [])
        {
            <CarouselSlide Name="@item.id">
                <div style="position: absolute; top: 0px; left: 0px; background-color: lime; opacity: 70%; font: caption;" class="px-1 m-2">
                    @if (!string.IsNullOrEmpty(item.title))
                    {
                        @((MarkupString)item.title)
                    }
                </div>
                <Blazorise.Link To="@item?.link" Target="Target.Blank" Title="@item?.title">
                    <Image Source="@item?.url_img" title="@item?.title" Text="@item?.title" Display="Display.Block" Width="Width.Is100" />
                </Blazorise.Link>
            </CarouselSlide>
        }
    </Carousel>
}

@code {
    public RenderControlCore<CacheDocument<NewsModel>?> Core { get; set; } = new();
    private CacheDocument<NewsModel>? News { get; set; }
    public string? selectedSlide { get; set; }

    protected override async Task LoadDataRender()
    {
        News = await CacheFlixsterApi.GetNews("compact", Core);
    }

    private async Task OpenCompleteList()
    {
        await ModalService.NewsPopup();
    }
}