@using SD.Shared.Models.News
@using SD.WEB.Modules.News.Resources
@inherits ComponentCore<NewsComponent>

@inject CacheFlixsterApi CacheFlixsterApi

<NewPageSection Title="@($"{Translations.NewsTitle}")" Description="@Translations.NewsDescriptionShort" Icon="@IconsFA.Solid.Icon("newspaper").Font">
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                 ActivePanelIndexChanged="@(async (int vl) => { index = vl; await ProcessInitialData(); })">
            <Header>
                <MudTooltip Text="Expand">
                    <MudIconButton Icon="@IconsFA.Solid.Icon("expand").Font" Href="@($"/news/{(index == 0 ? "movie" : "tv")}")" />
                </MudTooltip>
            </Header>
            <ChildContent>
                <MudTabPanel Text="@MediaType.movie.GetName()">
                    <NewRenderControl Actions="Actions" Instance="News" ExpressionEmpty="@((CacheDocument<NewsModel>? obj) => obj?.Data == null || obj.Data.Items.Empty())">
                        <div id="@_gallerySwiperId" class="swiper">
                            <div class="swiper-wrapper">
                                @foreach (var item in News?.Data?.Items ?? [])
                                {
                                    <div class="swiper-slide" style="height: auto !important;">
                                        <MudLink Href="@item.link" Target="_blank" rel="noindex, nofollow">
                                            <MudImage Src="@item.url_img" Alt="@item.title" FallbackSrc="images/no-image.png" Class="d-block"
                                                      Style="max-height: 400px; width: 100%; height: 100%;" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center"></MudImage>
                                            <MudChip T="string" Label="true" Color="Color.Secondary" Class="poster-chip" Style="top: 0; left: 0; position: absolute; opacity: 0.75;" Size="AppStateStatic.Size">
                                                @item.date.Humanize()
                                            </MudChip>
                                            <MudText Typo="Typo.caption" Class="carousel-caption p-1">
                                                <p>@((MarkupString)item.title!)</p>
                                            </MudText>
                                        </MudLink>
                                    </div>
                                }
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            @* <div class="swiper-pagination"></div> *@
                            <div class="autoplay-progress">
                                <svg viewBox="0 0 48 48">
                                    <circle cx="24" cy="24" r="20"></circle>
                                </svg>
                                <span></span>
                            </div>
                        </div>
                    </NewRenderControl>
                </MudTabPanel>
                <MudTabPanel Text="@MediaType.tv.GetName()">
                    <NewRenderControl Actions="Actions" Instance="News" ExpressionEmpty="@((CacheDocument<NewsModel>? obj) => obj?.Data == null || obj.Data.Items.Empty())">
                        <div id="@_gallerySwiperId2" class="swiper">
                            <div class="swiper-wrapper">
                                @foreach (var item in News?.Data?.Items ?? [])
                                {
                                    <div class="swiper-slide" style="height: auto !important;">
                                        <MudLink Href="@item.link" Target="_blank" rel="noindex, nofollow">
                                            <MudImage Src="@item.url_img" Alt="@item.title" FallbackSrc="images/no-image.png" Class="d-block"
                                                      Style="max-height: 400px; width: 100%; height: 100%;" ObjectFit="ObjectFit.Cover" ObjectPosition="ObjectPosition.Center"></MudImage>
                                            <MudChip T="string" Label="true" Color="Color.Secondary" Class="poster-chip" Style="top: 0; left: 0; position: absolute; opacity: 0.75;" Size="AppStateStatic.Size">
                                                @item.date.Humanize()
                                            </MudChip>
                                            <MudText Typo="Typo.caption" Class="carousel-caption p-1">
                                                <p>@((MarkupString)item.title!)</p>
                                            </MudText>
                                        </MudLink>
                                    </div>
                                }
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                            @* <div class="swiper-pagination"></div> *@
                            <div class="autoplay-progress">
                                <svg viewBox="0 0 48 48">
                                    <circle cx="24" cy="24" r="20"></circle>
                                </svg>
                                <span></span>
                            </div>
                        </div>
                    </NewRenderControl>
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
    </BodyFragment>
</NewPageSection>

@code {
    public ComponentActions<CacheDocument<NewsModel>?> Actions { get; set; } = new();
    private CacheDocument<NewsModel>? News { get; set; }
    private int index;

    private readonly string _gallerySwiperId = $"swiper-{Guid.NewGuid()}";
    private readonly string _gallerySwiperId2 = $"swiper-{Guid.NewGuid()}";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitNews(_gallerySwiperId);
            await JsRuntime.Swiper().InitNews(_gallerySwiperId2);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    protected override async Task ProcessInitialData()
    {
        Actions.StartLoading?.Invoke(null);
        News = await CacheFlixsterApi.GetNews("compact", index == 0 ? "movie" : "tv");
        Actions.FinishLoading?.Invoke(News);
    }

}