@using SD.WEB.Modules.Collections.Core
@inherits ComponentCore<PopularIndexComponent>

@inject ImdbPopularApi ImdbPopularApi

<PageSectionComponent Title="@Translations.Module.Media.Popular"
                      Description="@Translations.Description.PopularIndex.Format(TypeSelected.GetName())">
    <BodyFragment>
        <MudTabs MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                 ActivePanelIndex="_activeIndex" ActivePanelIndexChanged="OnTabChanged" KeepPanelsAlive="true">
            <Header>
                <MudTooltip Text="Expand">
                    <MudIconButton Icon="@Icons.Material.Filled.Fullscreen" Color="Color.Primary" Href="@($"/{Culture}/popular/{TypeSelected.ToString().ToLower()}")" />
                </MudTooltip>
                <!--to fill in the sitemap-->
                <a href="@($"/{Culture}/popular/{PopularType.Movie.ToString().ToLower()}")" style="display:none;"></a>
                <a href="@($"/{Culture}/popular/{PopularType.Show.ToString().ToLower()}")" style="display:none;"></a>
            </Header>
            <ChildContent>
                <MudTabPanel Text="@PopularType.Movie.GetName()">
                    @if (_loaded[0])
                    {
                        <MediaListComponent MediaListApi="ImdbPopularApi" IsImdb="true" OnlyYear="true" StringParameters="Params" TypeSelected="MediaType.movie"
                                            Watching="WatchingList" Wish="WishList" Culture="@Culture">
                        </MediaListComponent>
                    }
                </MudTabPanel>
                <MudTabPanel Text="@PopularType.Show.GetName()">
                    @if (_loaded[1])
                    {
                        <MediaListComponent MediaListApi="ImdbPopularApi" IsImdb="true" OnlyYear="true" StringParameters="Params" TypeSelected="MediaType.tv"
                                            Watching="WatchingList" Wish="WishList" Culture="@Culture">
                        </MediaListComponent>
                    }
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public WatchingList? WatchingList { get; set; }
    [Parameter][EditorRequired] public WishList? WishList { get; set; }
    [Parameter][EditorRequired] public string? Culture { get; set; }

    private int _activeIndex = 0;
    private bool[] _loaded = new bool[2] { true, false };

    private PopularType TypeSelected => _activeIndex == 0 ? PopularType.Movie : PopularType.Show;

    private void OnTabChanged(int index)
    {
        _activeIndex = index;
        _loaded[index] = true;
    }

    public Dictionary<string, string> Params { get; set; } = new() { { "mode", "compact" } };
}