@using SD.Shared.Models.Support
@using SD.WEB.Modules.Auth.Core
@using StrongGrid.Models
@inherits ComponenteCore<EmailPopup>

@inject AdministratorApi AdministratorApi

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">
        @EmailDocument?.Subject
    </ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    @if (OnlyRead)
    {
        @((MarkupString)Html)
        @((MarkupString)Text)
    }
    else
    {
        //
    }
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@OnSave" Size="Size.Small">
        @Resources.GlobalTranslations.ButtonSave
    </Button>
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide" Size="Size.Small">
        @TranslationText.Close
    </Button>
</ModalFooter>

@code {
    [Parameter] public EmailDocument? EmailDocument { get; set; }
    [Parameter] public bool OnlyRead { get; set; } = true;

    public string Html => EmailDocument?.Html ?? "";
    public string Text => EmailDocument?.Text ?? "";

    public async Task OnSave()
    {
        try
        {
            var inbound = new SendEmail()
                {
                    Subject = "subject tst ne send",
                    Text = "bla bla bla",
                    Html = "<p>bla bla bla</p>",
                    FromName = "Support SD",
                    FromEmail = "support@streamingdiscovery.com",
                    ToName = "Dhiogo Acioli",
                    ToEmail = "dhiogoacioli@gmail.com"
                };

            await AdministratorApi.SendEmail(inbound);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}