@using Blazorise.DataGrid
@using SD.Shared.Models.Support
@using SD.WEB.Modules.Administrator.Core
@using SD.WEB.Modules.Auth.Core
@using SD.WEB.Modules.Support.Core
@inherits ComponentCore<EmailComponent>
@attribute [Authorize(Roles = "administrator")]

@inject AdministratorApi AdministratorApi
@inject UpdateApi UpdateApi

<DataGrid TItem="UpdateModel" Data="@Updates" @bind-SelectedRow="@Update" Editable="true" Responsive="true" ShowPager="true"
          RowInserted="RowInserted" RowUpdated="RowUpdated" RowRemoved="RowRemoved">
    <DataGridColumns>
        <DataGridCommandColumn NewCommandAllowed="false" EditCommandAllowed="false" DeleteCommandAllowed="false" CancelCommandAllowed>
            <SaveCommandTemplate>
                <Button ElementId="btnSave" Type="ButtonType.Submit" PreventDefaultOnSubmit Color="Color.Primary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </SaveCommandTemplate>
            <CancelCommandTemplate>
                <Button ElementId="btnCancel" Color="Color.Secondary" Clicked="@context.Clicked">@context.LocalizationString</Button>
            </CancelCommandTemplate>
        </DataGridCommandColumn>
        <DataGridColumn Field="@nameof(UpdateModel.Title)" Caption="Title" Editable="true" />
        <DataGridColumn Field="@nameof(UpdateModel.Description)" Caption="Description" Editable="true" Displayable="false">
            <EditTemplate>
                <MemoEdit Rows="5" AutoSize="true" Text="@((string?)context.CellValue)" TextChanged="@(v => context.CellValue = v)" />
            </EditTemplate>
        </DataGridColumn>
        <DataGridColumn Field="@nameof(UpdateModel.Date)" Caption="Date" Editable="true" />
    </DataGridColumns>
    <ButtonRowTemplate>
        <Button Color="Color.Success" Clicked="context.NewCommand.Clicked">New</Button>
        <Button Color="Color.Primary" Disabled="(Update is null)" Clicked="context.EditCommand.Clicked">Edit</Button>
        <Button Color="Color.Danger" Disabled="(Update is null)" Clicked="context.DeleteCommand.Clicked">Delete</Button>
        <Button Color="Color.Link" Clicked="context.ClearFilterCommand.Clicked">Clear Filter</Button>
    </ButtonRowTemplate>
</DataGrid>

@code {
    HashSet<UpdateModel> Updates = [];
    UpdateModel? Update;

    protected override async Task LoadDataRender()
    {
        Updates = await UpdateApi.Get(null);
    }

    private async Task RowInserted(SavedRowItem<UpdateModel, Dictionary<string, object>> e)
    {
        var model = e.NewItem;

        model.Initialize();

        await UpdateApi.Add(model);
    }

    private async Task RowUpdated(SavedRowItem<UpdateModel, Dictionary<string, object>> e)
    {
        await UpdateApi.Add(e.NewItem);
    }

    private async Task RowRemoved(UpdateModel model)
    {
        await UpdateApi.Delete(model);
    }
}
