<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <div class="alert alert-danger" role="alert">
                        @Resources.GlobalTranslations.YouAreNotAuthorized
                    </div>
                </NotAuthorized>
                <Authorizing>
                    <div class="alert alert-warning" role="alert">
                        <div class="spinner-border spinner-border-sm" role="status">
                            <span class="sr-only">@Resources.GlobalTranslations.AuthenticationInProgress</span>
                        </div>
                        @Resources.GlobalTranslations.AuthenticationInProgress
                    </div>
                </Authorizing>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="alert alert-danger" role="alert">
                    @Resources.GlobalTranslations.NothingThisAddress
                </div>
            </LayoutView>
        </NotFound>
    </Router>

    <ModalProvider></ModalProvider>
    <MessageProvider />
</CascadingAuthenticationState>