@using SD.Shared.Models.Support;
@using SD.WEB.Modules.Support.Core;

@inherits ComponentCore<FeedbackComponent>
@inject TicketApi TicketApi

<Fields>
    <Field ColumnSize="ColumnSize.Is6">
        <FieldBody>
            <Addons>
                <Addon AddonType="AddonType.Start" VerticalAlignment="VerticalAlignment.Middle">
                    <Button Color="Color.Primary" Disabled="true" Size="Size.Small">
                        <Blazorise.Icon Name="@FontAwesomeIcons.Filter"></Blazorise.Icon>
                    </Button>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <Select TValue="TicketType" @bind-SelectedValue="@TicketTypeSel" Size="Size.Small">
                        @foreach (var item in EnumHelper.GetArray<TicketType>())
                        {
                            <SelectItem Value="@item">@item.GetName()</SelectItem>
                        }
                    </Select>
                </Addon>
            </Addons>
        </FieldBody>
    </Field>
    <Field ColumnSize="ColumnSize.Is6">
        <FieldBody>
            <Addons>
                <Addon AddonType="AddonType.Start">
                    <Button Color="Color.Primary" Disabled="true" Size="Size.Small">
                        <Blazorise.Icon Name="@FontAwesomeIcons.Filter"></Blazorise.Icon>
                    </Button>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <Select TValue="TicketStatus?" @bind-SelectedValue="@TicketStatusSel" Size="Size.Small">
                        <SelectItem></SelectItem>
                        @foreach (var item in EnumHelper.GetArray<TicketStatus>())
                        {
                            <SelectItem Value="@item">@item.GetName()</SelectItem>
                        }
                    </Select>
                </Addon>
            </Addons>
        </FieldBody>
    </Field>
    <Field ColumnSize="ColumnSize.Is6">
        <FieldBody>
            <Addons>
                <Addon AddonType="AddonType.Start">
                    <Button Color="Color.Primary" Disabled="true" Size="Size.Small">
                        <Blazorise.Icon Name="@FontAwesomeIcons.SortAmountDown"></Blazorise.Icon>
                    </Button>
                </Addon>
                <Addon AddonType="AddonType.Body">
                    <Select TValue="Order" @bind-SelectedValue="@OrderSel" Size="Size.Small">
                        @foreach (var item in EnumHelper.GetArray<Order>())
                        {
                            <SelectItem Value="@item">@item.GetName()</SelectItem>
                        }
                    </Select>
                </Addon>
            </Addons>
        </FieldBody>
    </Field>
    <Field ColumnSize="ColumnSize.Is6">
        <FieldBody>
            <Button Color="Color.Primary" Block="true" Clicked="ShowModal" Disabled="!IsAuthenticated" Size="Size.Small">
                <Blazorise.Icon Name="@FontAwesomeIcons.Plus"></Blazorise.Icon> @WEB.Resources.Button.New
            </Button>
        </FieldBody>
    </Field>
</Fields>
<RenderControl Core="Core" Model="tickets" ExpressionEmpty="@((HashSet<TicketModel> list)=>list.Empty())">
    @foreach (var item in GetTicketList(TicketTypeSel, TicketStatusSel, OrderSel))
    {
        <Row HorizontalGutter="8" VerticalGutter="8">
            <Column Margin="Margin.Is1.FromBottom" ColumnSize="ColumnSize.Is2" Overflow="Overflow.Auto">
                <Div Style="height: 100px;" TextAlignment="TextAlignment.Center" TextWeight="TextWeight.Bold">
                    <Button Size=" Size.ExtraSmall" Margin="Margin.Is0" Color="Color.Primary" Block="true" Outline="true" Clicked="()=>Vote(item.Id, VoteType.PlusOne)" Disabled="anyVote(item.Id, UserId) || !IsAuthenticated">
                        <Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.AngleUp"></Blazorise.Icon>
                    </Button>
                    @item.TotalVotes
                    <Button Size="Size.ExtraSmall" Margin="Margin.Is0" Color="Color.Primary" Block="true" Outline="true" Clicked="()=>Vote(item.Id, VoteType.MinusOne)" Disabled="anyVote(item.Id, UserId) || !IsAuthenticated">
                        <Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.AngleDown"></Blazorise.Icon>
                    </Button>
                </Div>
            </Column>
            <Column Margin="Margin.Is1.FromBottom" ColumnSize="ColumnSize.Is10">
                <Paragraph Margin="Margin.Is2.FromBottom" TextAlignment="TextAlignment.Justified" Overflow="Overflow.Auto">
                    <Heading Size="HeadingSize.Is5">
                        @item.Title.GetResume(150)
                    </Heading>
                </Paragraph>
                <Paragraph Margin="Margin.Is2.FromBottom" TextAlignment="TextAlignment.Justified" Overflow="Overflow.Auto">
                    @item.Description.GetResume(150)
                </Paragraph>
                <Paragraph Margin="Margin.Is2.FromBottom">
                    <Badge Color="Color.Dark" Margin="Margin.Is1.FromEnd">
                        <Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.Clock"></Blazorise.Icon> @item?.DateTime.GetElapsedTime()
                    </Badge>
                    <Badge Color="Color.Dark" Margin="Margin.Is2.FromEnd">
                        @item.TicketType.GetName()
                    </Badge>
                    @if (item.TicketStatus == TicketStatus.New)
                    {
                        <Badge Color="Color.Info"><Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.InfoCircle"></Blazorise.Icon> @item.TicketStatus.GetName()</Badge>
                    }
                    else if (item.TicketStatus == TicketStatus.UnderConsideration)
                    {
                        <Badge Color="Color.Secondary"><Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.InfoCircle"></Blazorise.Icon> @item.TicketStatus.GetName()</Badge>
                    }
                    else if (item.TicketStatus == TicketStatus.Planned)
                    {
                        <Badge Color="Color.Primary"><Blazorise.Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.InfoCircle"></Blazorise.Icon> @item.TicketStatus.GetName()</Badge>
                    }
                    else if (item.TicketStatus == TicketStatus.Progress)
                    {
                        <Badge Color="Color.Warning">@item.TicketStatus.GetName()</Badge>
                    }
                    else if (item.TicketStatus == TicketStatus.Done)
                    {
                        <Badge Color="Color.Success">@item.TicketStatus.GetName()</Badge>
                    }
                    else //Declined
                    {
                        <Badge Color="Color.Danger">@item.TicketStatus.GetName()</Badge>
                    }
                </Paragraph>
            </Column>
        </Row>
        @if (item != GetTicketList(TicketTypeSel, TicketStatusSel, OrderSel).Last())
        {
            <Divider Margin="Margin.Is0.FromTop.Is2.FromBottom" />
        }
    }
</RenderControl>

@code {
    [Parameter][EditorRequired] public bool IsAuthenticated { get; set; }
    [Parameter][EditorRequired] public string? UserId { get; set; }

    public RenderControlCore<HashSet<TicketModel>> Core { get; set; } = new();
    private HashSet<TicketModel> tickets = new();

    private TicketType TicketTypeSel { get; set; } = TicketType.Improvement;
    private TicketStatus? TicketStatusSel { get; set; }
    private Order OrderSel { get; set; } = Order.Last;

    private enum Order
    {
        [Custom(Name = "OrderLast", ResourceType = typeof(SD.WEB.Modules.Support.Resources.Translations))]
        Last,

        [Custom(Name = "OrderVoted", ResourceType = typeof(SD.WEB.Modules.Support.Resources.Translations))]
        Voted
    }

    protected override async Task LoadDataRender()
    {
        tickets = await TicketApi.GetList(Core);
    }

    private List<TicketModel> GetTicketList(TicketType ticketType, TicketStatus? ticketStatus, Order order)
    {
        IEnumerable<TicketModel> result;

        if (ticketStatus.HasValue)
            result = tickets.Where(w => w.TicketType == ticketType & w.TicketStatus == ticketStatus);
        else
            result = tickets.Where(w => w.TicketType == ticketType);

        if (order == Order.Last)
            return result.OrderByDescending(o => o.DateTime).ToList();
        else
            return result.OrderByDescending(o => o.TotalVotes).ToList();
    }

    public Task ShowModal()
    {
        return ModalService.NewTicket(TicketTypeSel, new EventCallbackFactory().Create<TicketModel>(this, (TicketModel model) => { tickets.Add(model); Core?.LoadingFinished?.Invoke(tickets); }),
            IsAuthenticated, UserId);
    }

    private async Task Vote(string? IdTicket, VoteType voteType)
    {
        if (string.IsNullOrEmpty(IdTicket)) throw new ArgumentNullException(nameof(IdTicket));

        try
        {
            if (anyVote(IdTicket, UserId))
            {
                await Toast.Error("Você já votou neste ticket");
            }
            else
            {
                var ticket = tickets.Single(s => s.Id == IdTicket);

                ticket.Vote(UserId!, voteType);

                await TicketApi.Insert(ticket);

                await Toast.Success("Voto registrado com sucesso");
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private bool anyVote(string? IdTicket, string? IdUser) => tickets.Single(s => s.Id == IdTicket).Votes.Any(a => a.IdVotedUser == IdUser);
}