@page "/collections/bafta"
<SeoHeader Title="Collections | Bafta" Description="@SD.WEB.Resources.Credit.Bafta" Keywords="@(new[] { "Bafta" })" Url="/collections/bafta"></SeoHeader>
@using SD.WEB.Modules.Collections.Core
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Collections.Components
@inherits PageCore<Bafta>

@inject WatchedListApi WatchedListApi
@inject WatchingListApi WatchingListApi
@inject WishListApi WishListApi
@inject TmdbListApi TmdbListApi

<PageHeader Title="Bafta" Image="logo/bafta.png" Description="@SD.WEB.Resources.Credit.Bafta" Link="https://www.bafta.org/">
</PageHeader>

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Collections"></GoogleAdSense>

<MediaList MediaListApi="TmdbListApi" List="@EnumLists.BaftaBestFilm" Watched="WatchedList" Watching="WatchingList" Wish="WishList">
</MediaList>
<MediaList MediaListApi="TmdbListApi" List="@EnumLists.BaftaBestAnimatedFeatureFilm" Watched="WatchedList" Watching="WatchingList" Wish="WishList">
</MediaList>
<MediaList MediaListApi="TmdbListApi" List="@EnumLists.BaftaBestDocumentary" Watched="WatchedList" Watching="WatchingList" Wish="WishList">
</MediaList>

<div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" Size="AppStateStatic.Size" OnClick="@(() => JsRuntime.Window().HistoryBack())" />
</div>

@code {
    public WatchedList? WatchedList { get; set; }
    public WatchingList? WatchingList { get; set; }
    public WishList? WishList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        WatchedListApi.DataChanged += model =>
        {
            WatchedList = model;
            StateHasChanged();
        };
        WatchingListApi.DataChanged += model =>
        {
            WatchingList = model;
            StateHasChanged();
        };
        WishListApi.DataChanged += model =>
        {
            WishList = model;
            StateHasChanged();
        };
    }

    protected override async Task LoadAuthDataAsync()
    {
        WatchedList = await WatchedListApi.Get(AppStateStatic.IsAuthenticated, null);
        WatchingList = await WatchingListApi.Get(AppStateStatic.IsAuthenticated, null);
        WishList = await WishListApi.Get(AppStateStatic.IsAuthenticated, null);
    }

}