@using SD.WEB.Core.Auth
@using SD.WEB.Modules.Auth.Core
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Profile.Resources

@inherits ComponentCore<AccountPopup>

@inject LoginApi LoginApi
@inject MyProvidersApi MyProvidersApi
@inject MySuggestionsApi MySuggestionsApi
@inject WatchedListApi WatchedListApi
@inject WatchingListApi WatchingListApi
@inject WishListApi WishListApi

<MudDialog Style="width: 100%; max-height: 70%;">
    <DialogContent>
        <MudTabs Border="true" Outlined="true" PanelClass="pt-2" MinimumTabWidth="100px">
            <MudTabPanel Text="Auth">
                <MudGrid Spacing="@Css.SpaceSmall">
                    <MudItem xs="12">
                        <MudTextField T="@string" Label="@Translations.AuthProviders" Text="@(string.Join(", ", Principal?.AuthProviders ?? []))" Variant="Variant.Filled" ReadOnly="true"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="@string" Label="@Translations.Identification" Text="@Principal?.UserId" Variant="Variant.Filled" ReadOnly="true"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="@string" Label="Display Name" Text="@Principal?.DisplayName" Variant="Variant.Filled" ReadOnly="true"></MudTextField>
                    </MudItem>
                    <MudItem xs="12">
                        <MudTextField T="@string" Label="@Translations.Email" Text="@Principal?.Email" Variant="Variant.Filled" ReadOnly="true"></MudTextField>
                    </MudItem>
                </MudGrid>
            </MudTabPanel>
            <MudTabPanel Text="Events">
                <MudGrid Spacing="@Css.SpaceSmall">
                    @foreach (var item in Principal?.Events ?? [])
                    {
                        <MudItem xs="12" Style="text-align: justify;">
                            <MudPaper Outlined="true" Class="pa-2">
                                <div style="display: flex; gap: 8px; align-items: center;">
                                    <MudText Typo="Typo.subtitle1" Color="Color.Primary">@($"{item?.Origin} | {item?.Date.DateTime.ToLocalTime()}")</MudText>
                                </div>
                                <MudText Typo="Typo.body1" Inline="true"
                                         Style="@($"line-height: normal; line-break: anywhere; {(AppStateStatic.Size == Size.Small ? "font-size: 0.8rem !important;" : "font-size: 1rem !important;")}")">
                                    @item?.Description
                                </MudText>
                            </MudPaper>
                        </MudItem>
                    }
                </MudGrid>
            </MudTabPanel>
        </MudTabs>
    </DialogContent>
    <DialogActions>
        <MudButton OnClick="@DownloadData" Disabled="Principal == null">
            Download Data
        </MudButton>
        <MudButton OnClick="@DeleteAccount" Color="Color.Error">
            @Translations.DeleteAccount
        </MudButton>
        <MudSpacer></MudSpacer>
        <MudButton OnClick="@(() => { MudDialog?.Close(); })">
            @Button.Close
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }

    private AuthPrincipal? Principal { get; set; }

    protected override async Task LoadAuthDataAsync()
    {
        Principal = await PrincipalApi.Get(AppStateStatic.IsAuthenticated, true);
    }

    private async Task DownloadData()
    {
        try
        {
            var data = new SuperData() { Principal = Principal };

            var sub = Principal!.GetActiveSubscription();

            data.Login = await LoginApi.Get(AppStateStatic.IsAuthenticated);
            data.Providers = await MyProvidersApi.Get(AppStateStatic.IsAuthenticated);
            if (sub?.ActiveProduct is null or AccountProduct.Basic) data.Suggestions = null;
            else data.Suggestions = await MySuggestionsApi.Get(sub?.ActiveProduct, AppStateStatic.IsAuthenticated);
            data.WatchedList = await WatchedListApi.Get(AppStateStatic.IsAuthenticated);
            data.WatchingList = await WatchingListApi.Get(AppStateStatic.IsAuthenticated);
            data.WishList = await WishListApi.Get(AppStateStatic.IsAuthenticated);

            var fileName = $"{SeoTranslations.AppName.ToSlug()}_{Principal!.AuthProviders[0]}_{DateTime.UtcNow:yyyyMMdd_HHmmss}.json";
            await JsRuntime.Utils().DownloadFile(fileName, "application/json", data.ConvertFromObjectToBytes());
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task DeleteAccount()
    {
        try
        {
            if (Principal!.GetActiveSubscription() != null)
            {
                await DialogService.ShowMessageBox("You still have an active subscription", "Please cancel your subscription before deleting your profile.");
                return;
            }

            if (await DialogService.ShowMessageBox(SeoTranslations.AppName, GlobalTranslations.SureDeleteAccount, Button.Ok, Button.Cancel) ?? false)
            {
                //remove data from cosmos db
                await PrincipalApi.Remove();

                //TODO: remove data from firebase auth

                //close popup
                MudDialog?.Close();

                //close current login session
                await Logout();
            }
            else
            {
                await ShowInfo(GlobalTranslations.OperationCanceled);
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Logout()
    {
        await JsRuntime.Firebase().SignOutAsync();
    }

}
