@page "/login-providers"
@inherits PageCore<LoginProviders>
<SeoHeader Title="@Resources.Translations.LoginProvidersTitle" Url="/login-providers" ShowH1="false"></SeoHeader>

<Container>
    <Heading Size="HeadingSize.Is4" TextColor="TextColor.Success" TextAlignment="TextAlignment.Center">Welcome to @WEB.Resources.SeoTranslations.AppName</Heading>
    <Divider></Divider>
    <Row>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet" TextAlignment="TextAlignment.Center">
            <Alert Background="Background.Dark" Visible="true" Padding="Padding.Is2" Margin="Margin.Is3.FromBottom">
                <Paragraph TextColor="TextColor.White50">
                    @WEB.Resources.SeoTranslations.Description
                </Paragraph>
                <Image Source="icon/icon-full.png" Width="Width.Is50.OnMobile.Is66.OnTablet" />
            </Alert>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet">
            <Div>
                <div class="container-buttons">
                    @foreach (var provider in providers)
                    {
                        var link = provider.Key;
                        if (link == "microsoft") link = "aad";
                        <a class="@($"button {provider.Key}")" href="@("/.auth/login/" + @link + "?post_login_redirect_uri=" + Navigation.BaseUri + "login-success")">
                            <span><i class="fa-brands fa-@provider.Key" aria-hidden="true"></i></span> <p>@Resources.Translations.LoginWith @provider.Value</p>
                        </a>
                    }
                </div>
            </Div>
            <Div>
                <Alert Visible="true" Color="Color.Warning">
                    @if (AppStateStatic.Language == Language.ptBR || AppStateStatic.Language == Language.ptPT)
                    {
                        <Span>Ao fazer login, você confirma que leu e concorda com os </Span>
                        <Blazorise.Link To="support/terms/pt" Target="Target.Blank">Termos de Uso</Blazorise.Link>
                    }
                    else
                    {
                        <Span>By logging in, you confirm that you have read and agree to the </Span>
                        <Blazorise.Link To="support/terms/en" Target="Target.Blank">Terms of Use</Blazorise.Link>
                    }
                </Alert>
            </Div>
        </Column>
    </Row>
</Container>

<style>
    .container-buttons {
        text-align: center;
        margin: auto;
    }

    p {
        font-family: 'Rock Salt', sans-serif;
        font-size: 17px;
        font-weight: 700;
    }

    .button {
        display: inline-block;
        height: 40px;
        width: 100%;
        line-height: 40px;
        padding-right: 30px;
        padding-left: 70px;
        position: relative;
        background-color: rgb(0,0,0);
        color: rgb(255,255,255);
        text-decoration: none;
        text-transform: none;
        letter-spacing: 1px;
        margin-bottom: 14px;
        text-shadow: 1px 1px 0px rgba(0,0,0,0.5);
        border-radius: 5px;
    }

        .button p {
            font-size: 18px;
        }

        .button span {
            position: absolute;
            left: 0;
            width: 50px;
            font-size: 30px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-bottomleft: 5px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            border-right: 1px solid rgba(0,0,0,0.15);
            text-decoration: none;
        }

        .button.twitter {
            background: #AAB8C2;
        }

        .button.facebook {
            background: #3b5998;
        }

        .button.google {
            background: #db4a39;
        }

        .button.linkedin {
            background: #0e76a8;
        }

        .button.youtube {
            background: #c4302b;
        }

        .button.github {
            background: #171515;
        }

    @*  .button.apple {
            background: #cdcdcd;
        } *@

    .button.instagram {
        background: #3f729b;
    }

    .button.microsoft {
        background: #2672ec;
    }
</style>

@code {
    private readonly Dictionary<string, string> providers = new Dictionary<string, string>
    {
        { "google", "Google" },
        { "microsoft", "Microsoft"},
        // { "facebook", "Facebook" },
        // { "apple", "Apple" },
        // { "twitter", "Twitter" },
    };
}