@page "/login-providers"
@using SD.WEB.Modules.Auth.Resources
@inherits PageCore<LoginProviders>
<SeoHeader Title="@Translations.LoginProvidersTitle" Url="/login-providers"></SeoHeader>

<MudText Typo="Typo.h5" Align="Align.Center" Color="Color.Primary">
    Welcome to @SeoTranslations.AppName
</MudText>
<MudDivider Class="my-3"></MudDivider>
<MudGrid Spacing="4">
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-2 mud-theme-dark" Style="text-align: center;">
            <MudText Typo="Typo.body1" Align="Align.Justify">
                @SeoTranslations.AppDescription
            </MudText>
            <MudImage Src="icon/icon-full.png" Alt="@SeoTranslations.AppName" Style="width: 50%;" />
        </MudPaper>
    </MudItem>
    <MudItem xs="12" sm="6">
        <div>
            <div class="container-buttons">
                @foreach (var provider in _providers)
                {
                    var link = provider.Key;
                    if (link == "microsoft") link = "aad";
                    <a class="@($"button {provider.Key}")" href="@("/.auth/login/" + link + "?post_login_redirect_uri=" + Navigation.BaseUri + "login-success")" rel="nofollow" target="_self">
                        <span>
                            <MudIcon Icon="@IconsFA.Brands.Icon(provider.Key).Font" />
                        </span>
                        <p style="font-size: 16px;">@Translations.LoginWith @provider.Value</p>
                    </a>
                }
            </div>
        </div>
        <div>
            <MudAlert Variant="Variant.Outlined" Severity="Severity.Warning" Dense="true" Icon="@IconsFA.Solid.Icon("circle-exclamation").Font">
                @if (GetGeneralLanguage() == "pt")
                {
                    <MudText Inline="true">Ao fazer login, você confirma que leu e concorda com os </MudText>
                    <MudLink Href="support/terms/pt" Target="_blank">Termos de Uso</MudLink>
                }
                else if (GetGeneralLanguage() == "es")
                {
                    <MudText Inline="true">Al iniciar sesión, confirma que ha leído y acepta los </MudText>
                    <MudLink Href="support/terms/es" Target="_blank">Términos de uso</MudLink>
                }
                else
                {
                    <MudText Inline="true">By logging in, you confirm that you have read and agree to the </MudText>
                    <MudLink Href="support/terms/en" Target="_blank">Terms of Use</MudLink>
                }
            </MudAlert>
        </div>
    </MudItem>
</MudGrid>

@code {

    private readonly Dictionary<string, string> _providers = new()
    {
        { "google", "Google" },
        { "microsoft", "Microsoft" },
        // { "apple", "Apple" },
        // { "facebook", "Facebook" }
    };

    private string GetGeneralLanguage()
    {
        switch (AppStateStatic.Language)
        {
            case Language.ptAO:
            case Language.ptBR:
            case Language.ptMZ:
            case Language.ptPT:
                return "pt";
            case Language.esAR:
            case Language.esCL:
            case Language.esDO:
            case Language.esEC:
            case Language.esES:
            case Language.esGQ:
            case Language.esGT:
            case Language.esHN:
            case Language.esMX:
            case Language.esNI:
            case Language.esPA:
            case Language.esPE:
            case Language.esPY:
            case Language.esSV:
            case Language.esUY:
                return "es";
            default:
                return "en";
        }
    }

}
