@page "/login-providers"
@using SD.WEB.Modules.Auth.Resources
@inherits PageCore<LoginProviders>
<SeoHeader Title="@Translations.LoginProvidersTitle" Url="/login-providers" ShowH1="false"></SeoHeader>

<Container>
    <Heading Size="HeadingSize.Is4" TextColor="TextColor.Success" TextAlignment="TextAlignment.Center">Welcome to @SeoTranslations.AppName</Heading>
    <Divider></Divider>
    <Row>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet" TextAlignment="TextAlignment.Center">
            <Alert Background="Background.Dark" Visible="true" Padding="Padding.Is2" Margin="Margin.Is3.FromBottom">
                <Paragraph TextColor="TextColor.White50">
                    @SeoTranslations.Description
                </Paragraph>
                <Image Source="icon/icon-full.png" Width="Width.Is50.OnMobile.Is66.OnTablet"/>
            </Alert>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.OnMobile.Is6.OnTablet">
            <Div>
                <div class="container-buttons">
                    @foreach (var provider in _providers)
                    {
                        var link = provider.Key;
                        if (link == "microsoft") link = "aad";
                        <a class="@($"button {provider.Key}")" href="@("/.auth/login/" + link + "?post_login_redirect_uri=" + Navigation.BaseUri + "login-success")">
                            <span>
                                <i class="fa-brands fa-@provider.Key" aria-hidden="true"></i>
                            </span>
                            <p style="font-size: 16px;">@Translations.LoginWith @provider.Value</p>
                        </a>
                    }
                </div>
            </Div>
            <Div>
                <Alert Visible="true" Color="Color.Warning">
                    @if (AppStateStatic.Language == Language.ptBR || AppStateStatic.Language == Language.ptPT)
                    {
                        <Span>Ao fazer login, você confirma que leu e concorda com os </Span>
                        <Blazorise.Link To="support/terms/pt" Target="Target.Blank">Termos de Uso</Blazorise.Link>
                    }
                    else
                    {
                        <Span>By logging in, you confirm that you have read and agree to the </Span>
                        <Blazorise.Link To="support/terms/en" Target="Target.Blank">Terms of Use</Blazorise.Link>
                    }
                </Alert>
            </Div>
        </Column>
    </Row>
</Container>

@code {

    private readonly Dictionary<string, string> _providers = new()
    {
        { "google", "Google" },
        { "microsoft", "Microsoft" }
        // { "facebook", "Facebook" },
        // { "apple", "Apple" },
        // { "twitter", "Twitter" },
    };

}