@page "/login-providers"
@inherits PageCore<LoginProviders>
<SeoHeader Title="@Resources.Translations.LoginProvidersTitle" Url="/login-providers" ShowH1="false"></SeoHeader>

<h1 class="mb-3">@Resources.Translations.LoginProvidersTitle</h1>

<Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is2.FromBottom">
    <Column ColumnSize="ColumnSize.IsAuto.OnMobile.Is1.OnDesktop.Is2.OnFullHD"></Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is10.OnDesktop.Is8.OnFullHD">
        <Alert Visible="true" Color="Color.Info" Class="mb-3">
            <AlertMessage>@GlobalTranslations.BetaVersion</AlertMessage>
            <AlertDescription TextAlignment="TextAlignment.Justified">@GlobalTranslations.ProductUnderDevelopment</AlertDescription>
        </Alert>
    </Column>
</Row>
<Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is2.FromBottom">
    <Column ColumnSize="ColumnSize.IsAuto.OnMobile.Is1.OnDesktop.Is2.OnFullHD"></Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is10.OnDesktop.Is8.OnFullHD">
        @foreach (var provider in providers)
        {
            var link = provider.Key;
            if (link == "microsoft") link = "aad";
            <Button Block="true" Class="@("btn-social btn-" + @provider.Key)" Size="Size.Large" Margin="Margin.Is3.FromBottom" Type="ButtonType.Link" To="@("/.auth/login/" + @link + "?post_login_redirect_uri=" + Navigation.BaseUri + "login-success")">
                <span class="fa-brands fa-@provider.Key"></span> @Resources.Translations.LoginWith @provider.Value
            </Button>
        }
    </Column>
</Row>
<Row HorizontalGutter="4" VerticalGutter="4">
    <Column ColumnSize="ColumnSize.IsAuto.OnMobile.Is1.OnDesktop.Is2.OnFullHD"></Column>
    <Column ColumnSize="ColumnSize.Is12.OnMobile.Is10.OnDesktop.Is8.OnFullHD">
        <Alert Visible="true" Color="Color.Warning" Class="mb-3">
            @if (AppStateStatic.Language == Language.ptBR || AppStateStatic.Language == Language.ptPT)
            {
                <Span>Ao fazer login, você confirma que leu e concorda com os </Span>
                <Blazorise.Link To="support/terms/pt" Target="Target.Blank">Termos de Uso</Blazorise.Link>
            }
            else
            {
                <Span>By logging in, you confirm that you have read and agree to the </Span>
                <Blazorise.Link To="support/terms/en" Target="Target.Blank">Terms of Use</Blazorise.Link>
            }
        </Alert>
    </Column>
</Row>

@code {
    private Dictionary<string, string> providers = new Dictionary<string, string>
    {
        // { "apple", "Apple" },
        // { "facebook", "Facebook" },
        // { "github", "Github" },
        { "google", "Google" },
        { "microsoft", "Microsoft"}
    };
}