@using SD.WEB.Modules.Profile.Resources
@using Button = SD.WEB.Resources.Button
@inherits ComponentCore<ProfilePopup>

@inject IMessageService MessageService

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">
        @Translations.MyProfile
    </ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <Card Margin="Margin.Is2.FromBottom">
        <CardHeader>
            @Translations.AccessInformation
        </CardHeader>
        <CardBody>
            <Fields>
                <Field ColumnSize="ColumnSize.Is4.OnDesktop">
                    <FieldLabel>
                        @Translations.IdentityProvider
                    </FieldLabel>
                    <TextEdit Text="@Principal?.IdentityProvider" Disabled="true" />
                </Field>
                <Field ColumnSize="ColumnSize.Is4.OnDesktop">
                    <FieldLabel>
                        @Translations.Identification
                    </FieldLabel>
                    <TextEdit Text="@Principal?.UserDetails" Disabled="true" />
                </Field>
                <Field ColumnSize="ColumnSize.Is4.OnDesktop">
                    <FieldLabel>
                        @Translations.Email
                    </FieldLabel>
                    <TextEdit Text="@Principal?.Email" Disabled="true" />
                </Field>
            </Fields>
        </CardBody>
    </Card>
    <Card Margin="Margin.Is2.FromBottom">
        <CardHeader>
            @Translations.Actions
        </CardHeader>
        <CardBody>
            <Button Color="Color.Danger" Clicked="async () => { await DeleteAccount(Principal?.IdentityProvider); }">
                <Blazorise.Icon Name="FontAwesomeIcons.UserSlash" /> @Translations.DeleteAccount
            </Button>
        </CardBody>
    </Card>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide" Size="Size.Small">
        @Button.Close
    </Button>
</ModalFooter>

@code {
    [Parameter][EditorRequired] public bool IsAuthenticated { get; set; }

    private ClientePrincipal? Principal { get; set; }

    protected override async Task LoadDataRender()
    {
        Principal = await PrincipalApi.Get(IsAuthenticated);
    }

    private async Task DeleteAccount(string? provider)
    {
        try
        {
            if (Principal?.ClientePaddle is { IsPaidUser: true })
            {
                await MessageService.Warning("You still have an active subscription. Please cancel your subscription before deleting your profile.");
                return;
            }

            if (await MessageService.Confirm(GlobalTranslations.SureDeleteAccount, SeoTranslations.AppName, opt => { opt.ShowMessageIcon = false; }))
            {
                //remove data from cosmos db
                await PrincipalApi.Remove();

                //close popup
                await ModalService.Hide();

                //remove data from azure
                Navigation.NavigateTo("/.auth/purge/" + provider);

                //close session
                Navigation.NavigateTo("/.auth/logout", true);
            }
            else
            {
                await Toast.Warning(GlobalTranslations.OperationCanceled);
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

}