@using SD.Shared.Models.Trailers
@using SD.WEB.Modules.Trailers.Resources
@using SD.WEB.Shared.Core
@inherits ComponentCore<TrailersComponent>

@inject CacheYoutubeApi CacheYoutubeApi

<PageSectionComponent Title="@($"{Translations.TrailersTitle}")" Description="@Translations.TrailersDescriptionShort">
    <BodyFragment>
        <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")">
            <Header>
                <MudTooltip Text="Expand">
                    <MudIconButton Icon="@Icons.Material.Filled.Fullscreen" Color="Color.Primary" Href=@($"/{Culture}/trailers") />
                </MudTooltip>
            </Header>
            <ChildContent>
                <MudTabPanel Text="All">
                    <RenderControl Actions="Actions">
                        <div id="@_gallerySwiperId" class="splide" role="group">
                            <div class="splide__arrows">
                                <button class="splide__arrow splide__arrow--prev">
                                    <MudIcon Icon="@IconsFA.Solid.Icon("circle-chevron-right").Font" Color="Color.Primary" Style="font-size: 30px;"></MudIcon>
                                </button>
                                <button class="splide__arrow splide__arrow--next">
                                    <MudIcon Icon="@IconsFA.Solid.Icon("circle-chevron-right").Font" Color="Color.Primary" Style="font-size: 30px;"></MudIcon>
                                </button>
                            </div>
                            <div class="splide__track">
                                <ul class="splide__list">
                                    @foreach (var item in TrailerModel?.Data?.Items ?? [])
                                    {
                                        <li class="splide__slide">
                                            <div class="swiper-slide" style="width: 190px; height: 160px;">
                                                <MudLink OnClick="() => VideoClick(item)" rel="nofollow">
                                                    <MudCard Outlined="true" Style="height: 100%;">
                                                        <MudCardContent Style="padding: 0;">
                                                            <MudImage Src="@item?.url" Alt="@item?.title" FallbackSrc="images/no-image.webp" Style="width: 100%;" ObjectFit="ObjectFit.Contain"></MudImage>
                                                            <MudChip T="string" Label="true" Color="Color.Secondary" Class="poster-chip" Style="top: 0; left: 0; position: absolute; opacity: 0.75;" Size="AppStateStatic.Size">
                                                                @item?.DateTime.Humanize()
                                                            </MudChip>
                                                        </MudCardContent>
                                                        <MudCardContent Style="text-align: center; padding: 4px;" Class="custom-title-list">
                                                            @item?.title
                                                        </MudCardContent>
                                                    </MudCard>
                                                </MudLink>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </RenderControl>
                </MudTabPanel>
            </ChildContent>
        </MudTabs>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public string? Culture { get; set; }

    public ComponentActions<CacheDocument<TrailerModel>?> Actions { get; set; } = new(obj => obj?.Data == null || obj.Data.Items.Empty());
    private CacheDocument<TrailerModel>? TrailerModel { get; set; }

    private readonly string _gallerySwiperId = $"swiper-trailer-{Guid.NewGuid()}";

    protected override void OnInitialized()
    {
        OnError.Subscribe(async (msg) => await Actions.ShowError.Invoke(msg), cts.Token);

        base.OnInitialized();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await JsRuntime.Slider().InitTrailers(_gallerySwiperId, cts.Token);

            await base.OnAfterRenderAsync(firstRender);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    protected override async Task ProcessInitialData()
    {
        await Actions.StartLoading.Invoke(null);
        TrailerModel = await CacheYoutubeApi.GetTrailers("compact", cts.Token);
        await Actions.FinishLoading.Invoke(TrailerModel);
    }

    private void VideoClick(TrailerModelItem item)
    {
        Navigation.NavigateTo($"/{Culture}/video/{($"{item.id}|{item.title}".SimpleEncrypt())}");
    }

}