@page "/video/{data}"
@using SD.WEB.Modules.Trailers.Resources
@inherits PageCore<TrailerWatch>

<SeoHeader Title="@Title" Description="@Title" Keywords="@(new[] { Title })" Url="/trailers"></SeoHeader>
<NewPageSection IsPageHeader="true" Title="@Title">
</NewPageSection>

<MudGrid Spacing="@Css.SpaceSmall">    
    <MudItem xs="12" md="8">
        <div style="position: relative; width: 100%; aspect-ratio: 16 / 9;">
            <iframe width="560" height="315" src="@($"https://www.youtube.com/embed/{Id}")" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </MudItem>
    <MudItem xs="12" md="4">
        <GoogleAdSense Section="@GoogleAdSense.AdUnit.Trailer"></GoogleAdSense>
    </MudItem>
</MudGrid>

<div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() => JsRuntime.Window().HistoryBack())" Size="Size.Medium" />
</div>

@code {
    [Parameter] public string? Data { get; set; }

    private string Id => Data?.SimpleDecrypt().Split('|')[0] ?? string.Empty;
    private string Title => Data?.SimpleDecrypt().Split('|')[1] ?? string.Empty;
}
