@using SD.WEB.Modules.Provider.Core;

@inherits ComponenteCore<ProviderComponent>

@inject AllProvidersApi AllProvidersApi

<HeaderComponent Title="@Provider.Resources.Translations.TitleProviders.Format(AppStateStatic.Region)">
    <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@OpenCompleteList" title="Show all providers">
        <Blazorise.Icon Name="FontAwesomeIcons.ExpandArrowsAlt"></Blazorise.Icon>
    </Button>
</HeaderComponent>
<RenderControl Core="Core" Model="AllProviders" ExpressionEmpty="@((AllProviders? obj)=> obj == null || obj.Items.Empty())">
    <Row HorizontalGutter="4" VerticalGutter="4">
        @foreach (var item in GetFilteredProviders())
        {
            <Column ColumnSize="ColumnSize.Is3.OnMobile.Is2.OnDesktop">
                <Card>
                    <CardImage Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Alt="@item.name"
                           onclick="@(() => ShowPopupProvider(item))" Style="cursor: pointer;" title="@item.name"></CardImage>
                </Card>
                @*@if (string.IsNullOrEmpty(item.link))
            {
            <p class="m-0" style="color: red">link</p>
            }
            @if (string.IsNullOrEmpty(item.description))
            {
            <p class="m-0" style="color: red">description</p>
            }
            @if (item.models.Empty())
            {
            <p class="m-0" style="color: red">model</p>
            }
            @if (item.models.Any(a => a == SD.Shared.Modal.Enum.DeliveryModel.SVOD) && item.plans.Empty())
            {
            <p class="m-0" style="color: red">plan</p>
            }*@
            </Column>
        }
    </Row>
</RenderControl>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter][EditorRequired] public WatchedList? WatchedList { get; set; }
    [Parameter][EditorRequired] public WishList? WishList { get; set; }

    public RenderControlCore<AllProviders?>? Core { get; set; } = new();
    private AllProviders? AllProviders { get; set; }

    public IEnumerable<ProviderModel> GetFilteredProviders() => AllProviders?.Items.OrderBy(o => o.priority).Where(p =>
        p.regions.Any(a => a == AppStateStatic.Region))
        .Take(GetTotalItems) ?? Array.Empty<ProviderModel>();

    protected override void OnInitialized()
    {
        throw new Exception("component sendo usado");

        AppStateStatic.RegionChanged += StateHasChanged;
    }

    private int GetTotalItems => AppStateStatic.OnMobile ? 8 : 18;

    protected override async Task LoadDataRender()
    {
        Core?.LoadingStarted?.Invoke();
        AllProviders = await AllProvidersApi.GetAll();
        Core?.LoadingFinished?.Invoke(AllProviders);
    }

    private async Task OpenCompleteList()
    {
        await ModalService.Show<Modules.Suggestions.Components.CompleteListProvider>(@Provider.Resources.Translations.TitleProviders.Format(AppStateStatic.Region),
        x =>
        {
            x.Add(x => x.CardHeader, @Provider.Resources.Translations.TitleProviders.Format(AppStateStatic.Region));
            x.Add(x => x.AllProviders, AllProviders);
        },
        new ModalInstanceOptions()
            {
                UseModalStructure = false,
                Centered = true,
                Size = ModalSize.ExtraLarge,
            });
    }

    private async Task ShowPopupProvider(ProviderModel item)
    {
        await ModalService.Show<Provider.Components.ProviderPopup>(item.name,
        x =>
        {
            x.Add(x => x.provider, item);
            x.Add(x => x.WatchedList, WatchedList);
            x.Add(x => x.WishList, WishList);
        },
        new ModalInstanceOptions()
            {
                UseModalStructure = false,
                Centered = true,
                Size = ModalSize.ExtraLarge,
            });
    }
}