@using SD.Shared.Model
@inherits ComponenteCore<ProviderPopup>
@using SD.WEB.Modules.List.Core
@using SD.WEB.Modules.Profile.Core
@inject MyProvidersApi MyProvidersApi
@inject TmdbApi TmdbApi

<ModalHeader>
    <ModalTitle>@provider?.name</ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <Tabs @bind-SelectedTab="@selectedTab" Pills="true" FullWidth="true" Justified="true">
        <Items>
            <Tab Name="About">@GlobalTranslations.ProviderPopupTabAbout</Tab>
            <Tab Name="Details">@GlobalTranslations.ProviderPopupTabDetails</Tab>
            <Tab Name="Catalog">@GlobalTranslations.ProviderPopupTabCatalog</Tab>
        </Items>
        <Content>
            <TabPanel Name="About" Class="mt-3">
                <Row Margin="Margin.Is2.FromBottom" HorizontalGutter="4" VerticalGutter="4">
                    <Column ColumnSize="ColumnSize.IsAuto">
                        @if (!string.IsNullOrEmpty(provider?.logo_path))
                        {
                            <Image Source="@(TmdbOptions.OriginalPosterPath + provider.logo_path)" Text="@provider.name"></Image>
                        }
                    </Column>
                    <Column>
                        <Paragraph TextAlignment="TextAlignment.Justified" Margin="Margin.Is2.FromBottom">
                            @provider?.description
                        </Paragraph>
                        <Paragraph>
                            @if (string.IsNullOrEmpty(provider?.link))
                            {
                                <a href="@("https://www.google.com/search?q=streaming+" + provider?.name)" target="_blank" rel="noopener" style="float: left;">search on google</a>
                            }
                            else
                            {
                                <a href="@provider.link" target="_blank" rel="noopener" style="float: left;">@(new Uri(provider.link).Host)</a>
                            }
                        </Paragraph>
                    </Column>
                </Row>
            </TabPanel>
            <TabPanel Name="Details" Class="mt-3">
                <Divider DividerType="DividerType.TextContent" Text="@TranslationText.MediaTypes" />
                @foreach (var item in provider?.types ?? new List<MediaType>())
                {
                    <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd">@item.GetName()</Badge>
                }
                <Divider DividerType="DividerType.TextContent" Text="@TranslationText.Regions" />
                @foreach (var item in provider?.regions.OrderBy(o => o.GetName()).ToList() ?? new List<Region>())
                {
                    <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd">@item.GetName()</Badge>
                }
                <Divider DividerType="DividerType.TextContent" Text="@TranslationText.DeliveryModel" />
                @foreach (var item in provider?.models ?? new List<DeliveryModel>())
                {
                    <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd" title="@item.GetDescription()" Style="cursor: help;">
                        @item.GetName() <Blazorise.Icon Name="FontAwesomeIcons.QuestionCircle"></Blazorise.Icon>
                    </Badge>
                }
                @if (provider?.models.Any(a => a == DeliveryModel.SVOD) ?? false)
                {
                    <Divider DividerType="DividerType.TextContent" Text="@TranslationText.Plans" />
                    @if (provider.plans.Any())
                    {
                        @foreach (var item in provider.plans)
                        {
                            <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd">@item.name: @item.price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture(provider.head_language?.GetName(false)??""))</Badge>
                        }
                    }
                    else
                    {
                        <Badge Color="Color.Danger">@TranslationText.NotFound</Badge>
                    }
                }
            </TabPanel>
            <TabPanel Name="Catalog" Class="mt-3">
                <SD.WEB.Modules.List.Components.MediaList CardHeader="@TranslationText.Popular" Items="@ListPopular" maxItens="50" NextPage="@(()=>LoadPopular(popularMedia))" DisableLoadMore="popularDisable"
                                                          TypeSelected="popularMedia" TypeSelectedChanged="ChangePopularMediaType" ShowFilter="true"
                                                          WishList="WishList" WishListChanged="@(async(WishList value)=>{WishList = value; await WishListChanged.InvokeAsync(value);})"
                                                          WatchedList="WatchedList" WatchedListChanged="@(async (WatchedList value) => { WatchedList = value; await WatchedListChanged.InvokeAsync(value); })"></SD.WEB.Modules.List.Components.MediaList>
                <SD.WEB.Modules.List.Components.MediaList CardHeader="@TranslationText.Release" Items="@ListNew" maxItens="50" NextPage="@(()=>LoadNew(newMedia))" DisableLoadMore="newDisable"
                                                          TypeSelected="newMedia" TypeSelectedChanged="ChangeNewMediaType" ShowFilter="true" ShowOnlyYear="false"
                                                          WishList="WishList" WishListChanged="@(async(WishList value)=>{WishList = value; await WishListChanged.InvokeAsync(value);})"
                                                          WatchedList="WatchedList" WatchedListChanged="@(async (WatchedList value) => { WatchedList = value; await WatchedListChanged.InvokeAsync(value); })"></SD.WEB.Modules.List.Components.MediaList>
                <SD.WEB.Modules.List.Components.MediaList CardHeader="@TranslationText.TopRated" Items="@ListTopRated" maxItens="50" NextPage="@(()=>LoadTopRated(topRatedMedia))" DisableLoadMore="topRatedDisable"
                                                          TypeSelected="topRatedMedia" TypeSelectedChanged="ChangeTopRatedMediaType" ShowFilter="true"
                                                          WishList="WishList" WishListChanged="@(async(WishList value)=>{WishList = value; await WishListChanged.InvokeAsync(value);})"
                                                          WatchedList="WatchedList" WatchedListChanged="@(async (WatchedList value) => { WatchedList = value; await WatchedListChanged.InvokeAsync(value); })"></SD.WEB.Modules.List.Components.MediaList>
            </TabPanel>
        </Content>
    </Tabs>
</ModalBody>
<ModalFooter>
    <AuthorizeView>
        <Authorized>
            @if (myProviders?.Items.Any(a => a.id == provider?.id) ?? false)
            {
                <Button Color="Color.Danger" Clicked="Remove">
                    <Blazorise.Icon Name="FontAwesomeIcons.Heart"></Blazorise.Icon> @GlobalTranslations.ButtonRemove
                </Button>
            }
            else
            {
                <Button Color="Color.Primary" Clicked="Add">
                    <Blazorise.Icon Name="FontAwesomeIcons.Heart"></Blazorise.Icon> @GlobalTranslations.ButtonAdd
                </Button>
            }
        </Authorized>
    </AuthorizeView>
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide">@TranslationText.Close</Button>
</ModalFooter>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter] public ProviderModel? provider { get; set; }
    [Parameter] public MediaType mediaType { get; set; }

    [Parameter] public WishList? WishList { get; set; }
    [Parameter] public WatchedList? WatchedList { get; set; }
    [Parameter] public EventCallback<WishList> WishListChanged { get; set; }
    [Parameter] public EventCallback<WatchedList> WatchedListChanged { get; set; }

    private MediaType popularMedia { get; set; }
    private MediaType newMedia { get; set; }
    private MediaType topRatedMedia { get; set; }

    string selectedTab = "About";

    private HashSet<MediaDetail> ListPopular { get; set; } = new();
    private HashSet<MediaDetail> ListNew { get; set; } = new();
    private HashSet<MediaDetail> ListTopRated { get; set; } = new();

    private int popularPage = 0;
    private int newPage = 0;
    private int topRatedPage = 0;

    private bool popularDisable = false;
    private bool newDisable = false;
    private bool topRatedDisable = false;

    private MyProviders? myProviders { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            if (provider == null) throw new ArgumentNullException(nameof(provider));
            //if (WishList == null) throw new ArgumentNullException(nameof(WishList));
            //if (WatchedList == null) throw new ArgumentNullException(nameof(WatchedList));
            if (!WishListChanged.HasDelegate) throw new ArgumentNullException(nameof(WishListChanged));
            if (!WatchedListChanged.HasDelegate) throw new ArgumentNullException(nameof(WatchedListChanged));

            myProviders = await MyProvidersApi.Get();

            popularMedia = mediaType;
            newMedia = mediaType;
            topRatedMedia = mediaType;

            await LoadPopular(mediaType);
            await LoadNew(mediaType);
            await LoadTopRated(mediaType);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private Dictionary<string, string> GetExtraParameters(string? provider_id, string sort_by)
    {
        if (provider_id == null) throw new ArgumentNullException(nameof(provider_id));

        return new Dictionary<string, string>() { { "with_watch_providers", provider_id }, { "sort_by", sort_by } }; ;
    }

    private async Task ChangePopularMediaType(MediaType mediaType)
    {
        popularMedia = mediaType;

        popularPage = 0;

        ListPopular = new();

        await LoadPopular(mediaType);
    }

    private async Task ChangeNewMediaType(MediaType mediaType)
    {
        newMedia = mediaType;

        newPage = 0;

        ListNew = new();

        await LoadNew(mediaType);
    }

    private async Task ChangeTopRatedMediaType(MediaType mediaType)
    {
        topRatedMedia = mediaType;

        topRatedPage = 0;

        ListTopRated = new();

        await LoadTopRated(mediaType);
    }

    private async Task LoadPopular(MediaType mediaType)
    {
        var result = await TmdbApi.GetDiscoverList(mediaType, GetExtraParameters(provider?.id, "popularity.desc"), ListPopular, ++popularPage);
        popularDisable = result.lastPage;
        ListPopular = result.list;
    }

    private async Task LoadNew(MediaType mediaType)
    {
        var result = await TmdbApi.GetDiscoverList(mediaType, GetExtraParameters(provider?.id, "primary_release_date.desc"), ListNew, ++newPage);
        newDisable = result.lastPage;
        ListNew = result.list;
    }

    private async Task LoadTopRated(MediaType mediaType)
    {
        var result = await TmdbApi.GetDiscoverList(mediaType, GetExtraParameters(provider?.id, "vote_average.desc"), ListTopRated, ++topRatedPage);
        topRatedDisable = result.lastPage;
        ListTopRated = result.list;
    }

    private async Task Add()
    {
        try
        {
            if (myProviders == null)
            {
                myProviders = new MyProviders
                    {
                        DtInsert = DateTimeOffset.UtcNow
                    };
            }

            if (provider != null) myProviders.Items.Add(new MyProvidersItem() { id = provider.id, name = provider.name, logo = provider.logo_path });

            await MyProvidersApi.Post(myProviders);

            await Toast.Success("Provedor favoritado com sucesso!");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Remove()
    {
        try
        {
            if (myProviders == null)
            {
                myProviders = new MyProviders
                    {
                        DtInsert = DateTimeOffset.UtcNow
                    };
            }

            myProviders.Items.Remove(myProviders.Items.First(f => f.id == provider?.id));

            await MyProvidersApi.Post(myProviders);

            await Toast.Success("Provedor removido com sucesso!");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}