@inherits ComponenteCore<ProviderPopup>
@using SD.Shared.Models
@using SD.WEB.Modules.Suggestions.Core
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Suggestions.Components
@inject MyProvidersApi MyProvidersApi
@inject TmdbDiscoveryApi TmdbDiscoveryApi

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">@provider?.name</ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <Tabs @bind-SelectedTab="@selectedTab" Pills="true" FullWidth="true" Justified="true" RenderMode="TabsRenderMode.LazyLoad">
        <Items>
            <Tab Name="About">@GlobalTranslations.ProviderPopupTabAbout</Tab>
            <Tab Name="Details">@GlobalTranslations.ProviderPopupTabDetails</Tab>
            <Tab Name="Catalog">@GlobalTranslations.ProviderPopupTabCatalog</Tab>
        </Items>
        <Content>
            <TabPanel Name="About" Class="mt-3">
                <Row Margin="Margin.Is2.FromBottom" HorizontalGutter="4" VerticalGutter="4">
                    <Column ColumnSize="ColumnSize.IsAuto">
                        @if (!string.IsNullOrEmpty(provider?.logo_path))
                        {
                            <Image Source="@(TmdbOptions.OriginalPosterPath + provider.logo_path)" Text="@provider.name"></Image>
                        }
                    </Column>
                    <Column>
                        <Paragraph TextAlignment="TextAlignment.Justified" Margin="Margin.Is2.FromBottom">
                            @provider?.description
                        </Paragraph>
                        <Paragraph>
                            @if (string.IsNullOrEmpty(provider?.link))
                            {
                                <a href="@("https://www.google.com/search?q=streaming+" + provider?.name)" target="_blank" rel="noopener" style="float: left;">search on google</a>
                            }
                            else
                            {
                                <a href="@provider.link" target="_blank" rel="noopener" style="float: left;">@(new Uri(provider.link).Host)</a>
                            }
                        </Paragraph>
                    </Column>
                </Row>
            </TabPanel>
            <TabPanel Name="Details" Class="mt-3">
                <Divider DividerType="DividerType.TextContent" Text="@TranslationText.MediaTypes" />
                @foreach (var item in provider?.types ?? new List<MediaType>())
                {
                    <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd">@item.GetName()</Badge>
                }
                <Divider DividerType="DividerType.TextContent" Text="@TranslationText.Regions" />
                @foreach (var item in provider?.regions.OrderBy(o => o.GetName()).ToList() ?? new List<Region>())
                {
                    <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd">@item.GetName()</Badge>
                }
                <Divider DividerType="DividerType.TextContent" Text="@TranslationText.DeliveryModel" />
                @foreach (var item in provider?.models ?? new List<DeliveryModel>())
                {
                    <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd" title="@item.GetDescription()" Style="cursor: help;">
                        @item.GetName() <Blazorise.Icon Name="FontAwesomeIcons.QuestionCircle"></Blazorise.Icon>
                    </Badge>
                }
                @if (provider?.models.Any(a => a == DeliveryModel.SVOD) ?? false)
                {
                    <Divider DividerType="DividerType.TextContent" Text="@TranslationText.Plans" />
                    @if (provider.plans.Any())
                    {
                        @foreach (var item in provider.plans)
                        {
                            <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd">@item.name: @item.price.ToString("C", System.Globalization.CultureInfo.CreateSpecificCulture(provider.head_language?.GetName(false)??""))</Badge>
                        }
                    }
                    else
                    {
                        <Badge Color="Color.Danger">@TranslationText.NotFound</Badge>
                    }
                }
            </TabPanel>
            <TabPanel Name="Catalog" Class="mt-3">
                <MediaList TitleHead="@TranslationText.Popular" MediaListApi="TmdbDiscoveryApi" StringParameters="@GetExtraParameters(provider?.id, "popularity.desc")" MaxItens="50" ShowFilter="true"></MediaList>
                <MediaList TitleHead="@TranslationText.Release" MediaListApi="TmdbDiscoveryApi" StringParameters="@GetExtraParameters(provider?.id, "primary_release_date.desc")" MaxItens="50" ShowFilter="true"></MediaList>
                <MediaList TitleHead="@TranslationText.TopRated" MediaListApi="TmdbDiscoveryApi" StringParameters="@GetExtraParameters(provider?.id, "vote_average.desc")" MaxItens="50" ShowFilter="true"></MediaList>
            </TabPanel>
        </Content>
    </Tabs>
</ModalBody>
<ModalFooter>
    @if (myProviders?.Items.Any(a => a.id == provider?.id) ?? false)
    {
        <Button Color="Color.Danger" Clicked="Remove" Disabled="!IsUserAuthenticated" Size="Size.Small">
            <Blazorise.Icon Name="FontAwesomeIcons.Star"></Blazorise.Icon> @GlobalTranslations.ButtonRemove
        </Button>
    }
    else
    {
        <Button Color="Color.Primary" Clicked="Add" Disabled="!IsUserAuthenticated" Size="Size.Small">
            <Blazorise.Icon Name="FontAwesomeIcons.Star"></Blazorise.Icon> @GlobalTranslations.ButtonAdd
        </Button>
    }
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide" Size="Size.Small">@TranslationText.Close</Button>
</ModalFooter>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter] public ProviderModel? provider { get; set; }

    string selectedTab = "About";

    private MyProviders? myProviders { get; set; }
    public bool IsUserAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        if (provider == null) throw new ArgumentNullException(nameof(provider));

        IsUserAuthenticated = await AppState.IsUserAuthenticated();
    }

    protected override async Task LoadDataRender()
    {
        myProviders = await MyProvidersApi.Get(await AppState.IsUserAuthenticated());
    }

    private Dictionary<string, string> GetExtraParameters(string? provider_id, string sort_by)
    {
        if (provider_id == null) throw new ArgumentNullException(nameof(provider_id));

        return new Dictionary<string, string>() { { "with_watch_providers", provider_id }, { "sort_by", sort_by } };
    }

    private async Task Add()
    {
        try
        {
            myProviders ??= new();

            if (provider != null) myProviders.Items.Add(new MyProvidersItem() { id = provider.id, name = provider.name, logo = provider.logo_path });

            await MyProvidersApi.Post(myProviders);

            await Toast.Success("Provedor favoritado com sucesso!");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Remove()
    {
        try
        {
            myProviders ??= new();

            myProviders.Items.Remove(myProviders.Items.First(f => f.id == provider?.id));

            await MyProvidersApi.Post(myProviders);

            await Toast.Success("Provedor removido com sucesso!");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }
}