@page "/"
@page "/Index"
<SeoHeader Title="Home" Description="@SeoTranslations.Description" Url="/"></SeoHeader>
@inherits PageNoDataCore<Index>

@using SD.WEB.Modules.Profile.Core;
@using SD.WEB.Modules.Suggestions.Components;
@using SD.WEB.Modules.Provider.Components;
@using SD.WEB.Modules.News.Components;
@using SD.WEB.Modules.Trailers.Components

@*<GoogleAdsense></GoogleAdsense>*@

<Row VerticalGutter="4" HorizontalGutter="4" Margin="Margin.Is2.FromBottom">
    <Column ColumnSize="ColumnSize.IsAuto">
        <Select TValue="MediaType" @bind-SelectedValue="SearchType">
            @foreach (var item in EnumHelper.GetObjArray<MediaType>())
            {
                <SelectItem Value="@((MediaType)item.ValueObject)">@item.Name</SelectItem>
            }
        </Select>
    </Column>
    <Column>
        <TextEdit @bind-Text="@Search" Placeholder="@GlobalTranslations.TypeSomething" />
    </Column>
    <Column ColumnSize="ColumnSize.IsAuto">
        <Button Color="Color.Primary" Block="true" Clicked="ShowSearchPopup">
            @GlobalTranslations.ButtoSearch
        </Button>
    </Column>
</Row>

<PopularIndexComponent></PopularIndexComponent>

<Row HorizontalGutter="8" VerticalGutter="8">
    <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnDesktop">
        <TrailersComponent></TrailersComponent>
    </Column>
    <Column ColumnSize="ColumnSize.IsFull.OnMobile.IsHalf.OnDesktop">
        <NewsComponent></NewsComponent>
    </Column>
</Row>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter][SupplyParameterFromQuery(Name = "language")] public string? language { get; set; }

    public MediaType SearchType { get; set; } = MediaType.movie;
    public string? Search { get; set; }

    public async Task ShowSearchPopup()
    {
        await ModalService.Show<SearchPopup>(null,
            x =>
            {
                x.Add(x => x.TitleHead, "Busca por " + Search);
                x.Add(x => x.SearchType, SearchType);
                x.Add(x => x.Search, Search);
            },
            new ModalInstanceOptions()
                {
                    UseModalStructure = false,
                    Centered = true,
                    Size = ModalSize.ExtraLarge,
                });
    }
}