@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.JSInterop
@using SD.WEB.Modules.Auth.Core
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Subscription.Core

@implements IDisposable

@inject WatchingListApi WatchingApi
@inject PaymentPublicApi PaymentPublicApi
@inject PrincipalApi PrincipalApi

@inject NavigationManager Navigation
@inject IDialogService DialogService
@inject IJSRuntime JsRuntime
@inject ISnackbar Snackbar
@inject ILogger<HeadLayout> Logger

@if (_processing)
{
    <MudProgressLinear Color="Color.Secondary" Indeterminate="true" Style="position: fixed; z-index: 1400;" />
}
<MudAppBar Fixed="true" Elevation="1" Color="Color.Dark">

    <MudButton StartIcon="@Icons.Material.Filled.House" Color="@GetColor($"/{Culture}")" Href=@($"/{Culture}") Variant="@GetVariant($"/{Culture}")" Class="@menuClass" Disabled="_blockedActions">
        @Menu.Home
    </MudButton>
    <MudBadge Dot="true" Color="Color.Warning" Visible="@(MovieSync || ShowSync)">
        <MudButton StartIcon="@Icons.Material.Filled.Person" Color="@GetColor($"/{Culture}/profile")" Href=@($"/{Culture}/profile") Variant="@GetVariant($"/{Culture}/profile")" Class="@menuClass" Disabled="_blockedActions" Target="_self" Rel="nofollow">
            @Menu.Profile
        </MudButton>
    </MudBadge>
    <MudButton StartIcon="@Icons.Material.Filled.Movie" Color="@GetColor($"/{Culture}/platforms")" Href=@($"/{Culture}/platforms") Variant="@GetVariant($"/{Culture}/platforms")" Class="@menuClass" Disabled="_blockedActions" Rel="nofollow">
        @Menu.Platforms
    </MudButton>

    <MudSpacer />

    @if (!AppStateStatic.IsPremiumUser)
    {
        <MudIconButton Color="Color.Warning" Icon="@IconsFA.Solid.Icon("gem").Animation(IconAnimation.Fade).Font" Class="me-3" OnClick="@OpenSubscription" />
    }

    <AuthorizeView>
        <Authorized>
            <MudAvatar>
                <MudImage Src=@(AppStateStatic.User?.FindFirst(c => c.Type == "avatar")?.Value ?? "images/no-user.webp") onclick="@(() => { _open = true; })" Style="cursor: pointer;"></MudImage>
            </MudAvatar>
        </Authorized>
        <NotAuthorized>
            <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@(() => { _open = true; })" />
        </NotAuthorized>
    </AuthorizeView>
</MudAppBar>

<MudDrawer @bind-Open="@_open" Anchor="Anchor.Right" Elevation="1" Variant="@DrawerVariant.Temporary" OverlayAutoClose="true" Width="250px">
    <MudDrawerHeader>
        <MudText Typo="Typo.h6" Color="Color.Primary">@AppInfo.Title</MudText>
    </MudDrawerHeader>
    <MudNavMenu>
        <AuthorizeView>
            <Authorized>
                <div style="padding: 8px 16px 8px 16px; display: flex; align-items: center;">
                    <MudAvatar Size="Size.Small" Class="me-3">
                        <MudImage Src=@(AppStateStatic.User?.FindFirst(c => c.Type == "avatar")?.Value ?? "images/no-user.webp")></MudImage>
                    </MudAvatar>
                    <div>
                        <MudText Style="font-size: 14px;">
                            @AppStateStatic.User?.FindFirst(c => c.Type == "name")?.Value
                        </MudText>
                        <MudText Style="font-size: 14px;">
                            @AppStateStatic.User?.FindFirst(c => c.Type == System.Security.Claims.ClaimTypes.Email)?.Value
                        </MudText>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>

        <MudDivider></MudDivider>

        @if (AppStateStatic.IsPremiumUser)
        {
            <MudNavLink Icon="@Icons.Material.Filled.Diamond" OnClick="@OpenSubscription">
                My Subscription
            </MudNavLink>
        }
        else
        {
            <MudNavLink Icon="@Icons.Material.Filled.Diamond" OnClick="@OpenSubscription" IconColor="Color.Warning" Style="color: var(--mud-palette-warning)">
                Unlock Benefits
            </MudNavLink>
        }

        <MudDivider></MudDivider>

        <AuthorizeView>
            <Authorized>
                <MudNavLink Icon="@Icons.Material.Filled.VerifiedUser" OnClick="@MyAccount">
                    @Modules.Auth.Resources.Translations.MyAccount
                </MudNavLink>
            </Authorized>
        </AuthorizeView>
        <MudNavLink Icon="@Icons.Material.Filled.Settings" OnClick="@OpenConfigurations">
            Settings
        </MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.HelpCenter" Href=@($"/{Culture}/help")>
            Help Center
        </MudNavLink>

        <MudDivider></MudDivider>

        <AuthorizeView>
            <Authorized>
                <MudNavLink Icon="@Icons.Material.Filled.Logout" OnClick="@Logout" Disabled="_blockedActions">
                    @Button.Logout
                </MudNavLink>
            </Authorized>
            <NotAuthorized>
                <MudNavLink Icon="@Icons.Material.Filled.Login" OnClick="Login" Disabled="_blockedActions" IconColor="Color.Secondary" Style="color: var(--mud-palette-secondary)">
                    @Button.Login
                </MudNavLink>
            </NotAuthorized>
        </AuthorizeView>
    </MudNavMenu>
    <MudSpacer></MudSpacer>
    <MudText Typo="Typo.caption" Align="Align.Center" Class="mb-2">
        @($"Version: {AppStateStatic.Version}")
    </MudText>
</MudDrawer>

@code {
    [Parameter][SupplyParameterFromQuery(Name = "stripe_session_id")] public string? stripe_session_id { get; set; }
    private string Culture => Navigation.GetCulture();

    private bool _open = false;

    private int _processingCount = 0;
    private bool _processing => _processingCount > 0;

    private bool _blockedActions => Navigation.Uri.Contains("register-user") || Navigation.Uri.Contains("ask-consent");
    private string menuClass => AppStateStatic.Breakpoint == Breakpoint.Xs ? "icon-text-button" : "px-3";

    private WatchingList? Watching { get; set; }
    private bool MovieSync => (Watching?.CanSync(MediaType.movie) ?? false) && (Watching?.Items(MediaType.movie).Any() ?? false);
    private bool ShowSync => (Watching?.CanSync(MediaType.tv) ?? false) && (Watching?.Items(MediaType.tv).Any() ?? false);
    private readonly TaskHelper _taskHelper = new();
    protected readonly CancellationTokenSource cts = new();

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += delegate { StateHasChanged(); };

        AppStateStatic.BreakpointChanged.Subscribe(breakpoint => StateHasChanged(), cts.Token);

        PrincipalApi.DataChanged += principal => StateHasChanged();
        AppStateStatic.UserStateChanged.Subscribe(async () =>
        {
            await _taskHelper.RunSingleAsync("LoadAuthDataAsync", AppStateStatic.IsAuthenticated, LoadAuthDataAsync, cts.Token);
            await InvokeAsync(StateHasChanged);
        }, cts.Token);
        WatchingApi.DataChanged += model => { Watching = model; StateHasChanged(); };

        //avoid - Object reference not set to an instance of an object.
        //commit: breakpoint refactorer / ActionDispatcher and TaskDispatcher (2026-05-25)
        if (!Navigation.IsPrerendering())
        {
            AppStateStatic.ProcessingStarted.Subscribe(async () =>
            {
                Interlocked.Increment(ref _processingCount);
                await InvokeAsync(StateHasChanged);
            }, cts.Token);

            AppStateStatic.ProcessingFinished.Subscribe(async () =>
            {
                Interlocked.Decrement(ref _processingCount);
                await Task.Delay(200);
                await InvokeAsync(StateHasChanged);
            }, cts.Token);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            if (stripe_session_id.NotEmpty())
            {
                var success = await PaymentPublicApi.StripeValidateSession(stripe_session_id, cts.Token);

                if (success)
                {
                    await ShowSuccess("Subscription successful!");
                }
                else
                {
                    await ShowError("Something didn’t go as expected. If your payment wasn’t completed, please try again. You can also contact support for assistance.");
                }
            }

            await _taskHelper.RunSingleAsync("LoadAuthDataAsync", AppStateStatic.IsAuthenticated, LoadAuthDataAsync, cts.Token);
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected async Task LoadAuthDataAsync(CancellationToken token)
    {
        try
        {
            Watching = await WatchingApi.Get(null, token);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

    private async Task Login()
    {
        _open = false;
        Navigation.NavigateTo($"/{Culture}/auth/login?returnUrl={Uri.EscapeDataString(Navigation.Uri.Split('#')[0])}");
    }

    private async Task Logout()
    {
        _open = false;
        await JsRuntime.Supabase().SignOutAsync(cts.Token);
    }

    private async Task OpenConfigurations()
    {
        _open = false;
        await DialogService.SettingsPopup();
    }

    private async Task MyAccount()
    {
        _open = false;
        await DialogService.AccountPopup();
    }

    private Color GetColor(string endpoint)
    {
        return Focused(endpoint) ? Color.Primary : Color.Inherit;
    }

    private Variant GetVariant(string endpoint)
    {
        return Focused(endpoint) ? Variant.Filled : Variant.Text;
    }

    private bool Focused(string endpoint)
    {
        var uri = new Uri(Navigation.Uri);

        return string.Equals(uri.AbsolutePath, endpoint, StringComparison.OrdinalIgnoreCase);
    }

    private async Task OpenSubscription()
    {
        _open = false;
        await DialogService.SubscriptionPopup();
    }

    protected async Task ShowSuccess(string message)
    {
        Snackbar.Add(message, Severity.Success);

        await JsRuntime.Utils().PlayBeep(880, 100, "sine", cts.Token);
        await JsRuntime.Utils().Vibrate([40], cts.Token);
    }

    protected async Task ShowError(string message)
    {
        Snackbar.Add(message, Severity.Error);

        await JsRuntime.Utils().PlayBeep(220, 400, "square", cts.Token);
        await JsRuntime.Utils().Vibrate([200, 100, 200], cts.Token);
    }

    void IDisposable.Dispose()
    {
        cts.Cancel();
        cts.Dispose();
        GC.SuppressFinalize(this);
    }
}
