@using SD.Shared.Models.Auth
@using SD.WEB.Modules.Profile.Core;
@using SD.WEB.Modules.Suggestions.Core;
@inherits ComponenteCore<MySuggestions>

@inject IHttpClientFactory httpClientFactory

@inject MyProvidersApi MyProvidersApi
@inject MySuggestionsApi MySuggestionsApi
@inject TmdbDiscoveryApi TmdbDiscoveryApi
@inject TmdbApi TmdbApi

<HeaderComponent IconName="@FontAwesomeIcons.ThumbsUp" Title="@GlobalTranslations.MySuggestions">
    @if (Client?.ClientePaddle?.IsPaidUser ?? false)
    {
        <Button Float="Float.End" Size="Size.ExtraSmall" Color="(GenresChanged ? Color.Secondary : Color.Primary)" Clicked="@(async()=>await OpenConfigurations())" Disabled="(myProviders == null || myProviders.Items.Empty())" title="Settings">
            <Blazorise.Icon Name="FontAwesomeIcons.Cog"></Blazorise.Icon>
        </Button>
        <RadioGroup CheckedValue="SearchType" CheckedValueChanged="(MediaType type)=>CheckedValueChanged(type)" Buttons="true" Float="Float.End" Class="btn-group-xs" Margin="Margin.Is1.FromEnd">
            <Radio Value="MediaType.movie">@(MediaType.movie.GetName())</Radio>
            <Radio Value="MediaType.tv">@(MediaType.tv.GetName())</Radio>
        </RadioGroup>
        @if (SearchType == MediaType.movie && (mySuggestions == null || mySuggestions.MovieCanSync) && (myProviders?.Items.Any() ?? false))
        {
            <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Primary" Margin="Margin.Is1.FromEnd" Clicked="()=>ImportFromProviders(MediaType.movie)" title="@GlobalTranslations.ButtonUpdate" Disabled="MovieUpdating">
                @GlobalTranslations.ButtonUpdate
            </Button>
        }
        @if (SearchType == MediaType.tv && (mySuggestions == null || mySuggestions.ShowCanSync) && (myProviders?.Items.Any() ?? false))
        {
            <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Primary" Margin="Margin.Is1.FromEnd" Clicked="()=>ImportFromProviders(MediaType.tv)" title="@GlobalTranslations.ButtonUpdate" Disabled="ShowUpdating">
                @GlobalTranslations.ButtonUpdate
            </Button>
        }
    }
</HeaderComponent>

<RenderControl @ref="render" Core="Core" Model="mySuggestions" ExpressionEmpty="@((SD.Shared.Models.MySuggestions? obj) => obj == null || obj.Items(SearchType).Empty())"
               PrivateContent="true" PremiumFeature="true" PremiumDescription="@Resources.GlobalTranslations.OurSuggestions2">
    <Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is2.FromBottom">
        @foreach (var item in mySuggestions?.Items(SearchType).Where(w => !IsWatched(SearchType, w)).Take(GetTotalItems) ?? new List<SuggestionListItem>())
        {
            <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnDesktop.Is3.OnMobile">
                <Card>
                    <CardImage Source="@(TmdbOptions.OriginalPosterPath + item.logo)" Alt="@item.name" title="@item.name"
                               onclick="@(async()=>await ShowMediaPopup(item.id, item.name, SearchType))" Style="cursor: pointer;"></CardImage>
                    <CardBody Padding="Padding.Is1">
                        <Row HorizontalGutter="4" VerticalGutter="4">
                            @foreach (var item in item.Providers)
                            {
                                <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnWidescreen">
                                    <Image Source="@(TmdbOptions.OriginalPosterPath + item)" Style="width: 100%"></Image>
                                </Column>
                            }
                        </Row>
                    </CardBody>
                </Card>
            </Column>
        }
    </Row>
</RenderControl>

@code {
    private MyProviders? myProviders { get; set; }
    private SD.Shared.Models.MySuggestions? mySuggestions { get; set; }
    public MediaType SearchType { get; set; } = MediaType.movie;
    private int GetTotalItems => AppStateStatic.OnFullHD ? 12 : 8;

    [Parameter] public bool Fake { get; set; } = false;

    public bool MovieUpdating { get; set; } = false;
    public bool ShowUpdating { get; set; } = false;
    private RenderControl<SD.Shared.Models.MySuggestions?>? render;

    public RenderControlCore<SD.Shared.Models.MySuggestions?>? Core { get; set; } = new();
    [Parameter][EditorRequired] public WatchedList? Watched { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter][EditorRequired] public bool ShowPrivateAction { get; set; }

    public ClientePrincipal? Client { get; set; }

    private bool GenresChanged => mySuggestions?.MovieGenres.Any() ?? false | mySuggestions?.TvGenres.Any() ?? false;

    protected override void OnInitialized()
    {
        PrincipalApi.DataChanged += async (ClientePrincipal? model) => { Client = model; await LoadData(model); StateHasChanged(); };
    }

    protected override async Task LoadDataRender()
    {
        await LoadData(null);
    }

    private async Task LoadData(ClientePrincipal? client)
    {
        Core?.ShowLoading();

        if (Fake)
        {
            var http = httpClientFactory.CreateClient("RetryHttpClient");

            mySuggestions = await http.GetFromJsonAsync<SD.Shared.Models.MySuggestions>("/data/MySuggestions.json");
        }
        else
        {
            myProviders = await MyProvidersApi.Get(IsAuthenticated, null);

            if (myProviders == null || myProviders.Items.Empty())
            {
                Core?.ShowWarning(Resources.GlobalTranslations.OurSuggestions1);
            }
            else
            {
                if (client != null && render != null) render.Status = LoadingStatus.Loading; //force reset Premium status

                client ??= await PrincipalApi.Get(IsAuthenticated);
                mySuggestions = await MySuggestionsApi.Get(client?.ClientePaddle?.ActiveProduct, IsAuthenticated, Core);

                if (mySuggestions == null || mySuggestions.Items(SearchType).Empty())
                {
                    Core?.ShowWarning(Resources.GlobalTranslations.OurSuggestions2);
                }
            }
        }

        Core?.HideLoading(mySuggestions);
    }

    public Task ShowMediaPopup(string? tmdb_id, string? name, MediaType type)
    {
        if (string.IsNullOrEmpty(tmdb_id)) return default!;

        return ModalService.MediaPopup(Watched, Watching, Wish, type, tmdb_id, ShowPrivateAction);
    }

    private Dictionary<string, string> GetExtraParameters(string? provider_id, string sort_by)
    {
        if (provider_id == null) throw new ArgumentNullException(nameof(provider_id));

        var genres = "";

        if (SearchType == MediaType.movie)
        {
            genres = string.Join("|,", mySuggestions?.MovieGenres.Select(s => (int)s) ?? Enumerable.Empty<int>());
        }
        else
        {
            genres = string.Join("|,", mySuggestions?.TvGenres.Select(s => (int)s) ?? Enumerable.Empty<int>());
        }

        return new Dictionary<string, string>() { { "with_watch_providers", provider_id }, { "sort_by", sort_by }, { "with_genres", genres } };
    }

    private async Task ImportFromProviders(MediaType type)
    {
        try
        {
            mySuggestions ??= new();

            var qtd = 0;
            if (Client?.ClientePaddle?.ActiveProduct == AccountProduct.Standard) qtd = AccountProduct.Standard.GetRestrictions().MySuggestions;
            if (Client?.ClientePaddle?.ActiveProduct == AccountProduct.Premium) qtd = AccountProduct.Premium.GetRestrictions().MySuggestions;

            if (type == MediaType.movie)
            {
                mySuggestions.Movies.Clear();
                MovieUpdating = true;
                Core?.ShowProcessing();

                var titles = new HashSet<MediaDetail>();
                foreach (var provider in myProviders?.Items ?? new())
                {
                    var result = await TmdbDiscoveryApi.GetList(new(), MediaType.movie, GetExtraParameters(provider.id, "vote_average.desc"));

                    foreach (var item in result.list)
                    {
                        titles.Add(item);
                    }
                }

                foreach (var item in titles.OrderByDescending(o => o.rating))
                {
                    if (Watched != null && Watched.Movies.Any(a => a == item.tmdb_id)) continue;
                    if (Wish != null && Wish.Movies.Any(a => a.id == item.tmdb_id)) continue;

                    if (mySuggestions.Movies.Count < qtd)
                    {
                        var providers = await TmdbApi.GetWatchProvidersList(item.tmdb_id, MediaType.movie);
                        if (providers != null && myProviders != null)
                        {
                            var FreeList = providers.GetFreeListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var AdsList = providers.GetAdsListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var FlatRateList = providers.GetFlatRateListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var FlatRateBuyList = providers.GetFlatRateBuyListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var RentList = providers.GetRentListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var BuyList = providers.GetBuyListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));

                            var allProviders = FreeList.Concat(AdsList).Concat(FlatRateList).Concat(FlatRateBuyList).Concat(RentList).Concat(BuyList) ?? new List<SD.Shared.Models.List.Tmdb.ProviderBase>();

                            mySuggestions.Items(MediaType.movie).Add(new SuggestionListItem(item.tmdb_id, item.title, item.poster_small, allProviders.Select(s => s.logo_path ?? "").Distinct().ToArray()));
                        }
                    }
                }

                if (mySuggestions.Items(MediaType.movie).Empty()) Core?.ShowWarning(null);

                mySuggestions = await MySuggestionsApi.Sync(MediaType.movie, mySuggestions, Core);
                MovieUpdating = false;
                Core?.HideProcessing(mySuggestions);
            }
            else
            {
                mySuggestions.Shows.Clear();
                ShowUpdating = true;
                Core?.ShowProcessing();

                var titles = new HashSet<MediaDetail>();
                foreach (var provider in myProviders?.Items ?? new())
                {
                    var result = await TmdbDiscoveryApi.GetList(new(), MediaType.tv, GetExtraParameters(provider.id, "vote_average.desc"));

                    foreach (var item in result.list)
                    {
                        titles.Add(item);
                    }
                }

                foreach (var item in titles.OrderByDescending(o => o.rating))
                {
                    if (Watched != null && Watched.Shows.Any(a => a == item.tmdb_id)) continue;
                    if (Wish != null && Wish.Shows.Any(a => a.id == item.tmdb_id)) continue;

                    if (mySuggestions.Shows.Count < qtd)
                    {
                        var providers = await TmdbApi.GetWatchProvidersList(item.tmdb_id, MediaType.tv);
                        if (providers != null && myProviders != null)
                        {
                            var FreeList = providers.GetFreeListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var AdsList = providers.GetAdsListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var FlatRateList = providers.GetFlatRateListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var FlatRateBuyList = providers.GetFlatRateBuyListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var RentList = providers.GetRentListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                            var BuyList = providers.GetBuyListProviders(AppStateStatic.Region).Where(w => myProviders.Items.Any(a => a.id == w.provider_id.ToString()));

                            var allProviders = FreeList.Concat(AdsList).Concat(FlatRateList).Concat(FlatRateBuyList).Concat(RentList).Concat(BuyList) ?? new List<SD.Shared.Models.List.Tmdb.ProviderBase>(); ;

                            mySuggestions.Items(MediaType.tv).Add(new SuggestionListItem(item.tmdb_id, item.title, item.poster_small, allProviders.Select(s => s.logo_path ?? "").Distinct().ToArray()));
                        }
                    }
                }

                if (mySuggestions.Items(MediaType.tv).Empty()) Core?.ShowWarning(null);

                mySuggestions = await MySuggestionsApi.Sync(MediaType.tv, mySuggestions, Core);
                ShowUpdating = false;
                Core?.HideProcessing(mySuggestions);
            }
        }
        catch (Exception ex)
        {
            MovieUpdating = false;
            ShowUpdating = false;
            Core?.ShowError(ex.Message);
            ex.ProcessException(Toast, Logger);
        }
    }

    private bool IsWatched(MediaType type, SuggestionListItem item)
    {
        if (type == MediaType.movie)
        {
            if (Watched != null && Watched.Movies.Any(a => a == item.id)) return true;
            if (Wish != null && Wish.Movies.Any(a => a.id == item.id)) return true;

            return false;
        }
        else
        {
            if (Watched != null && Watched.Shows.Any(a => a == item.id)) return true;
            if (Wish != null && Wish.Shows.Any(a => a.id == item.id)) return true;

            return false;
        }
    }

    private async Task OpenConfigurations()
    {
        mySuggestions ??= new();

        await ModalService.MySuggestionsPopup(mySuggestions,
            new EventCallbackFactory().Create(this, async (SD.Shared.Models.MySuggestions value) => await UpdateMySuggestions(value)));
    }

    private async Task UpdateMySuggestions(SD.Shared.Models.MySuggestions obj)
    {
        mySuggestions = await MySuggestionsApi.Add(obj);

        StateHasChanged();

        await Toast.Warning(GlobalTranslations.UpdateMySuggestions);
    }

    private void CheckedValueChanged(MediaType type)
    {
        SearchType = type;
        Core?.LoadingFinished?.Invoke(mySuggestions);
    }
}
