@inherits ComponenteNoDataCore<MyWatchingListPopup>

<ModalHeader>
    <ModalTitle>@Title.Format(GetList().Count())</ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <Row HorizontalGutter="4" VerticalGutter="4">
        @foreach (var item in GetList())
        {
            var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
            int percentComplete = (int)Math.Round((double)(100 * item.watched.Count) / item.maxItems);
            var resultPerc = $"{percentComplete}%";

            <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnDesktop.Is4.OnMobile">
                <Card Style="position: relative;">
                    <Badge Color="Color.Light" TextColor="TextColor.Dark" Padding="Padding.Is1" Style="font-size: 10px; position: absolute; top: 3px; left: 3px;">@resultPerc</Badge>

                    @if (string.IsNullOrEmpty(item.logo))
                    {
                        <CardImage data-src="nopicture.jpg" class="lazyload" Alt="@item.name" title="@item.name" Style="cursor: pointer;"></CardImage>

                        <Div Style="position: absolute; left: 0; right: 0; margin-left: auto; margin-right: auto; top: 115px;">
                            @item.name
                        </Div>
                    }
                    else
                    {
                        <CardImage Source="@logo" Alt="@item.name" title="@item.name"
                           onclick="@(async()=>await ShowCollectionPopup(item.id, item.name, MediaType))" Style="cursor: pointer;"></CardImage>
                    }
                </Card>
            </Column>
        }
    </Row>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide">@TranslationText.Close</Button>
</ModalFooter>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter] public MediaType MediaType { get; set; }

    public string Title => MediaType == MediaType.movie ? GlobalTranslations.MyMovieWatching : GlobalTranslations.MyShowWatching;

    protected override void OnInitialized()
    {
        AppState.WishListChanged += StateHasChanged;
        AppState.WatchedListChanged += StateHasChanged;

        base.OnInitialized();
    }

    private HashSet<WatchingListItem> GetList()
    {
        if (MediaType == MediaType.movie)
            return AppState.WatchingList?.Movies ?? new HashSet<WatchingListItem>();
        else
            return AppState.WatchingList?.Shows ?? new HashSet<WatchingListItem>();
    }

    public Task ShowCollectionPopup(string? tmdb_id, string? name, MediaType type)
    {
        if (string.IsNullOrEmpty(tmdb_id)) return default!;

        return ModalService.Show<Suggestions.Components.CollectionPopup>(name,
            x =>
            {
                x.Add(x => x.tmdb_id, tmdb_id);
                x.Add(x => x.type, type);
            },
            new ModalInstanceOptions()
                {
                    UseModalStructure = false,
                    Centered = true,
                    Size = ModalSize.Large,
                });
    }
}
