@inherits ComponenteCore<MyWatchingListPopup>

<ModalHeader>
    <ModalTitle>@Title.Format(GetList().Count())</ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <Loading @ref="Loading">
        <Row HorizontalGutter="4" VerticalGutter="4">
            @foreach (var item in GetList())
            {
                var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnDesktop.Is4.OnMobile">
                    <Card>
                        <PosterComponent Poster="@logo" Title="@item.name" TmdbId="@item.id" MediaType="@MediaType.movie"
                                     Clicked="@(async()=>await ShowCollectionPopup(item.id, item.name, MediaType))"></PosterComponent>
                    </Card>
                </Column>
            }
        </Row>
    </Loading>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@ModalService.Hide">@TranslationText.Close</Button>
</ModalFooter>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter] public MediaType MediaType { get; set; }

    public Loading? Loading { get; set; }
    public string Title => MediaType == MediaType.movie ? GlobalTranslations.MyMovieWatching : GlobalTranslations.MyShowWatching;

    protected override void OnInitialized()
    {
        AppState.WishListChanged += () =>
        {
            Loading?.Finish(!GetList().Any());
            StateHasChanged();
        };
        AppState.WatchedListChanged += StateHasChanged;

        base.OnInitialized();
    }

    private HashSet<WatchingListItem> GetList()
    {
        if (MediaType == MediaType.movie)
            return AppState.WatchingList?.Movies ?? new HashSet<WatchingListItem>();
        else
            return AppState.WatchingList?.Shows ?? new HashSet<WatchingListItem>();
    }

    protected override async Task LoadData()
    {
        Loading?.Start();

        AppState.ChangeWatchingList(await WatchingListApi.Get(await AppState.IsUserAuthenticated()));
        AppState.ChangeWishList(await WishListApi.Get(await AppState.IsUserAuthenticated()));
        AppState.ChangeWatchedList(await WatchedListApi.Get(await AppState.IsUserAuthenticated()));

        Loading?.Finish(!GetList().Any());
    }

    public Task ShowCollectionPopup(string? tmdb_id, string? name, MediaType type)
    {
        if (string.IsNullOrEmpty(tmdb_id)) return default!;

        return ModalService.Show<Suggestions.Components.CollectionPopup>(name,
            x =>
            {
                x.Add(x => x.tmdb_id, tmdb_id);
                x.Add(x => x.type, type);
            },
            new ModalInstanceOptions()
                {
                    UseModalStructure = false,
                    Centered = true,
                    Size = ModalSize.Large,
                });
    }
}
