@using SD.WEB.Modules.Profile.Core;
@using SD.WEB.Modules.Provider.Core;
@inherits ComponenteNoDataCore<MyWishListComponent>
@inject AppState State

<HeaderComponent IconName="@FontAwesomeIcons.Bookmark" Title="@GlobalTranslations.MyMovieWishlist.Format(AppState.WishList?.Movies.Count() ?? 0)">
    <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@(async()=>await OpenCompleteList(MediaType.movie))" title="@GlobalTranslations.SeeAllItems" Disabled="(!AppState.WishList?.Movies.Any()??true)" Class="ml-1">
        <Blazorise.Icon Name="FontAwesomeIcons.ExpandArrowsAlt"></Blazorise.Icon>
    </Button>
    <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@(async()=>await ChooseRandomTitle(MediaType.movie))" title="@GlobalTranslations.PickARandom" Disabled="(!AppState.WishList?.Movies.Any()??true)">
        <Blazorise.Icon Name="FontAwesomeIcons.Random"></Blazorise.Icon>
    </Button>
</HeaderComponent>
<Loading IsEmptyFilter="@(AppState.WishList != null && !AppState.WishList.Movies.Any())" UnauthenticatedUser="!IsUserAuthenticated">
    <Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is2.FromBottom">
        @foreach (var item in AppState.WishList?.Movies.Take(GetTotalItems) ?? new List<WishListItem>())
        {
            var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
            <Column ColumnSize="ColumnSize.Is2.OnFullHD.Is3.OnDesktop.Is4.OnMobile">
                <Card>
                    <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="@MediaType.movie"
                                 Clicked="@(async()=>await ShowMediaPopup(item.id, item.name, MediaType.movie))" ShowWished="false"></PosterComponent>
                </Card>
            </Column>
        }
    </Row>
</Loading>

<HeaderComponent IconName="@FontAwesomeIcons.Bookmark" Title="@GlobalTranslations.MyShowWishlist.Format(AppState.WishList?.Shows.Count() ?? 0)">
    <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@(async()=>await OpenCompleteList(MediaType.tv))" title="@GlobalTranslations.SeeAllItems" Disabled="(!AppState.WishList?.Shows.Any()??true)" Class="ml-1">
        <Blazorise.Icon Name="FontAwesomeIcons.ExpandArrowsAlt"></Blazorise.Icon>
    </Button>
    <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@(async()=>await ChooseRandomTitle(MediaType.tv))" title="@GlobalTranslations.PickARandom" Disabled="(!AppState.WishList?.Shows.Any()??true)">
        <Blazorise.Icon Name="FontAwesomeIcons.Random"></Blazorise.Icon>
    </Button>
</HeaderComponent>
<Loading IsEmptyFilter="@(AppState.WishList != null && !AppState.WishList.Shows.Any())" UnauthenticatedUser="!IsUserAuthenticated">
    <Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is2.FromBottom">
        @foreach (var item in AppState.WishList?.Shows.Take(GetTotalItems) ?? new List<WishListItem>())
        {
            var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
            <Column ColumnSize="ColumnSize.Is2.OnFullHD.Is3.OnDesktop.Is4.OnMobile">
                <Card>
                    <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="@MediaType.movie"
                                 Clicked="@(async()=>await ShowMediaPopup(item.id, item.name, MediaType.tv))" ShowWished="false"></PosterComponent>
                </Card>
            </Column>
        }
    </Row>
</Loading>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter] public bool Fake { get; set; } = false;

    private int GetTotalItems => AppStateStatic.OnFullHD ? 6 : 3;
    private bool IsUserAuthenticated { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AppState.WishListChanged += StateHasChanged;
        AppState.WatchedListChanged += StateHasChanged;

        if (Fake)
            IsUserAuthenticated = true;
        else
            IsUserAuthenticated = await State.IsUserAuthenticated();

        await base.OnInitializedAsync();
    }

    private async Task OpenCompleteList(MediaType mediaType)
    {
        await ModalService.Show<MyWishListPopup>(null,
        x =>
        {
            x.Add(x => x.MediaType, mediaType);
        },
        new ModalInstanceOptions()
            {
                UseModalStructure = false,
                Centered = true,
                Size = ModalSize.ExtraLarge,
            });
    }

    public async Task ChooseRandomTitle(MediaType type)
    {
        if (AppState.WishList == null) return;

        var random = new Random();

        if (type == MediaType.movie)
        {
            var index = random.Next(AppState.WishList.Movies.Count);
            var media = AppState.WishList.Movies.ToList()[index];
            await ShowMediaPopup(media?.id, media?.name, MediaType.movie);
        }
        else
        {
            var index = random.Next(AppState.WishList.Shows.Count);
            var media = AppState.WishList.Shows.ToList()[index];
            await ShowMediaPopup(media?.id, media?.name, MediaType.tv);
        }
    }

    public Task ShowMediaPopup(string? tmdb_id, string? name, MediaType type)
    {
        if (string.IsNullOrEmpty(tmdb_id)) return default!;

        return ModalService.Show<Suggestions.Components.MediaPopup>(name,
            x =>
            {
                x.Add(x => x.tmdb_id, tmdb_id);
                x.Add(x => x.type, type);
            },
            new ModalInstanceOptions()
                {
                    UseModalStructure = false,
                    Centered = true,
                    Size = ModalSize.Large,
                });
    }
}
