@page "/{culture}/profile"

@using SD.Shared.Resources.Enum
@using SD.WEB.Modules.Profile.Components
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Profile.Resources
@using SD.WEB.Modules.Subscription.Core
@using SD.WEB.Shared.Core
@using SD.WEB.Modules.Collections.Core
@using SD.WEB.Modules.Platform.Core
@inherits PageCore<Profile>

@inject AllProvidersApi AllProvidersApi
@inject MyProvidersApi MyProvidersApi
@inject WatchingListApi WatchingApi
@inject WishListApi WishApi
@inject PaymentConfigurationApi ConfigurationApi
@inject ImdbPopularApi ImdbPopularApi
@inject WatchingListApi WatchingListApi
@inject IpInfoApi IpInfoApi

<HeadComponent Title="@SeoTranslations.ProfileTitle" Url=@($"/{Culture}/profile") Index="false"></HeadComponent>

<MudGrid Spacing="@Css.SpaceSmall" Class="@Css.Build().Large("mb")">
    <MudItem xs="6" md="4">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@Icons.Material.Filled.Movie" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    @Translations.Platforms
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(MyProviders?.Items.Count ?? 0)
            </MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" md="4">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@Icons.Material.Filled.Bookmark" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    @Translations.Wishlist
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Wish?.Movies.Count ?? 0) @PopularType.MovieName
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Wish?.Shows.Count ?? 0) @PopularType.ShowName
            </MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" md="4">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@Icons.Material.Filled.RemoveRedEye" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    @Translations.Following
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Watching?.Movies.Count ?? 0) @PopularType.MovieName
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Watching?.Shows.Count ?? 0) @PopularType.ShowName
            </MudChip>
        </MudPaper>
    </MudItem>
</MudGrid>

<MyProviderComponent WatchingList="Watching" WishList="Wish" Culture="@Culture" Actions="ProviderActions"></MyProviderComponent>

<MudGrid Spacing="@Css.SpaceSmall">
    <MudItem xs="12" md="6">
        <WishlistComponent ShowHeader="true" FullScreen="false" Watching="Watching" Wish="Wish" ActionsMovie="WishActionsMovie" ActionsTv="WishActionsTv" Culture="@Culture">
        </WishlistComponent>
    </MudItem>
    <MudItem xs="12" md="6">
        <WatchingComponent ShowHeader="true" FullScreen="false" Watching="Watching" Wish="Wish" ActionsMovie="WatchingActionsMovie" ActionsTv="WatchingActionsTv" Culture="@Culture">
        </WatchingComponent>
    </MudItem>
</MudGrid>

@code {
    public ComponentActions<MyProviders?> ProviderActions { get; set; } = new(obj => obj == null || obj.Items.Empty());

    public ComponentActions<WishList?> WishActionsMovie { get; set; } = new(list => list == null || list.Movies.Empty());
    public ComponentActions<WishList?> WishActionsTv { get; set; } = new(list => list == null || list.Shows.Empty());

    public ComponentActions<WatchingList?> WatchingActionsMovie { get; set; } = new(list => list == null || list.Movies.Empty());
    public ComponentActions<WatchingList?> WatchingActionsTv { get; set; } = new(list => list == null || list.Shows.Empty());

    private MyProviders? MyProviders { get; set; }
    public WatchingList? Watching { get; set; }
    public WishList? Wish { get; set; }

    public bool Reviewed { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        WatchingApi.DataChanged += model =>
        {
            WatchingActionsMovie.StartLoading.Invoke(null);
            WatchingActionsTv.StartLoading.Invoke(null);
            Watching = model;
            WatchingActionsMovie.FinishLoading.Invoke(model);
            WatchingActionsTv.FinishLoading.Invoke(model);
            StateHasChanged();
        };
        WishApi.DataChanged += model =>
        {
            WishActionsMovie.StartLoading.Invoke(null);
            WishActionsTv.StartLoading.Invoke(null);
            Wish = model;
            WishActionsMovie.FinishLoading.Invoke(model);
            WishActionsTv.FinishLoading.Invoke(model);
            StateHasChanged();
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (AppStateStatic.IsAuthenticated)
        {
            var subscriptionPopup = await JsRuntime.Utils().GetStorage("subscription-popup", JavascriptContext.Default.Boolean, cts.Token);

            if (!subscriptionPopup)
            {
                await DialogService.SubscriptionPopup();
                await JsRuntime.Utils().SetStorage("subscription-popup", true, JavascriptContext.Default.Boolean, cts.Token);
            }
        }

        await base.OnAfterRenderAsync(firstRender);
    }

    protected override async Task ProcessPageData()
    {
        Reviewed = await JsRuntime.Utils().GetStorage("reviewed", JavascriptContext.Default.Boolean, cts.Token);
    }

    protected override async Task LoadAuthDataAsync(CancellationToken token)
    {
        var demo = false;
       
        await WishActionsMovie.StartLoading.Invoke(null);
        await WishActionsTv.StartLoading.Invoke(null);
        await WatchingActionsMovie.StartLoading.Invoke(null);
        await WatchingActionsTv.StartLoading.Invoke(null);

        Wish = await WishApi.Get(null, token);
        Watching = await WatchingApi.Get(null, token);

        if (Wish == null && AppStateStatic.IsAuthenticated)
        {
            Wish ??= new WishList();

            var result = await ImdbPopularApi.GetList([], null, SD.Shared.Enums.MediaType.movie);
            var media = result.list.FirstOrDefault();

            if (media != null)
            {
                var item = new WishListItem(media.tmdb_id, media.title, media.poster_small, media.runtime);

                Wish = await WishApi.Add(SD.Shared.Enums.MediaType.movie, Wish, item, null, cts.Token);

                demo = true;
            }
        }

        if (Watching == null && AppStateStatic.IsAuthenticated)
        {
            //todo: generate demo
        }

        await WishActionsMovie.FinishLoading.Invoke(Wish);
        await WishActionsTv.FinishLoading.Invoke(Wish);
        await WatchingActionsMovie.FinishLoading.Invoke(Watching);
        await WatchingActionsTv.FinishLoading.Invoke(Watching);

        MyProviders = await MyProvidersApi.Get(null, token);

        if (MyProviders == null && AppStateStatic.IsAuthenticated)
        {
            await ProviderActions.StartLoading.Invoke(null);

            MyProviders ??= new MyProviders();

            var AllProviders = await AllProvidersApi.GetAll(null, cts.Token);
            var region = await AppStateStatic.GetRegion(IpInfoApi, JsRuntime, cts.Token);

            var provider = AllProviders?.Items.Where(p => p.regions.Contains(region)).OrderBy(o => o.priority).FirstOrDefault();

            var item = new MyProvidersItem { id = provider?.id, name = provider?.name, logo = provider?.logo_path, region = region };
            MyProviders = await MyProvidersApi.Add(MyProviders, item, AppStateStatic.ActiveProduct, ApiContext.Default.MyProvidersItem, cts.Token);

            demo = true;

            await ProviderActions.FinishLoading.Invoke(MyProviders);
        }

        if (demo)
        {
            await ShowInfo(Resources.Translations.DemoAlert);
        }
    }

    // private async Task SetReviewed()
    // {
    //     await JsRuntime.InvokeAsync<string>("SetLocalStorage", "reviewed", "true");
    //     Reviewed = "true";
    // }
}
