@page "/profile"

@using SD.Shared.Resources.Enum
@using SD.WEB.Modules.Profile.Components
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Profile.Resources
@using SD.WEB.Modules.Subscription.Core
@inherits PageCore<Profile>

@inject MyProvidersApi MyProvidersApi
@inject WatchedListApi WatchedApi
@inject WatchingListApi WatchingApi
@inject WishListApi WishApi
@inject PaymentConfigurationApi ConfigurationApi

<SeoHeader Title="@SeoTranslations.ProfileTitle" Description="@SeoTranslations.ProfileDescription" Url="/profile" Index="false" Keywords="@([])"></SeoHeader>

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Profile"></GoogleAdSense>

<MudGrid Spacing="@Css.SpaceSmall" Class="@Css.Build().Large("mb")">
    <MudItem xs="6" md="3">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@IconsFA.Solid.Icon("clapperboard").Font" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    @Translations.Platforms
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(MyProviders?.Items.Count ?? 0)
            </MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" md="3">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@IconsFA.Solid.Icon("bookmark").Font" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    @Translations.Wishlist
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Wish?.Movies.Count ?? 0) @PopularType.MovieName
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Wish?.Shows.Count ?? 0) @PopularType.ShowName
            </MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" md="3">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@IconsFA.Solid.Icon("eye").Font" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    @Translations.Watching
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Watching?.Movies.Count ?? 0) @PopularType.MovieName
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Watching?.Shows.Count ?? 0) @PopularType.ShowName
            </MudChip>
        </MudPaper>
    </MudItem>
    <MudItem xs="6" md="3">
        <MudPaper Outlined="true" Class="pa-1">
            <div class="d-flex" style="align-self: center;">
                <MudIcon Icon="@IconsFA.Solid.Icon("clock-rotate-left").Font" Color="Color.Primary" Class="me-2"></MudIcon>
                <MudText Typo="Typo.subtitle1" Color="Color.Primary">
                    @Translations.Watched
                </MudText>
            </div>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Watched?.Movies.Count ?? 0) @PopularType.MovieName
            </MudChip>
            <MudChip T="string" Color="Color.Secondary" Label="true" Style="padding: 0.2rem; height: auto;" Size="AppStateStatic.Size">
                @(Watched?.Shows.Count ?? 0) @PopularType.ShowName
            </MudChip>
        </MudPaper>
    </MudItem>
</MudGrid>

<MyProviderComponent WatchedList="Watched" WatchingList="Watching" WishList="Wish"></MyProviderComponent>

<MySuggestions Watched="Watched" Watching="Watching" Wish="Wish"></MySuggestions>

<MudGrid Spacing="@Css.SpaceSmall">
    <MudItem xs="12" md="6">
        <WishlistComponent ShowHeader="true" FullScreen="false" Watched="Watched" Watching="Watching" Wish="Wish"
                           Actions="WishActions" ExpressionEmpty="(WishList? list) => list == null || list.Movies.Empty()">
        </WishlistComponent>
    </MudItem>
    <MudItem xs="12" md="6">
        <WatchingComponent ShowHeader="true" FullScreen="false" Watched="Watched" Watching="Watching" Wish="Wish"
                           Actions="WatchingActions" ExpressionEmpty="(WatchingList? list) => list == null || list.Movies.Empty()">
        </WatchingComponent>
    </MudItem>
</MudGrid>

@code {
    public ComponentActions<WatchingList?> WatchingActions { get; set; } = new();
    public ComponentActions<WishList?> WishActions { get; set; } = new();

    private MyProviders? MyProviders { get; set; }
    public WatchedList? Watched { get; set; }
    public WatchingList? Watching { get; set; }
    public WishList? Wish { get; set; }

    public bool Reviewed { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        WatchedApi.DataChanged += model =>
        {
            Watched = model;
            // CoreWatched?.LoadingFinished?.Invoke(model);
            StateHasChanged();
        };
        WatchingApi.DataChanged += model =>
        {
            Watching = model;
            WatchingActions?.FinishLoading?.Invoke(model);
            StateHasChanged();
        };
        WishApi.DataChanged += model =>
        {
            Wish = model;
            WishActions?.FinishLoading?.Invoke(model);
            StateHasChanged();
        };
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (AppStateStatic.IsAuthenticated)
    //     {
    //         var subscription = await JsRuntime.Utils().GetLocalStorage("subscription-popup");

    //         if (subscription.Empty())
    //         {
    //             await DialogService.SubscriptionPopup();
    //             await JsRuntime.Utils().SetLocalStorage("subscription-popup", true.ToString().ToLower());
    //         }
    //     }

    //     await base.OnAfterRenderAsync(firstRender);
    // }

    protected override async Task LoadNonEssentialDataAsync()
    {
        Reviewed = await JsRuntime.Utils().GetStorage<bool>("reviewed");
    }

    protected override async Task LoadAuthDataAsync()
    {
        WatchingActions?.StartLoading?.Invoke(null);
        WishActions?.StartLoading?.Invoke(null);
        (Watched, Watching, Wish) = await (WatchedApi.Get(AppStateStatic.IsAuthenticated), WatchingApi.Get(AppStateStatic.IsAuthenticated), WishApi.Get(AppStateStatic.IsAuthenticated));
        WishActions?.FinishLoading?.Invoke(Wish);
        WatchingActions?.FinishLoading?.Invoke(Watching);

        MyProviders = await MyProvidersApi.Get(AppStateStatic.IsAuthenticated);
    }

    // private async Task SetReviewed()
    // {
    //     await JsRuntime.InvokeAsync<string>("SetLocalStorage", "reviewed", "true");
    //     Reviewed = "true";
    // }
}
