@using SD.WEB.Modules.Platform.Core
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Profile.Resources
@using SD.WEB.Modules.Subscription.Core
@using SD.WEB.Shared.Core
@inherits ComponentCore<MyProviderComponent>

@inject MyProvidersApi MyProvidersApi
@inject AllProvidersApi AllProvidersApi
@inject IpInfoApi IpInfoApi

<PageSectionComponent Title="@Translations.MyPlatforms" ShowActions="ProvidersChanged" Icon="@Icons.Material.Filled.Movie">
    <ActionsFragment>
        <MudIconButton Icon="@Icons.Material.Filled.Refresh" Color="Color.Warning" Variant="Variant.Filled" OnClick="UpdateProviders" />
    </ActionsFragment>
    <BodyFragment>
        <RenderControl Actions="Actions" PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated">
            <Slider List="MyProviders?.Items.Take(AccountProduct.Premium.GetRestrictions().FavoriteProviders) ?? new List<MyProvidersItem>()" Context="item">
                <div style="@($"width: 95px")">
                    <div style="position: relative; cursor: pointer;" @onclick="@(() => ShowProviderPopup(item))">
                        <MudChip T="string" Color="Color.Info" Label="true" Style="padding: 0.2rem; position: absolute; top: 0; left: 0; height: auto; z-index: 1;" Size="AppStateStatic.Size">
                            @item.region?.ToString()
                        </MudChip>
                        @if (AllProviders != null && (AllProviders.Items.All(a => a.id != item.id) || !AllProviders.Items.Any(a => a.id == item.id && a.regions.Contains(item.region ?? Region))))
                        {
                            <MudChip T="string" Color="Color.Error" Style="padding: 0.2rem; position: absolute; bottom: 5px; height: auto; z-index: 1; width: 90%;" Size="AppStateStatic.Size">
                                <MudIcon Icon="@Icons.Material.Filled.Error"></MudIcon> Deleted
                            </MudChip>
                        }
                        <MudImage Src="@(TmdbOptions.OriginalPosterPath + item.logo)" Alt="@item.name" FallbackSrc="images/no-image.webp"
                                  Style="vertical-align: bottom; width: 95px; height: 95px;"></MudImage>
                    </div>
                </div>
            </Slider>
        </RenderControl>
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public WatchingList? WatchingList { get; set; }
    [Parameter][EditorRequired] public WishList? WishList { get; set; }
    [Parameter][EditorRequired] public string? Culture { get; set; }

    private ComponentActions<MyProviders?> Actions { get; set; } = new(obj => obj == null || obj.Items.Empty());
    private AllProviders? AllProviders { get; set; }
    private MyProviders? MyProviders { get; set; }
    private bool ProvidersChanged { get; set; }

    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;

    public Region Region { get; set; } = Region.US;

    protected override void OnInitialized()
    {
        Actions.CustomMessageWarning = Modules.Profile.Resources.Translations.MarkPlatforms;

        MyProvidersApi.DataChanged += model =>
        {
            MyProviders = model;
            StateHasChanged();
        };
    }

    protected override async Task ProcessComponentData()
    {
        AllProviders ??= await AllProvidersApi.GetAll(null, cts.Token);

        Region = await AppStateStatic.GetRegion(IpInfoApi, JsRuntime, cts.Token);
    }

    protected override async Task LoadAuthDataAsync(CancellationToken token)
    {
        MyProviders = await MyProvidersApi.Get(Actions, token);

        foreach (var item in MyProviders?.Items ?? [])
        {
            var provider = AllProviders?.Items.Find(f => f.id == item.id);

            if (provider?.name != item.name || provider?.logo_path != item.logo)
            {
                ProvidersChanged = true;
            }
        }

        if (MyProviders != null && MyProviders.Items.Any(a => !a.region.HasValue)) //update region (legacy)
        {
            foreach (var item in MyProviders.Items)
            {
                if (!item.region.HasValue)
                {
                    var provider = AllProviders?.Items.FirstOrDefault(f => f.id == item.id);

                    if (provider != null)
                    {
                        item.region = provider.regions.Contains(Region) ? Region : provider.regions[0];
                    }
                }
            }

            await ShowInfo(Translations.RegionsApplied);
            await MyProvidersApi.Update(MyProviders, AppStateStatic.ActiveProduct, false, token);

            StateHasChanged();
        }
    }

    public async Task ShowProviderPopup(MyProvidersItem item)
    {
        AllProviders ??= await AllProvidersApi.GetAll(null, cts.Token);

        await DialogService.PlatformPopup(AllProviders?.Items.FirstOrDefault(f => f.id == item.id), WatchingList, WishList, item.region?.ToString(), item.id, Culture);
    }

    private async Task UpdateProviders()
    {
        foreach (var item in MyProviders?.Items ?? [])
        {
            var provider = AllProviders?.Items.Find(f => f.id == item.id);

            if (provider == null) continue;
            item.name = provider.name;
            item.logo = provider.logo_path;
        }

        MyProviders = await MyProvidersApi.Update(MyProviders, null, false, cts.Token);
        ProvidersChanged = false;
    }

}