@using SD.Shared.Models.List.Tmdb
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Profile.Resources
@using SD.WEB.Modules.Collections.Core
@using Button = SD.WEB.Resources.Button
@inherits ComponentCore<MySuggestions>

@inject MyProvidersApi MyProvidersApi
@inject MySuggestionsApi MySuggestionsApi
@inject TmdbDiscoveryApi TmdbDiscoveryApi
@inject TmdbApi TmdbApi

<PageSection Icon="@IconsFA.Solid.Icon("thumbs-up").Font" Title="@Translations.MySuggestions">
    <ActionFragment>
        @if (Client?.Subscription?.Active ?? false)
        {
            @if (SearchType == MediaType.movie && (mySuggestions == null || mySuggestions.MovieCanSync) && (MyProviders?.Items.Any() ?? false))
            {
                <MudButton StartIcon="@IconsFA.Solid.Icon("rotate").Font" Variant="Variant.Filled" Color="Color.Warning" Class="me-2"
                           OnClick="() => ImportFromProviders(MediaType.movie)" Disabled="@MovieUpdating" Size="AppStateStatic.Size">
                    @Button.Update
                </MudButton>
            }
            @if (SearchType == MediaType.tv && (mySuggestions == null || mySuggestions.ShowCanSync) && (MyProviders?.Items.Any() ?? false))
            {
                <MudButton StartIcon="@IconsFA.Solid.Icon("rotate").Font" Variant="Variant.Filled" Color="Color.Warning" Class="me-2"
                           OnClick="() => ImportFromProviders(MediaType.tv)" Disabled="@ShowUpdating" Size="AppStateStatic.Size">
                    @Button.Update
                </MudButton>
            }
            <MudToggleGroup SelectionMode="SelectionMode.SingleSelection" Vertical="false" Value="SearchType" ValueChanged="(MediaType type) => CheckedValueChanged(type)"
                            Color="Color.Primary" Class="me-2" CheckMark="@(Breakpoint >= Breakpoint.Sm)" CheckMarkClass="mx-0" Size="AppStateStatic.Size">
                <MudToggleItem Value="@MediaType.movie" SelectedIcon="@IconsFA.Solid.Icon("check").Font">
                    <MudHidden Breakpoint="Breakpoint.SmAndUp">
                        <MudIcon Icon="@IconsFA.Solid.Icon("film").Font" Title="@MediaType.movie.GetName()"></MudIcon>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                        @MediaType.movie.GetName()
                    </MudHidden>
                </MudToggleItem>
                <MudToggleItem Value="@MediaType.tv" SelectedIcon="@IconsFA.Solid.Icon("check").Font">
                    <MudHidden Breakpoint="Breakpoint.SmAndUp">
                        <MudIcon Icon="@IconsFA.Solid.Icon("tv").Font" Title="@MediaType.movie.GetName()"></MudIcon>
                    </MudHidden>
                    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                        @MediaType.tv.GetName()
                    </MudHidden>
                </MudToggleItem>
            </MudToggleGroup>
            <MudIconButton Icon="@IconsFA.Solid.Icon("filter").Font" Variant="Variant.Filled" Color="@(GenresChanged? Color.Secondary: Color.Primary)"
                           OnClick="@(async () => await OpenConfigurations())" Disabled="@(MyProviders == null || MyProviders.Items.Empty())" Size="AppStateStatic.Size" />
        }
    </ActionFragment>
    <BodyFragment>
        <RenderControl @ref="_render" Core="Core" Model="mySuggestions" ExpressionEmpty="@((SD.Shared.Models.MySuggestions? obj) => obj == null || obj.Items(SearchType).Empty())"
                       PrivateContent="true" PremiumFeature="true" PremiumDescription="@Translations.OurSuggestions2">

            <div id="@_swiperId" class="swiper mb-2">
                <div class="swiper-wrapper">
                    @foreach (var item in mySuggestions?.Items(SearchType).Where(w => !IsWatched(SearchType, w)) ?? new List<SuggestionListItem>())
                    {
                        <div class="swiper-slide" style="height: auto !important;">
                            <div style="cursor: pointer;" @onclick="@(async () => await ShowMediaPopup(item.id, item.name, SearchType))">
                                <MudImage Src="@(TmdbOptions.OriginalPosterPath + item.logo)" Alt="@item.name" FallbackSrc="images/no-image.png" Fluid="true" ObjectFit="ObjectFit.Contain"></MudImage>
                            </div>
                            <MudGrid Spacing="2" Justify="Justify.FlexStart">
                                @foreach (var provider in item.Providers)
                                {
                                    <MudItem xs="4">
                                        <MudImage Src="@(TmdbOptions.OriginalPosterPath + provider)" Alt="@provider" Style="width: 100%; vertical-align: bottom;"></MudImage>
                                    </MudItem>
                                }
                            </MudGrid>
                        </div>
                    }
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </RenderControl>
    </BodyFragment>
</PageSection>

@code {
    private MyProviders? MyProviders { get; set; }
    private SD.Shared.Models.MySuggestions? mySuggestions { get; set; }
    public MediaType SearchType { get; set; } = MediaType.movie;

    public bool MovieUpdating { get; set; }
    public bool ShowUpdating { get; set; }
    private RenderControl<SD.Shared.Models.MySuggestions>? _render;

    public RenderControlCore<SD.Shared.Models.MySuggestions?>? Core { get; set; } = new();
    [Parameter][EditorRequired] public WatchedList? Watched { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter][EditorRequired] public bool IsAuthenticated { get; set; }

    public AuthPrincipal? Client { get; set; }
    private readonly string _swiperId = $"swiper-{Guid.NewGuid()}";

    private bool GenresChanged => (mySuggestions?.MovieGenres.Any() ?? false) || (mySuggestions?.TvGenres.Any() ?? false);

    protected override void OnInitialized()
    {
        PrincipalApi.DataChanged += async model =>
        {
            Client = model;
            await LoadNonEssentialDataAsync();
            StateHasChanged();
        };
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JavascriptVoidAsync("initSwiper", _swiperId);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    protected override async Task LoadAuthDataAsync()
    {
        Core?.ShowLoading();

        MyProviders = await MyProvidersApi.Get(IsAuthenticated, null);

        if (MyProviders == null || MyProviders.Items.Empty())
        {
            Core?.ShowWarning(Translations.OurSuggestions1);
        }
        else
        {
            if (Client != null && _render != null) _render.Status = LoadingStatus.Loading; //force reset Premium status

            Client ??= await PrincipalApi.Get(IsAuthenticated);
            mySuggestions = await MySuggestionsApi.Get(Client?.Subscription?.ActiveProduct, IsAuthenticated, Core);

            if (mySuggestions == null || mySuggestions.Items(SearchType).Empty())
            {
                Core?.ShowWarning(Translations.OurSuggestions2);
            }
        }

        Core?.HideLoading(mySuggestions);
    }

    public Task ShowMediaPopup(string? tmdbId, string? name, MediaType type)
    {
        return string.IsNullOrEmpty(tmdbId) ? null! : DialogService.MediaPopup(Watched, Watching, Wish, type, tmdbId, IsAuthenticated);
    }

    private Dictionary<string, string> GetExtraParameters(string? providerId, string? region, string sortBy)
    {
        if (providerId == null) throw new ArgumentNullException(nameof(providerId));
        if (region == null) throw new ArgumentNullException(nameof(region));

        string genres;

        if (SearchType == MediaType.movie)
        {
            genres = string.Join("|", mySuggestions?.MovieGenres.Select(s => (int)s) ?? []);
        }
        else
        {
            genres = string.Join("|", mySuggestions?.TvGenres.Select(s => (int)s) ?? []);
        }

        return new Dictionary<string, string> { { "with_watch_providers", providerId }, { "sort_by", sortBy }, { "with_genres", genres }, { "watch_region", region } };
    }

    private async Task ImportFromProviders(MediaType type)
    {
        try
        {
            mySuggestions ??= new SD.Shared.Models.MySuggestions();

            var qtd = Client?.Subscription?.ActiveProduct switch
            {
                AccountProduct.Standard => AccountProduct.Standard.GetRestrictions().MySuggestions,
                AccountProduct.Premium => AccountProduct.Premium.GetRestrictions().MySuggestions,
                _ => 0
            };

            var regions = MyProviders?.Items.Select(s => s.region).Distinct().ToList() ?? [];

            if (type == MediaType.movie)
            {
                mySuggestions.Movies.Clear();
                MovieUpdating = true;
                Core?.ShowProcessing();

                //search best titles by provider (TMDB)
                var titles = new HashSet<MediaDetail>();
                foreach (var provider in MyProviders?.Items ?? [])
                {
                    var result = await TmdbDiscoveryApi.GetList([], MediaType.movie, GetExtraParameters(provider.id, provider.region.ToString(), "vote_average.desc"));

                    foreach (var item in result.list)
                    {
                        titles.Add(item);
                    }
                }

                //select titles for the user
                foreach (var item in titles.OrderByDescending(o => o.rating))
                {
                    if (Watched != null && Watched.Movies.Any(a => a == item.tmdb_id)) continue;
                    if (Wish != null && Wish.Movies.Any(a => a.id == item.tmdb_id)) continue;

                    if (mySuggestions.Movies.Count < qtd)
                    {
                        var providers = await TmdbApi.GetWatchProvidersList(item.tmdb_id, MediaType.movie);
                        if (providers != null && MyProviders != null)
                        {
                            List<ProviderBase> allProviders = [];
                            foreach (var region in regions) //test all possible regions added by user
                            {
                                var freeList = providers.GetFreeListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var adsList = providers.GetAdsListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var flatRateList = providers.GetFlatRateListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var flatRateBuyList = providers.GetFlatRateBuyListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var rentList = providers.GetRentListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var buyList = providers.GetBuyListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));

                                allProviders.AddRange(freeList.Concat(adsList).Concat(flatRateList).Concat(flatRateBuyList).Concat(rentList).Concat(buyList));
                            }

                            mySuggestions.Items(MediaType.movie).Add(new SuggestionListItem(item.tmdb_id, item.title, item.poster_small, allProviders.Select(s => s.logo_path ?? "").Distinct().ToArray()));
                        }
                    }
                }

                if (mySuggestions.Items(MediaType.movie).Empty()) Core?.ShowWarning(null);

                mySuggestions = await MySuggestionsApi.Sync(MediaType.movie, mySuggestions, Core);
                MovieUpdating = false;
            }
            else
            {
                mySuggestions.Shows.Clear();
                ShowUpdating = true;
                Core?.ShowProcessing();

                //search best titles by provider (TMDB)
                var titles = new HashSet<MediaDetail>();
                foreach (var provider in MyProviders?.Items ?? [])
                {
                    var result = await TmdbDiscoveryApi.GetList([], MediaType.tv, GetExtraParameters(provider.id, provider.region.ToString(), "vote_average.desc"));

                    foreach (var item in result.list)
                    {
                        titles.Add(item);
                    }
                }

                //select titles for the user
                foreach (var item in titles.OrderByDescending(o => o.rating))
                {
                    if (Watched != null && Watched.Shows.Any(a => a == item.tmdb_id)) continue;
                    if (Wish != null && Wish.Shows.Any(a => a.id == item.tmdb_id)) continue;

                    if (mySuggestions.Shows.Count < qtd)
                    {
                        var providers = await TmdbApi.GetWatchProvidersList(item.tmdb_id, MediaType.tv);
                        if (providers != null && MyProviders != null)
                        {
                            List<ProviderBase> allProviders = [];
                            foreach (var region in regions) //test all possible regions added by user
                            {
                                var freeList = providers.GetFreeListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var adsList = providers.GetAdsListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var flatRateList = providers.GetFlatRateListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var flatRateBuyList = providers.GetFlatRateBuyListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var rentList = providers.GetRentListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));
                                var buyList = providers.GetBuyListProviders(region).Where(w => MyProviders.Items.Any(a => a.id == w.provider_id.ToString()));

                                allProviders.AddRange(freeList.Concat(adsList).Concat(flatRateList).Concat(flatRateBuyList).Concat(rentList).Concat(buyList) ?? []);
                            }

                            mySuggestions.Items(MediaType.tv).Add(new SuggestionListItem(item.tmdb_id, item.title, item.poster_small, allProviders.Select(s => s.logo_path ?? "").Distinct().ToArray()));
                        }
                    }
                }

                if (mySuggestions.Items(MediaType.tv).Empty()) Core?.ShowWarning(null);

                mySuggestions = await MySuggestionsApi.Sync(MediaType.tv, mySuggestions, Core);
                ShowUpdating = false;
            }

            Core?.HideProcessing(mySuggestions);
        }
        catch (Exception ex)
        {
            MovieUpdating = false;
            ShowUpdating = false;
            Core?.ShowError(ex.Message);
            await ProcessException(ex);
        }
    }

    private bool IsWatched(MediaType type, SuggestionListItem item)
    {
        if (type == MediaType.movie)
        {
            if (Watched != null && Watched.Movies.Any(a => a == item.id)) return true;
            if (Wish != null && Wish.Movies.Any(a => a.id == item.id)) return true;

            return false;
        }

        if (Watched != null && Watched.Shows.Any(a => a == item.id)) return true;
        if (Wish != null && Wish.Shows.Any(a => a.id == item.id)) return true;

        return false;
    }

    private async Task OpenConfigurations()
    {
        mySuggestions ??= new SD.Shared.Models.MySuggestions();

        await DialogService.MySuggestionsPopup(mySuggestions,
            new EventCallbackFactory().Create(this, async (SD.Shared.Models.MySuggestions value) => await UpdateMySuggestions(value)));
    }

    private async Task UpdateMySuggestions(SD.Shared.Models.MySuggestions obj)
    {
        mySuggestions = await MySuggestionsApi.Add(obj);

        StateHasChanged();

        await ShowInfo(Translations.UpdateMySuggestions);
    }

    private void CheckedValueChanged(MediaType type)
    {
        SearchType = type;
        Core?.LoadingFinished?.Invoke(mySuggestions);
    }

}