@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Profile.Resources
@using SD.WEB.Modules.Collections.Core
@using Button = SD.WEB.Resources.Button
@inherits ComponentCore<WatchingComponent>

@inject TmdbApi TmdbApi
@inject WatchingListApi WatchingApi
@inject WatchedListApi WatchedApi

<NewPageSection Icon="@IconsFA.Solid.Icon("eye").Font" Title="Watching" ShowHeader="ShowHeader">
    <BodyFragment>
        @if (TypeParam.HasValue)
        {
            @if (FullScreen)
            {
                <div class="grid-relative-container-poster">
                    @foreach (var item in Items(TypeParam.Value).Take(GetTotalItems))
                    {
                        var logo = string.IsNullOrEmpty(item.logo) ? null : TmdbOptions.SmallPosterPath + item.logo;
                        var percentComplete = (int)Math.Round((double)(100 * item.watched.Count) / item.maxItems);

                        <PosterComponent Poster="@logo" Title="@item.name" Percent="@percentComplete"
                                         Clicked="@(async () => await ShowCollectionPopup(TypeParam.Value, item.id, item.name))" WatchedList="Watched" WishList="Wish">
                        </PosterComponent>
                    }
                </div>
            }
            else
            {
                <div id="@_swiperId" class="swiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Items(TypeParam.Value).Take(GetTotalItems))
                        {
                            var logo = string.IsNullOrEmpty(item.logo) ? "images/no-image.png" : TmdbOptions.SmallPosterPath + item.logo;
                            var percentComplete = (int)Math.Round((double)(100 * item.watched.Count) / item.maxItems);

                            <div class="swiper-slide" style="height: auto !important;">
                                <PosterComponent Poster="@logo" Title="@item.name" Percent="@percentComplete"
                                                 Clicked="@(async () => await ShowCollectionPopup(TypeParam.Value, item.id, item.name))" WatchedList="Watched" WishList="Wish">
                                </PosterComponent>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            }
        }
        else
        {
            <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" PanelClass="@($"pt-{margin}")"
                     ActivePanelIndexChanged="@((int index) => { if (index == 0) _type = MediaType.movie; else _type = MediaType.tv; })">
                <Header>
                    @if ((Watching?.CanSync(_type) ?? false) && (Watching?.Items(_type).Any() ?? false))
                    {
                        <MudTooltip Text="@Button.Update">
                            <MudIconButton Icon="@IconsFA.Solid.Icon("rotate").Font" Color="Color.Warning" OnClick="() => ImportFromWatched(_type)" Disabled="@Updating">
                            </MudIconButton>
                        </MudTooltip>
                    }
                    <MudTooltip Text="Expand">
                        <MudIconButton Icon="@IconsFA.Solid.Icon("expand").Font" Disabled="false" OnClick="@(async () => await OpenCompleteList(_type))" />
                    </MudTooltip>
                </Header>
                <ChildContent>
                    <MudTabPanel Text="@MediaType.movie.GetName()">
                        <NewRenderControl Actions="Actions" Instance="Watching" ExpressionEmpty="ExpressionEmpty"
                                          PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated"
                                          CustomMessageWarning="@Modules.Profile.Resources.Translations.MarkTitlesWatched">
                            @if (FullScreen)
                            {
                                <div class="grid-relative-container-poster">
                                    @foreach (var item in Items(MediaType.movie).Take(GetTotalItems))
                                    {
                                        var logo = string.IsNullOrEmpty(item.logo) ? null : TmdbOptions.SmallPosterPath + item.logo;
                                        var percentComplete = (int)Math.Round((double)(100 * item.watched.Count) / item.maxItems);

                                        <PosterComponent Poster="@logo" Title="@item.name" Percent="@percentComplete"
                                                         Clicked="@(async () => await ShowCollectionPopup(MediaType.movie, item.id, item.name))" WatchedList="Watched" WishList="Wish">
                                        </PosterComponent>
                                    }
                                </div>
                            }
                            else
                            {
                                <div id="@_swiperId" class="swiper">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in Items(MediaType.movie).Take(GetTotalItems))
                                        {
                                            var logo = string.IsNullOrEmpty(item.logo) ? "images/no-image.png" : TmdbOptions.SmallPosterPath + item.logo;
                                            var percentComplete = (int)Math.Round((double)(100 * item.watched.Count) / item.maxItems);

                                            <div class="swiper-slide" style="height: auto !important;">
                                                <PosterComponent Poster="@logo" Title="@item.name" Percent="@percentComplete"
                                                                 Clicked="@(async () => await ShowCollectionPopup(MediaType.movie, item.id, item.name))" WatchedList="Watched" WishList="Wish">
                                                </PosterComponent>
                                            </div>
                                        }
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            }
                        </NewRenderControl>
                    </MudTabPanel>
                    <MudTabPanel Text="@MediaType.tv.GetName()">
                        <NewRenderControl Actions="Actions" Instance="Watching" ExpressionEmpty="ExpressionEmpty"
                                          PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated"
                                          CustomMessageWarning="@Modules.Profile.Resources.Translations.MarkTitlesWatched">
                            @if (FullScreen)
                            {
                                <div class="grid-relative-container-poster">
                                    @foreach (var item in Items(MediaType.tv).Take(GetTotalItems))
                                    {
                                        var logo = string.IsNullOrEmpty(item.logo) ? null : TmdbOptions.SmallPosterPath + item.logo;
                                        var percentComplete = (int)Math.Round((double)(100 * item.watched.Count) / item.maxItems);

                                        <PosterComponent Poster="@logo" Title="@item.name" Percent="@percentComplete"
                                                         Clicked="@(async () => await ShowCollectionPopup(MediaType.tv, item.id, item.name))" WatchedList="Watched" WishList="Wish">
                                        </PosterComponent>
                                    }
                                </div>
                            }
                            else
                            {
                                <div id="@_swiperId2" class="swiper">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in Items(MediaType.tv).Take(GetTotalItems))
                                        {
                                            var logo = string.IsNullOrEmpty(item.logo) ? "images/no-image.png" : TmdbOptions.SmallPosterPath + item.logo;
                                            var percentComplete = (int)Math.Round((double)(100 * item.watched.Count) / item.maxItems);

                                            <div class="swiper-slide" style="height: auto !important;">
                                                <PosterComponent Poster="@logo" Title="@item.name" Percent="@percentComplete"
                                                                 Clicked="@(async () => await ShowCollectionPopup(MediaType.tv, item.id, item.name))" WatchedList="Watched" WishList="Wish">
                                                </PosterComponent>
                                            </div>
                                        }
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            }
                        </NewRenderControl>
                    </MudTabPanel>
                </ChildContent>
            </MudTabs>
        }
    </BodyFragment>
</NewPageSection>

@code {
    [Parameter][EditorRequired] public ComponentActions<WatchingList?> Actions { get; set; } = new();
    [Parameter][EditorRequired] public bool ShowHeader { get; set; }
    [Parameter][EditorRequired] public bool FullScreen { get; set; }
    [Parameter][EditorRequired] public WatchedList? Watched { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter][EditorRequired] public Func<WatchingList?, bool> ExpressionEmpty { get; set; } = null!;

    [Parameter] public MediaType? TypeParam { get; set; }
    [Parameter] public string? CustomTitle { get; set; }

    private MediaType _type { get; set; } = MediaType.movie;

    private HashSet<WatchingListItem> Items(MediaType type) => type == MediaType.movie ? Watching?.Movies ?? [] : Watching?.Shows ?? [];

    private int GetTotalItems => FullScreen ? AccountProduct.Premium.GetRestrictions().Watching : AccountProduct.Basic.GetRestrictions().Watching;

    public bool Updating { get; set; }
    private readonly string _swiperId = $"swiper-{Guid.NewGuid()}";
    private readonly string _swiperId2 = $"swiper-{Guid.NewGuid()}";

    private bool IsMobile => Breakpoint <= Breakpoint.Xs;
    private string margin => IsMobile ? "2" : "3";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitLists(_swiperId);
            await JsRuntime.Swiper().InitLists(_swiperId2);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task OpenCompleteList(MediaType type)
    {
        await DialogService.MyWatchingListPopup(Actions, type, Watched, Watching, Wish);
    }

    public Task ShowMediaPopup(MediaType type, string? tmdbId, string? name)
    {
        return string.IsNullOrEmpty(tmdbId) ? null! : DialogService.MediaPopup(Watched, Watching, Wish, type, tmdbId);
    }

    public Task ShowCollectionPopup(MediaType type, string? collectionId, string? name)
    {
        return string.IsNullOrEmpty(collectionId) ? null! : DialogService.CollectionPopup(Watched, Watching, Wish, type, collectionId);
    }

    private async Task ImportFromWatched(MediaType type)
    {
        try
        {
            var watching = await WatchingApi.Get(AppStateStatic.IsAuthenticated); //get a new one (memory may be compromised/corrupted)
            var client = await PrincipalApi.Get(AppStateStatic.IsAuthenticated);

            if (type == MediaType.movie)
            {
                watching?.Movies.Clear();
                Updating = true;
                StateHasChanged();
                Actions.StartProcessing?.Invoke(null);

                foreach (var tmdbId in Watched?.GetItems(MediaType.movie) ?? [])
                {
                    try
                    {
                        var media = await TmdbApi.GetMediaDetail(tmdbId, MediaType.movie);
                        var hasCollection = media.Collection.Any() && media.Collection.Count > 1;

                        if (hasCollection && watching!.DeletedMovies.All(a => a != media.collectionId.ToString()))
                        {
                            var item = watching?.GetItem(MediaType.movie, media.collectionId?.ToString());

                            if (item == null)
                            {
                                var items = new HashSet<string> { tmdbId };

                                item = new WatchingListItem(media.collectionId?.ToString(), media.collectionName, media.collectionLogo?.Replace(TmdbOptions.SmallPosterPath, ""), media.Collection.Count, items);
                            }
                            else
                            {
                                item.maxItems = media.Collection.Count;
                                item.watched.Add(tmdbId);
                            }

                            watching?.AddItem(MediaType.movie, item);
                        }
                    }
                    catch (Exception ex)
                    {
                        if (ex.Message.Contains("The resource you requested could not be found"))
                        {
                            Watched = await WatchedApi.Remove(MediaType.movie, tmdbId);
                        }
                        else
                        {
                            throw;
                        }
                    }
                }

                watching = await WatchingApi.Sync(MediaType.movie, watching);

                Updating = false;
                StateHasChanged();
                Actions.FinishProcessing?.Invoke(watching);
            }
            else
            {
                watching?.Shows.Clear();
                Updating = true;
                StateHasChanged();
                Actions.StartProcessing?.Invoke(null);

                foreach (var tmdbId in Watched?.GetItems(MediaType.tv) ?? [])
                {
                    try
                    {
                        var media = await TmdbApi.GetMediaDetail(tmdbId, MediaType.tv);
                        var hasCollection = media.Collection.Any() && media.Collection.Count > 1;

                        if (hasCollection && watching!.DeletedShows.All(a => a != media.tmdb_id))
                        {
                            var item = watching?.GetItem(MediaType.tv, media.tmdb_id);

                            if (item == null)
                            {
                                var items = new HashSet<string> { media.Collection.OrderBy(o => o.release_date ?? DateTime.MaxValue).FirstOrDefault()?.id ?? "" };

                                item = new WatchingListItem(media.tmdb_id, media.title, media.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), media.Collection.Count, items);
                            }
                            else
                            {
                                item.maxItems = media.Collection.Count;
                                item.watched.Add(media.Collection.OrderBy(o => o.release_date ?? DateTime.MaxValue).FirstOrDefault()?.id ?? "");
                            }

                            watching?.AddItem(MediaType.tv, item);
                        }
                    }
                    catch (Exception ex)
                    {
                        if (ex.Message.Contains("The resource you requested could not be found"))
                        {
                            Watched = await WatchedApi.Remove(MediaType.tv, tmdbId);
                        }
                        else
                        {
                            throw;
                        }
                    }
                }

                watching = await WatchingApi.Sync(MediaType.tv, watching);

                Updating = false;
                StateHasChanged();
                Actions.FinishProcessing?.Invoke(watching);
            }

            StateHasChanged();
        }
        catch (Exception ex)
        {
            Updating = false;
            Actions.ShowError?.Invoke(ex.Message);
            await ProcessException(ex);
        }
    }

}