@using SD.WEB.Modules.Profile.Resources
@inherits ComponentCore<WishlistComponent>

<NewPageSection Icon="@IconsFA.Solid.Icon("bookmark").Font" Title="WishList" ShowHeader="ShowHeader">
    <BodyFragment>
        @if (TypeParam.HasValue)
        {
            @if (FullScreen)
            {
                <div class="grid-relative-container-poster">
                    @foreach (var item in Items(TypeParam.Value).Take(GetTotalItems) ?? [])
                    {
                        var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;

                        <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="TypeParam.Value"
                                         Clicked="@(async () => await ShowMediaPopup(TypeParam.Value, item.id, item.name))" ShowWished="false" WatchedList="Watched" WishList="Wish">
                        </PosterComponent>
                    }
                </div>
            }
            else
            {
                <div id="@_swiperId" class="swiper">
                    <div class="swiper-wrapper">
                        @foreach (var item in Items(TypeParam.Value).Take(GetTotalItems) ?? [])
                        {
                            var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                            <div class="swiper-slide" style="height: auto !important;">
                                <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="TypeParam.Value"
                                                 Clicked="@(async () => await ShowMediaPopup(TypeParam.Value, item.id, item.name))" ShowWished="false" WatchedList="Watched" WishList="Wish">
                                </PosterComponent>
                            </div>
                        }
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
            }
        }
        else
        {
            <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" PanelClass="@($"pt-{margin}")"
                     ActivePanelIndexChanged="@((int index) => { if (index == 0) _type = MediaType.movie; else _type = MediaType.tv; })">
                <Header>
                    <MudTooltip Text="Expand">
                        <MudIconButton Icon="@IconsFA.Solid.Icon("expand").Font" Disabled="false" OnClick="@(async () => await OpenCompleteList(_type))" />
                    </MudTooltip>
                </Header>
                <ChildContent>
                    <MudTabPanel Text="@MediaType.movie.GetName()">
                        <NewRenderControl Actions="Actions" Instance="Wish" ExpressionEmpty="ExpressionEmpty"
                                          PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated"
                                          CustomMessageWarning="@Modules.Profile.Resources.Translations.AddTitlesWishlist">
                            @if (FullScreen)
                            {
                                <div class="grid-relative-container-poster">
                                    @foreach (var item in Wish?.Movies.Take(GetTotalItems) ?? [])
                                    {
                                        var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                                        <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="MediaType.movie"
                                                         Clicked="@(async () => await ShowMediaPopup(MediaType.movie, item.id, item.name))" ShowWished="false" WatchedList="Watched" WishList="Wish">
                                        </PosterComponent>
                                    }
                                </div>
                            }
                            else
                            {
                                <div id="@_swiperId" class="swiper">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in Wish?.Movies.Take(GetTotalItems) ?? [])
                                        {
                                            var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                                            <div class="swiper-slide" style="height: auto !important;">
                                                <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="MediaType.movie"
                                                                 Clicked="@(async () => await ShowMediaPopup(MediaType.movie, item.id, item.name))" ShowWished="false" WatchedList="Watched" WishList="Wish">
                                                </PosterComponent>
                                            </div>
                                        }
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            }
                        </NewRenderControl>
                    </MudTabPanel>
                    <MudTabPanel Text="@MediaType.tv.GetName()">
                        <NewRenderControl Actions="Actions" Instance="Wish" ExpressionEmpty="ExpressionEmpty"
                                          PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated"
                                          CustomMessageWarning="@Modules.Profile.Resources.Translations.AddTitlesWishlist">
                            @if (FullScreen)
                            {
                                <div class="grid-relative-container-poster">
                                    @foreach (var item in Wish?.Shows.Take(GetTotalItems) ?? [])
                                    {
                                        var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                                        <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="MediaType.tv"
                                                         Clicked="@(async () => await ShowMediaPopup(MediaType.tv, item.id, item.name))" ShowWished="false" WatchedList="Watched" WishList="Wish">
                                        </PosterComponent>
                                    }
                                </div>
                            }
                            else
                            {
                                <div id="@_swiperId2" class="swiper">
                                    <div class="swiper-wrapper">
                                        @foreach (var item in Wish?.Shows.Take(GetTotalItems) ?? [])
                                        {
                                            var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                                            <div class="swiper-slide" style="height: auto !important;">
                                                <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="MediaType.tv"
                                                                 Clicked="@(async () => await ShowMediaPopup(MediaType.tv, item.id, item.name))" ShowWished="false" WatchedList="Watched" WishList="Wish">
                                                </PosterComponent>
                                            </div>
                                        }
                                    </div>
                                    <div class="swiper-button-next"></div>
                                    <div class="swiper-button-prev"></div>
                                </div>
                            }
                        </NewRenderControl>
                    </MudTabPanel>
                </ChildContent>
            </MudTabs>
        }
    </BodyFragment>
</NewPageSection>

@code {
    [Parameter][EditorRequired] public ComponentActions<WishList?> Actions { get; set; } = new();
    [Parameter][EditorRequired] public bool ShowHeader { get; set; }
    [Parameter][EditorRequired] public bool FullScreen { get; set; }
    [Parameter][EditorRequired] public WatchedList? Watched { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter][EditorRequired] public Func<WishList?, bool> ExpressionEmpty { get; set; } = null!;

    [Parameter] public MediaType? TypeParam { get; set; }
    [Parameter] public string? CustomTitle { get; set; }

    private MediaType _type { get; set; } = MediaType.movie;

    private HashSet<WishListItem> Items(MediaType type) => type == MediaType.movie ? Wish?.Movies ?? [] : Wish?.Shows ?? [];

    private int GetTotalItems => FullScreen ? AccountProduct.Premium.GetRestrictions().Wishlist : AccountProduct.Basic.GetRestrictions().Wishlist;

    private readonly string _swiperId = $"swiper-{Guid.NewGuid()}";
    private readonly string _swiperId2 = $"swiper-{Guid.NewGuid()}";

    private bool IsMobile => Breakpoint <= Breakpoint.Xs;
    private string margin => IsMobile ? "2" : "3";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitLists(_swiperId);
            await JsRuntime.Swiper().InitLists(_swiperId2);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task OpenCompleteList(MediaType type)
    {
        await DialogService.MyWishListPopup(Actions, Watched, Watching, Wish, type);
    }

    public Task ShowMediaPopup(MediaType type, string? tmdbId, string? name)
    {
        return string.IsNullOrEmpty(tmdbId) ? null! : DialogService.MediaPopup(Watched, Watching, Wish, type, tmdbId);
    }

}