@using SD.WEB.Shared.Core
@inherits ComponentCore<WishlistComponent>

<PageSectionComponent Title="@WEB.Modules.Profile.Resources.Translations.Wishlist" ShowHeader="ShowHeader" Icon="@Icons.Material.Filled.Bookmark">
    <BodyFragment>
        @if (TypeParam.HasValue)
        {
            <RenderControl Actions="@(TypeParam == MediaType.movie ? ActionsMovie : ActionsTv)" PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated">
                @if (FullScreen)
                {
                    <div class="grid-relative-container-poster">
                        @foreach (var item in Items(TypeParam.Value).Take(GetTotalItems) ?? [])
                        {
                            var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;

                            <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="TypeParam.Value"
                                             Clicked="@(async () => await ShowMediaPopup(TypeParam.Value, item.id, item.name))" ShowWished="false" WishList="Wish">
                            </PosterComponent>
                        }
                    </div>
                }
                else
                {
                    <Slider List="Items(TypeParam.Value).Take(GetTotalItems) ?? []" Context="item">
                        @{
                            var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                        }
                        <div style="@($"width: {(IsMobile ? "110" : "130")}px")">
                            <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="TypeParam.Value"
                                             Clicked="@(async () => await ShowMediaPopup(TypeParam.Value, item.id, item.name))" ShowWished="false" WishList="Wish">
                            </PosterComponent>
                        </div>
                    </Slider>
                }
            </RenderControl>
        }
        else
        {
            <MudTabs KeepPanelsAlive="true" MinimumTabWidth="100" ApplyEffectsToContainer="true" TabPanelsClass="@Css.Build().Small("pt")"
                     ActivePanelIndexChanged="@((int index) => { if (index == 0) _type = MediaType.movie; else _type = MediaType.tv; })">
                <Header>
                    <MudTooltip Text="Expand">
                        <MudIconButton Icon="@Icons.Material.Filled.Fullscreen" Color="Color.Primary" Disabled="false" OnClick="@(async () => await OpenCompleteList(_type))" />
                    </MudTooltip>
                </Header>
                <ChildContent>
                    <MudTabPanel Text="@MediaType.movie.GetName()">
                        <RenderControl Actions="ActionsMovie" PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated">
                            @if (FullScreen)
                            {
                                <div class="grid-relative-container-poster">
                                    @foreach (var item in Wish?.Movies.Take(GetTotalItems) ?? [])
                                    {
                                        var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                                        <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="MediaType.movie"
                                                         Clicked="@(async () => await ShowMediaPopup(MediaType.movie, item.id, item.name))" ShowWished="false" WishList="Wish">
                                        </PosterComponent>
                                    }
                                </div>
                            }
                            else
                            {
                                <Slider List="Wish?.Movies.Take(GetTotalItems) ?? []" Context="item">
                                    @{
                                        var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                                    }
                                    <div style="@($"width: {(IsMobile ? "110" : "130")}px")">
                                        <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="MediaType.movie"
                                                         Clicked="@(async () => await ShowMediaPopup(MediaType.movie, item.id, item.name))" ShowWished="false" WishList="Wish">
                                        </PosterComponent>
                                    </div>
                                </Slider>
                            }
                        </RenderControl>
                    </MudTabPanel>
                    <MudTabPanel Text="@MediaType.tv.GetName()">
                        <RenderControl Actions="ActionsTv" PrivateFeature="true" IsAuthenticated="AppStateStatic.IsAuthenticated">
                            @if (FullScreen)
                            {
                                <div class="grid-relative-container-poster">
                                    @foreach (var item in Wish?.Shows.Take(GetTotalItems) ?? [])
                                    {
                                        var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                                        <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="MediaType.tv"
                                                         Clicked="@(async () => await ShowMediaPopup(MediaType.tv, item.id, item.name))" ShowWished="false" WishList="Wish">
                                        </PosterComponent>
                                    }
                                </div>
                            }
                            else
                            {
                                <Slider List="Wish?.Shows.Take(GetTotalItems) ?? []" Context="item">
                                    @{
                                        var logo = string.IsNullOrEmpty(item.logo) ? "" : TmdbOptions.SmallPosterPath + item.logo;
                                    }
                                    <div style="@($"width: {(IsMobile ? "110" : "130")}px")">
                                        <PosterComponent Poster="@logo" Title="@item.name" Runtime="item.runtime" TmdbId="@item.id" MediaType="MediaType.tv"
                                                         Clicked="@(async () => await ShowMediaPopup(MediaType.tv, item.id, item.name))" ShowWished="false" WishList="Wish">
                                        </PosterComponent>
                                    </div>
                                </Slider>
                            }
                        </RenderControl>
                    </MudTabPanel>
                </ChildContent>
            </MudTabs>
        }
    </BodyFragment>
</PageSectionComponent>

@code {
    [Parameter][EditorRequired] public ComponentActions<WishList?> ActionsMovie { get; set; }
    [Parameter][EditorRequired] public ComponentActions<WishList?> ActionsTv { get; set; }
    [Parameter][EditorRequired] public bool ShowHeader { get; set; }
    [Parameter][EditorRequired] public bool FullScreen { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter][EditorRequired] public string? Culture { get; set; }

    [Parameter] public MediaType? TypeParam { get; set; }
    [Parameter] public string? CustomTitle { get; set; }

    private MediaType _type { get; set; } = MediaType.movie;

    private HashSet<WishListItem> Items(MediaType type) => type == MediaType.movie ? Wish?.Movies ?? [] : Wish?.Shows ?? [];

    private int GetTotalItems => FullScreen ? AccountProduct.Premium.GetRestrictions().Wishlist : AccountProduct.Basic.GetRestrictions().Wishlist;
    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;

    protected override void OnInitialized()
    {
        base.OnInitialized();

        ActionsMovie.CustomMessageWarning = Modules.Profile.Resources.Translations.AddTitlesWishlist;
        ActionsTv.CustomMessageWarning = Modules.Profile.Resources.Translations.AddTitlesWishlist;
    }

    private async Task OpenCompleteList(MediaType type)
    {
        await DialogService.MyWishListPopup(type == MediaType.movie ? ActionsMovie : ActionsTv, Watching, Wish, type, Culture);
    }

    public Task ShowMediaPopup(MediaType type, string? tmdbId, string? name)
    {
        return string.IsNullOrEmpty(tmdbId) ? null! : DialogService.MediaPopup(Watching, Wish, type, tmdbId, Culture);
    }

}