@page "/{culture}/platforms"
@page "/{culture}/platforms/{region}"
@* @page "/{culture}/free/platforms/{region}" *@

@using Microsoft.AspNetCore.Components.Authorization
@using SD.WEB.Modules.Platform.Core
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Subscription.Core
@using SD.WEB.Shared.Core
@inherits PageCore<PlataformIndex>

@inject AllProvidersApi AllProvidersApi
@inject MyProvidersApi MyProvidersApi
@inject IpInfoApi IpInfoApi

@if (isNotFound)
{
    <NotFoundComponent></NotFoundComponent>
}
else
{
    <HeadComponent Title="@(FreePlatforms ? Translations.Title.FreeProviders.Format(RegionEnum?.GetName() ?? "invalid country") : Translations.Title.Providers.Format(RegionEnum?.GetName() ?? "invalid country"))"
                   Description="@Translations.Description.Platforms.Format(RegionEnum?.GetName() ?? "invalid country")" Url=@($"/{Culture}/platforms/{Region}") Index="@Region.NotEmpty()"></HeadComponent>

    <PageSectionComponent IsPageHeader="true" Title="@(FreePlatforms ? Translations.Title.FreeProviders.Format(RegionEnum?.GetName() ?? "invalid country") : Translations.Title.Providers.Format(RegionEnum?.GetName() ?? "invalid country"))"
                          Description="@Translations.Description.Platforms.Format(RegionEnum?.GetName() ?? "invalid country")">
        <ActionsFragment>
            <MudSelect T="DeliveryModel?" @bind-Value="@DeliveryModel" Clearable="true" FitContent="true" Style="min-width: 150px;" Label="@Translations.Module.Media.DeliveryModel" Dense="true" Class="me-2" Disabled="FreePlatforms">
                @foreach (var item in DeliveryModels)
                {
                    <MudSelectItem T="DeliveryModel?" Value="@item.Value">@item.Name</MudSelectItem>
                }
            </MudSelect>
            <MudSelect T="MediaType?" @bind-Value="@MediaType" Clearable="true" FitContent="true" Style="min-width: 150px;" Label="@Translations.Module.Media.MediaType" Dense="true" Class="me-2">
                @foreach (var item in MediaTypes)
                {
                    <MudSelectItem T="MediaType?" Value="@item.Value">@item.Name</MudSelectItem>
                }
            </MudSelect>
            <MudTextField T="string" Label="@Translations.Module.Media.Name" @bind-Value="@name" Clearable="true" Variant="Variant.Text" Immediate="true" Style="max-width: 180px;"></MudTextField>
        </ActionsFragment>
    </PageSectionComponent>

    <RenderControl Actions="Actions">
        @if (GetFilteredProviders(ShowAll).Any())
        {
            <div class="grid-relative-container-platform">
                @foreach (var item in GetFilteredProviders(ShowAll))
                {
                    var favorite = MyProviders?.Items.Any(a => a.id == item.id) ?? false;

                    <div>
                        <MudCard Outlined="true">
                            <MudCardHeader Style="padding: 8px;">
                                <CardHeaderAvatar>
                                    <MudLink Href="@($"/{Culture}/platform/{item.id}")">
                                        <MudAvatar Size="Size.Large">
                                            <MudImage Src="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Alt="@item.name" FallbackSrc="images/no-image.webp"></MudImage>
                                        </MudAvatar>
                                    </MudLink>
                                </CardHeaderAvatar>
                                <CardHeaderContent>
                                    <MudLink Href="@($"/{Culture}/platform/{item.id}")">
                                        <MudText Typo="Typo.h2" Color="Color.Primary" Style="font-size: 1rem">
                                            @item.name
                                        </MudText>
                                    </MudLink>
                                </CardHeaderContent>
                            </MudCardHeader>
                            <MudCardContent Class="py-1 px-2" Style="height: 48px;">
                                <MudText Typo="Typo.body2" Color="Color.Secondary" Inline="true">
                                    @Translations.Module.Media.DeliveryModel:
                                </MudText>
                                <MudText Typo="Typo.body2" Inline="true">
                                    @(item.models.Any() ? string.Join(", ", item.models.Select(m => m.GetName())) : "N/A")
                                </MudText>
                            </MudCardContent>
                            <MudCardContent Class="py-1 px-2" Style="height: 48px;">
                                <MudText Typo="Typo.body2" Color="Color.Secondary" Inline="true">
                                    @Translations.Module.Media.MediaType:
                                </MudText>
                                <MudText Typo="Typo.body2" Inline="true">
                                    @(item.types.Any() ? string.Join(", ", item.types.Select(m => m.GetName())) : "N/A")
                                </MudText>
                            </MudCardContent>
                            <MudCardContent Class="py-1 px-2">
                                <MudText Typo="Typo.body2" Color="Color.Secondary" Inline="true">
                                    @Translations.Module.Media.Countries:
                                </MudText>
                                <MudText Typo="Typo.body2" Inline="true">
                                    @item.regions.Count
                                </MudText>
                            </MudCardContent>
                            <MudCardActions Style="padding: 4px;">
                                @if (favorite)
                                {
                                    <MudIconButton Icon="@Icons.Material.Filled.Star" Color="Color.Success" OnClick="@(() => Remove(item))" />
                                }
                                else
                                {
                                    <MudIconButton Icon="@Icons.Material.Filled.Star" Color="Color.Default" OnClick="@(() => Add(item))" />
                                }
                                <MudIconButton Icon="@Icons.Material.Filled.Share" Color="Color.Default" OnClick="@(() => JsRuntime.Utils().Share(item.name, item.description, $"/{Culture}/platform/{item.id}", CancellationToken.None))" />
                                <MudIconButton Icon="@Icons.Material.Filled.Link" Color="Color.Primary" Href="@($"/{Culture}/platform/{item.id}")" />
                            </MudCardActions>
                        </MudCard>
                        <AuthorizeView Roles="administrator" Context="ctx">
                            <Authorized>
                                @*  @if (string.IsNullOrEmpty(item.link))
                        {
                            <p class="m-0" style="color: red">link</p>
                        } *@
                                @*  @if (string.IsNullOrEmpty(item.description))
                        {
                            <p class="m-0" style="color: red">description</p>
                        } *@
                                @if (item.models.Empty())
                                {
                                    <p class="m-0" style="color: red">model</p>
                                }
                                @*  @if (item.models.Any(a => a == SD.Shared.Enums.DeliveryModel.SVOD) && item.plans.Empty())
                        {
                            <p class="m-0" style="color: red">plan</p>
                        } *@
                            </Authorized>
                        </AuthorizeView>
                    </div>
                }
            </div>
            <div style="text-align: center;" class="@Css.Build().Small("pt").Large("mb")">
                <MudButton StartIcon="@Icons.Material.Filled.ExpandMore" Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => ShowAll = true)"
                           Disabled="@(ShowAll || AllProviders == null || GetFilteredProviders(true).Count == GetFilteredProviders(false).Count)">
                    @Translations.Button.LoadMore
                </MudButton>
            </div>
        }
        else
        {
            <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Icon="@Icons.Material.Filled.Warning"
                      Class="@Css.Build().Large("mb")" Style="text-align: justify; width: 100%;">
                @Translations.Notification.CustomVisibilityNoData
            </MudAlert>
        }
    </RenderControl>

    <style>
        .mud-card-header .mud-card-header-avatar {
            margin-right: 8px;
            margin-inline-end: 8px;
        }
    </style>
}

@code {
    public ComponentActions<AllProviders?> Actions { get; set; } = new(obj => obj == null || obj.Items.Empty());
    private AllProviders? AllProviders { get; set; }

    private MyProviders? MyProviders { get; set; }

    [Custom(Name = "Model")] public DeliveryModel? DeliveryModel { get; set; }
    [Custom(Name = "Type")] public MediaType? MediaType { get; set; }
    private string? name;

    [Parameter] public string? Region { get; set; }
    private bool isNotFound;

    public Region? RegionEnum { get; set; }
    private bool ShowAll { get; set; } = false;

    public bool FreePlatforms => Navigation.Uri.Contains("/free/");

    public List<ProviderModel> GetFilteredProviders(bool all)
    {
        return AllProviders?.Items
                   .Where(p => RegionEnum.HasValue && p.regions.Contains(RegionEnum.Value))
                   .Where(p => FreePlatforms ? p.models.Any(a => a == SD.Shared.Enums.DeliveryModel.FREE || a == SD.Shared.Enums.DeliveryModel.AVOD) : p.models.Empty() || p.models.Any(a => DeliveryModel == null || a == DeliveryModel))
                   .Where(p => p.types.Empty() || p.types.Any(a => MediaType == null || a == MediaType))
                   .Where(p => name == null || p.name!.Contains(name, StringComparison.InvariantCultureIgnoreCase))
                   .OrderBy(o => o.priority)
                   .Take(all ? 1000 : (Region.Empty() ? 45 : 20))
                   .ToList()
               ?? [];
    }

    public List<EnumObject<DeliveryModel>> DeliveryModels { get; set; } = [];
    public List<EnumObject<MediaType>> MediaTypes { get; set; } = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();

        AppStateStatic.RegionChanged.Subscribe(region => { RegionEnum = region; StateHasChanged(); }, cts.Token);
    }

    protected override async Task ProcessInitialData()
    {
        DeliveryModels = EnumHelper.GetList<DeliveryModel>();
        MediaTypes = EnumHelper.GetList<MediaType>().Where(p => p.Value != SD.Shared.Enums.MediaType.person).ToList();

        try
        {
            RegionEnum = Region.NotEmpty() ? Region.ParseToEnum<Region>() : await AppStateStatic.GetRegion(IpInfoApi, JsRuntime, cts.Token);
        }
        catch (Exception)
        {
            isNotFound = true;
        }

        AllProviders = await AllProvidersApi.GetAll(Actions, cts.Token);
    }

    protected override async Task LoadAuthDataAsync(CancellationToken token)
    {
        MyProviders = await MyProvidersApi.Get(null, token);
    }

    private async Task Add(ProviderModel provider)
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(Translations.Notification.YouMustLogged);
                return;
            }

            MyProviders ??= new MyProviders();

            var region = await AppStateStatic.GetRegion(IpInfoApi, JsRuntime, cts.Token);

            var item = new MyProvidersItem { id = provider?.id, name = provider?.name, logo = provider?.logo_path, region = region };
            MyProviders = await MyProvidersApi.Add(MyProviders, item, AppStateStatic.ActiveProduct, ApiContext.Default.MyProvidersItem, cts.Token);

            await ShowSuccess(Translations.Notification.PlatformAdded);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Remove(ProviderModel provider)
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(Translations.Notification.YouMustLogged);
                return;
            }

            MyProviders ??= new MyProviders();

            MyProviders = await MyProvidersApi.Remove(MyProviders.Items.First(f => f.id == provider?.id), ApiContext.Default.MyProvidersItem, cts.Token);

            await ShowSuccess(Translations.Notification.PlatformRemoved);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

}