@page "/platforms/{id}"

@using SD.WEB.Modules.Collections.Components
@using SD.WEB.Modules.Collections.Core
@using SD.WEB.Modules.Platform.Core
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Platform.Resources
@using SD.WEB.Modules.Subscription.Core
@using SD.WEB.Shared.Core
@inherits PageCore<PlataformDetail>

@inject AllProvidersApi AllProvidersApi
@inject TmdbDiscoveryApi TmdbDiscoveryApi
@inject WatchedListApi WatchedApi
@inject WatchingListApi WatchingApi
@inject WishListApi WishApi
@inject MyProvidersApi MyProvidersApi
@inject IpInfoApi IpInfoApi
@inject IpInfoServerApi IpInfoServerApi

@if (isNotFound)
{
    <NotFoundPage></NotFoundPage>
}
else
{
    <SeoHeader Title="@($"{SeoTranslations.ProvidersTitle} | {Provider?.name}")" Description="@Provider?.description" Url="@($"/platforms/{Provider?.id}")"
               Icon="@(TmdbOptions.OriginalPosterPath + Provider?.logo_path)" Keywords="@([Provider?.name])">
    </SeoHeader>

    @if (Provider != null)
    {
        <NewPageSection IsPageHeader="true" Image="@(TmdbOptions.OriginalPosterPath + Provider.logo_path)" Title="@Provider.name" Subtitle="@GetSubtitle()" Description="@Provider.description">
            <ActionsFragment>
                @if (Provider.link.NotEmpty())
                {
                    <MudButton Color="Color.Primary" StartIcon="@Icons.Material.Filled.Link" Href="@Provider.link" Target="_blank" Class="me-2" Variant="Variant.Filled">
                        Official Website
                    </MudButton>
                }
                @if (Provider != null)
                {
                    @if (MyProviders?.Items.Any(a => a.id == Provider?.id) ?? false)
                    {
                        <MudButton StartIcon="@IconsFA.Solid.Icon("minus").Font" Color="Color.Error" OnClick="@Remove" Variant="Variant.Filled">
                            @Button.Remove
                        </MudButton>
                    }
                    else
                    {
                        <MudButton StartIcon="@IconsFA.Solid.Icon("plus").Font" Color="Color.Primary" OnClick="@Add" Variant="Variant.Filled">
                            @Button.Add
                        </MudButton>
                    }
                }
            </ActionsFragment>
        </NewPageSection>
    }

    <GoogleAdSense Section="@GoogleAdSense.AdUnit.Platforms"></GoogleAdSense>

    <RenderControl Actions="Actions">
        <NewMediaList ContainsHeader="true" TitleHead="@Translations.Popular" MediaListApi="TmdbDiscoveryApi" CustomExpand="@($"/platforms/{Id}/popular/{{0}}")"
                      ShowMovieFilter="ShowMovieFilter" ShowTvFilter="ShowTvFilter"
                      StringParameters="@GetExtraParameters(Id, "popularity.desc")" Watched="Watched" Watching="Watching" Wish="Wish" ForceTypoTitle="Typo.h3">
        </NewMediaList>
        <NewMediaList ContainsHeader="true" TitleHead="@Translations.Release" MediaListApi="TmdbDiscoveryApi" CustomExpand="@($"/platforms/{Id}/new/{{0}}")"
                      ShowMovieFilter="ShowMovieFilter" ShowTvFilter="ShowTvFilter"
                      StringParameters="@GetExtraParameters(Id, "primary_release_date.desc")" Watched="Watched" Watching="Watching" Wish="Wish" ForceTypoTitle="Typo.h3">
        </NewMediaList>
        <NewMediaList ContainsHeader="true" TitleHead="@Translations.TopRated" MediaListApi="TmdbDiscoveryApi" CustomExpand="@($"/platforms/{Id}/top/{{0}}")"
                      ShowMovieFilter="ShowMovieFilter" ShowTvFilter="ShowTvFilter"
                      StringParameters="@GetExtraParameters(Id, "vote_average.desc")" Watched="Watched" Watching="Watching" Wish="Wish" ForceTypoTitle="Typo.h3">
        </NewMediaList>
    </RenderControl>

    <div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() => JsRuntime.Window().HistoryBack())" Size="Size.Medium" />
    </div>
}

@code {
    [Parameter] public string? Id { get; set; }
    private bool isNotFound;

    public ComponentActions<ProviderModel?> Actions { get; set; } = new(obj => obj == null);
    private AllProviders? AllProviders { get; set; }
    public ProviderModel? Provider { get; set; }

    public WatchedList? Watched { get; set; }
    public WatchingList? Watching { get; set; }
    public WishList? Wish { get; set; }

    public MyProviders? MyProviders { get; set; }

    private bool ShowMovieFilter => Provider?.types.Contains(MediaType.movie) ?? false;
    private bool ShowTvFilter => Provider?.types.Contains(MediaType.tv) ?? false;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        WatchedApi.DataChanged += model => { Watched = model; StateHasChanged(); };
        WatchingApi.DataChanged += model => { Watching = model; StateHasChanged(); };
        WishApi.DataChanged += model => { Wish = model; StateHasChanged(); };

        Actions.StartLoading?.Invoke(null);
        AllProviders = await AllProvidersApi.GetAll();
        Provider = AllProviders?.Items.SingleOrDefault(s => s.id == Id);
        Actions.FinishLoading?.Invoke(Provider);

        if (Provider == null)
        {
            isNotFound = true;
        }
    }

    protected override async Task LoadAuthDataAsync()
    {
        MyProviders = await MyProvidersApi.Get(AppStateStatic.IsAuthenticated);

        if (AppStateStatic.IsAuthenticated)
        {
            Watched ??= await WatchedApi.Get(true);
            Watching ??= await WatchingApi.Get(true);
            Wish ??= await WishApi.Get(true);
        }
        else
        {
            Watched = null;
            Watching = null;
            Wish = null;
        }
    }

    private static Dictionary<string, string> GetExtraParameters(string? providerId, string sortBy)
    {
        if (providerId == null) throw new ArgumentNullException(nameof(providerId));

        return new Dictionary<string, string> { { "with_watch_providers", providerId }, { "sort_by", sortBy } };
    }

    private string? GetSubtitle()
    {
        if (Provider == null) return null;
        var models = string.Join(", ", Provider.models.Select(s => s.GetName()));
        return $"{@Modules.Platform.Resources.Translations.DeliveryModel}: {models} | Countries: {Provider.regions.Count}";
    }

    private async Task Add()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            MyProviders ??= new MyProviders();

            var region = await AppStateStatic.GetRegion(IpInfoApi, IpInfoServerApi, JsRuntime);

            var item = new MyProvidersItem { id = Provider?.id, name = Provider?.name, logo = Provider?.logo_path, region = region };
            MyProviders = await MyProvidersApi.Add(MyProviders, item, AppStateStatic.ActiveProduct);

            await ShowSuccess(Translations.PlatformAdded);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Remove()
    {
        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            MyProviders ??= new MyProviders();

            MyProviders = await MyProvidersApi.Remove(MyProviders.Items.First(f => f.id == Provider?.id));

            await ShowSuccess(Translations.PlatformRemoved);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

}