@page "/providers"

@using SD.WEB.Modules.Profile.Core;
@using SD.WEB.Modules.Provider.Core;

@inherits PageCore<Provider.Index>

@inject AllProvidersApi AllProvidersApi
@inject MyProvidersApi MyProvidersApi

<SeoHeader Title="@SeoTranslations.ProvidersTitle" Description="@SeoTranslations.ProvidersDescription" Url="/providers"></SeoHeader>

@* <Div TextAlignment="TextAlignment.Center">
    @if (Navigation.BaseUri.Contains("localhost") || Navigation.BaseUri.Contains("dev"))
    {
        <div class="adsbygoogle google-ads" style="background-color: black;"></div>
    }
    else
    {
        <ins class="adsbygoogle google-ads" data-ad-client="ca-pub-3885428939386350" data-ad-slot="7879953118"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    }
</Div> *@

<HeaderComponent Title="@Provider.Resources.Translations.TitleProviders.Format(AppStateStatic.Region.GetName())">
</HeaderComponent>
<RenderControl Core="Core" Model="AllProviders" ExpressionEmpty="@((AllProviders? obj) => obj == null || obj.Items.Empty())">
    <Row HorizontalGutter="4" VerticalGutter="4">
        @foreach (var item in GetFilteredProviders())
        {
            var favorite = myProviders?.Items.Any(a => a.id == item.id) ?? false;

            <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnDesktop.Is3.OnMobile">
                <Card Background="(favorite ? Background.Success : Background.Transparent)" Style="@(favorite ? "padding: 3px;" : "")">
                    <Blazorise.Link To="@($"/providers/{item.id}")">
                        <CardImage Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Alt="@item.name" Style="cursor: pointer;" title="@item.name"></CardImage>
                        @if (favorite)
                        {
                            <Badge Color="Color.Light" Style="padding: 0.15rem; font-size: 1rem; position: absolute; top: 6px; right: 6px; z-index: 1;">
                                <Blazorise.Icon Name="FontAwesomeIcons.Star" TextColor="TextColor.Success"></Blazorise.Icon>
                            </Badge>
                        }
                    </Blazorise.Link>
                </Card>
                <AuthorizeView Roles="administrator">
                    <Authorized>
                       @*  @if (string.IsNullOrEmpty(item.link))
                        {
                            <p class="m-0" style="color: red">link</p>
                        } *@
                       @*  @if (string.IsNullOrEmpty(item.description))
                        {
                            <p class="m-0" style="color: red">description</p>
                        } *@
                        @if (item.models.Empty())
                        {
                            <p class="m-0" style="color: red">model</p>
                        }
                       @*  @if (item.models.Any(a => a == SD.Shared.Enums.DeliveryModel.SVOD) && item.plans.Empty())
                        {
                            <p class="m-0" style="color: red">plan</p>
                        } *@
                    </Authorized>
                </AuthorizeView>
            </Column>
        }
    </Row>
</RenderControl>

@code {
    public RenderControlCore<AllProviders?>? Core { get; set; } = new();
    private AllProviders? AllProviders { get; set; }

    private MyProviders? myProviders { get; set; }

    public IEnumerable<ProviderModel> GetFilteredProviders() => AllProviders?.Items.OrderBy(o => o.priority).Where(p =>
        p.regions.Any(a => a == AppStateStatic.Region)) ?? Array.Empty<ProviderModel>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        AppStateStatic.RegionChanged += StateHasChanged;

        //it is in initialize so it can be recognized by link mapping
        AllProviders = await AllProvidersApi.GetAll(Core);
    }

    protected override async Task LoadDataRender()
    {
        myProviders = await MyProvidersApi.Get(IsAuthenticated, null);
    }
}
