@page "/platforms/{id}"
<SeoHeader Title="@($"{SeoTranslations.ProvidersTitle} | {Provider?.name}")" Description="@Provider?.description" Url="@($"/platforms/{Provider?.id}")"
           Icon="@(TmdbOptions.OriginalPosterPath + Provider?.logo_path)">
</SeoHeader>
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Provider.Core
@using SD.WEB.Modules.Provider.Resources
@using SD.WEB.Modules.Collections.Components
@using SD.WEB.Modules.Collections.Core
@inherits PageCore<PlataformDetail>

@inject AllProvidersApi AllProvidersApi
@inject TmdbDiscoveryApi TmdbDiscoveryApi
@inject WatchedListApi WatchedListApi
@inject WatchingListApi WatchingListApi
@inject WishListApi WishListApi

<RenderControl Core="Core" Model="AllProviders" ExpressionEmpty="@((AllProviders? obj) => obj == null)">
    @if (Provider != null)
    {
        <HeadPage ImageSource="@(TmdbOptions.OriginalPosterPath + Provider.logo_path)" Title="@Provider.name" Text="@Provider.description" Link="@Provider.link"
                  Provider="Provider" IsAuthenticated="IsAuthenticated">
        </HeadPage>
    }

    @if (Settings is { ShowAdSense: true } && Principal?.ClientePaddle is not { IsPaidUser: true })
    {
        <div TextAlignment="TextAlignment.Center">
            <ins class="adsbygoogle google-ads" data-ad-client="ca-pub-5922021468622891" data-ad-slot="2339718687"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    }

    <MediaList TitleHead="@Translations.Popular" MediaListApi="TmdbDiscoveryApi" StringParameters="@GetExtraParameters(Id, "popularity.desc")"
               ShowFilter="true" Watched="WatchedList" Watching="WatchingList" Wish="WishList" ShowPrivateAction="true" IsAuthenticated="IsAuthenticated">
    </MediaList>
    <MediaList TitleHead="@Translations.Release" MediaListApi="TmdbDiscoveryApi" StringParameters="@GetExtraParameters(Id, "primary_release_date.desc")"
               ShowFilter="true" Watched="WatchedList" Watching="WatchingList" Wish="WishList" ShowPrivateAction="true" IsAuthenticated="IsAuthenticated">
    </MediaList>
    <MediaList TitleHead="@Translations.TopRated" MediaListApi="TmdbDiscoveryApi" StringParameters="@GetExtraParameters(Id, "vote_average.desc")"
               ShowFilter="true" Watched="WatchedList" Watching="WatchingList" Wish="WishList" ShowPrivateAction="true" IsAuthenticated="IsAuthenticated">
    </MediaList>
</RenderControl>

@code {
    [Parameter] public string? Id { get; set; }

    public RenderControlCore<AllProviders?>? Core { get; set; } = new();
    private AllProviders? AllProviders { get; set; }
    public ProviderModel? Provider { get; set; }

    public RenderControlCore<WatchedList?> CoreWatchedList { get; set; } = new();
    public RenderControlCore<WatchingList?> CoreWatchingList { get; set; } = new();
    public RenderControlCore<WishList?> CoreWishlist { get; set; } = new();

    public Settings? Settings { get; set; }
    public ClientePrincipal? Principal { get; set; }

    public WatchedList? WatchedList { get; set; }
    public WatchingList? WatchingList { get; set; }
    public WishList? WishList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        WatchedListApi.DataChanged += model =>
        {
            WatchedList = model;
            StateHasChanged();
        };
        WatchingListApi.DataChanged += model =>
        {
            WatchingList = model;
            StateHasChanged();
        };
        WishListApi.DataChanged += model =>
        {
            WishList = model;
            StateHasChanged();
        };

        Settings = await CacheSettingsApi.GetSettings();
        Principal = await PrincipalApi.Get(IsAuthenticated);

        AllProviders = await AllProvidersApi.GetAll(Core);

        Provider = AllProviders?.Items.SingleOrDefault(s => s.id == Id);
    }

    protected override async Task LoadDataRender()
    {
        WatchedList = await WatchedListApi.Get(IsAuthenticated, CoreWatchedList);
        WatchingList = await WatchingListApi.Get(IsAuthenticated, CoreWatchingList);
        WishList = await WishListApi.Get(IsAuthenticated, CoreWishlist);
    }

    private static Dictionary<string, string> GetExtraParameters(string? providerId, string sortBy)
    {
        if (providerId == null) throw new ArgumentNullException(nameof(providerId));

        return new Dictionary<string, string> { { "with_watch_providers", providerId }, { "sort_by", sortBy } };
    }

}