@inherits ComponentCore<AskReview>

<MudDialog Style="width: 100%">
    <DialogContent>
        <MudText Typo="Typo.subtitle1" Color="Color.Primary" Class="mb-3" Style="text-align: center;">
            @GlobalTranslations.WriteReviewSubtitle
        </MudText>

        @if (Platform != SD.Shared.Enums.Platform.webapp)
        {
            <div style="text-align: center;">
                @if (Platform == SD.Shared.Enums.Platform.windows)
                {
                    <MudButton Href="@_windowsReview" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Primary" Class="me-2">
                        <MudImage Src="/logo/microsoft-store.png" Class="me-2" Style="max-width: 20px;"></MudImage> Microsoft Store (Store)
                    </MudButton>
                    <MudButton Href="@_windowsStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Secondary">
                        <MudImage Src="/logo/microsoft-store.png" Class="me-2" Style="max-width: 20px;"></MudImage> Microsoft Store (Website)
                    </MudButton>
                }
                else if (Platform == SD.Shared.Enums.Platform.play)
                {
                    <MudButton Href="@_googleReview" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Primary" Class="me-2">
                        <MudImage Src="/logo/google-play.png" Class="me-2" Style="max-width: 20px;"></MudImage> Google Play (Store)
                    </MudButton>
                    <MudButton Href="@_googleStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Secondary">
                        <MudImage Src="/logo/google-play.png" Class="me-2" Style="max-width: 20px;"></MudImage> Google Play (Website)
                    </MudButton>
                }
                else if (Platform == SD.Shared.Enums.Platform.ios)
                {
                    <MudButton Href="@_appleReview" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Primary" Class="me-2">
                        <MudImage Src="/logo/app-store.png" Class="me-2" Style="max-width: 20px;"></MudImage> App Store (Store)
                    </MudButton>
                    <MudButton Href="@_appleStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Secondary">
                        <MudImage Src="/logo/app-store.png" Class="me-2" Style="max-width: 20px;"></MudImage> App Store (Website)
                    </MudButton>
                }
                else if (Platform == SD.Shared.Enums.Platform.huawei)
                {
                    <MudButton Href="@_huaweiReview" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Primary" Class="me-2">
                        <MudImage Src="/logo/huawei.png" Class="me-2" Style="max-width: 20px;"></MudImage> Huawei AppGallery (Store)
                    </MudButton>
                    <MudButton Href="@_huaweiStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Secondary">
                        <MudImage Src="/logo/huawei.png" Class="me-2" Style="max-width: 20px;"></MudImage> Huawei AppGallery (Website)
                    </MudButton>
                }
                else if (Platform == SD.Shared.Enums.Platform.xiaomi)
                {
                    <MudButton Href="@_xiaomiReview" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Primary" Class="me-2">
                        <MudImage Src="/logo/xiaomi.png" Class="me-2" Style="max-width: 20px;"></MudImage> Xiaomi GetApps (Store)
                    </MudButton>
                    <MudButton Href="@_xiaomiStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" Color="Color.Secondary">
                        <MudImage Src="/logo/xiaomi.png" Class="me-2" Style="max-width: 20px;"></MudImage> Xiaomi GetApps (Website)
                    </MudButton>
                }
            </div>

            <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="my-3" Style="text-align: center;">
                @GlobalTranslations.WriteReviewSubtitleStore
            </MudText>
        }
        else //webapp
        {
            <MudText Typo="Typo.subtitle2" Color="Color.Secondary" Class="mb-3" Style="text-align: center;">
                @GlobalTranslations.WriteReviewSubtitleWebapp
            </MudText>

            <MudGrid Spacing="2" Class="mb-3">
                <MudItem xs="12" md="6">
                    <MudButton Href="@_windowsStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" FullWidth="true">
                        <MudImage Src="/logo/microsoft-store.png" Class="me-2" Style="max-width: 20px;"></MudImage> Microsoft Store
                    </MudButton>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudButton Href="@_googleStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" FullWidth="true">
                        <MudImage Src="/logo/google-play.png" Class="me-2" Style="max-width: 20px;"></MudImage> Google Play
                    </MudButton>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudButton Href="@_appleStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" FullWidth="true">
                        <MudImage Src="/logo/app-store.png" Class="me-2" Style="max-width: 20px;"></MudImage> App Store
                    </MudButton>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudButton Href="@_huaweiStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" FullWidth="true">
                        <MudImage Src="/logo/huawei.png" Class="me-2" Style="max-width: 20px;"></MudImage> Huawei AppGallery
                    </MudButton>
                </MudItem>
                <MudItem xs="12" md="6">
                    <MudButton Href="@_xiaomiStore" Target="_blank" OnClick="Reviewed" Variant="Variant.Filled" FullWidth="true">
                        <MudImage Src="/logo/xiaomi.png" Class="me-2" Style="max-width: 20px;"></MudImage> Xiaomi GetApps
                    </MudButton>
                </MudItem>
            </MudGrid>
        }

    </DialogContent>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }

    public SD.Shared.Enums.Platform Platform { get; set; }

    private readonly string _windowsReview = "ms-windows-store://review/?ProductId=9pb1pkrdd8l0"; //its working
    private readonly string _googleReview = "market://details?id=com.streamingdiscovery.www.twa"; //its old. better to use In-App Review API.
    private readonly string _appleReview = "itms-apps://itunes.apple.com/app/id6749285238?action=write-review"; //its working
    private readonly string _huaweiReview = "appmarket://details?id=C111325113"; //It may work or it may not.
    private readonly string _xiaomiReview = "mimarket://details?id=com.streamingdiscovery.www.twa"; //It may work or it may not.

    private readonly string _windowsStore = "https://apps.microsoft.com/detail/9pb1pkrdd8l0";
    private readonly string _googleStore = "https://play.google.com/store/apps/details?id=com.streamingdiscovery.www.twa";
    private readonly string _appleStore = "https://apps.apple.com/us/app/streaming-discovery/id6749285238";
    private readonly string _huaweiStore = "https://appgallery.huawei.com/app/C111325113";
    private readonly string _xiaomiStore = "https://global.app.mi.com/details?id=com.streamingdiscovery.www.twa";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Platform = await AppStateStatic.GetPlatform(JsRuntime);
    }

    private async Task Reviewed()
    {
        await JsRuntime.Utils().SetLocalStorage("store-reviewed", true.ToString().ToLower());
    }
}
