@page "/collections/hollywood-reporter"
<SeoHeader Title="Collections | Hollywood Reporter" Description="@SD.WEB.Resources.Credit.HollywoodReporter" Keywords="@(new[] { "Hollywood Reporter" })" Url="/collections/hollywood-reporter"></SeoHeader>
@using SD.WEB.Modules.Collections.Core
@using SD.WEB.Modules.Platform.Resources
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Collections.Components
@inherits PageCore<HollywoodReporter>
@inject TmdbListApi TmdbListApi
@inject WatchedListApi WatchedListApi
@inject WatchingListApi WatchingListApi
@inject WishListApi WishListApi

<PageHeader Title="Hollywood Reporter" Image="logo/hollywood-reporter.png" Description="@SD.WEB.Resources.Credit.HollywoodReporter" Link="https://www.hollywoodreporter.com/"></PageHeader>

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Collections" IsAuthenticated="IsAuthenticated"></GoogleAdSense>

<MediaList MediaListApi="TmdbListApi" List="@EnumLists.HollywoodReporterTop100Movies" Watched="WatchedList" Watching="WatchingList" Wish="WishList"
           IsAuthenticated="IsAuthenticated">
</MediaList>
<MediaList MediaListApi="TmdbListApi" List="@EnumLists.HollywoodReporterTop100TvShows" Watched="WatchedList" Watching="WatchingList" Wish="WishList"
           IsAuthenticated="IsAuthenticated">
</MediaList>

<div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" Size="AppStateStatic.Size" OnClick="@(() => JavascriptVoidAsync("history.back"))" />
</div>

@code {
    public WatchedList? WatchedList { get; set; }
    public WatchingList? WatchingList { get; set; }
    public WishList? WishList { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        WatchedListApi.DataChanged += model =>
        {
            WatchedList = model;
            StateHasChanged();
        };
        WatchingListApi.DataChanged += model =>
        {
            WatchingList = model;
            StateHasChanged();
        };
        WishListApi.DataChanged += model =>
        {
            WishList = model;
            StateHasChanged();
        };
    }

    protected override async Task LoadNonEssentialDataAsync()
    {
        WatchedList = await WatchedListApi.Get(IsAuthenticated, null);
        WatchingList = await WatchingListApi.Get(IsAuthenticated, null);
        WishList = await WishListApi.Get(IsAuthenticated, null);
    }

}