<Container Fluid="true" Display="@(Support ? Display.Block.None.OnWidescreen : Display.None.Block.OnWidescreen)">
    <Row Margin="Margin.Is4.OnY" Padding="Padding.Is4.FromTop" Border="Border.Secondary.OnTop">
        <Column ColumnSize="ColumnSize.Is12.Is4.OnTablet" Display="Display.Flex.Column" Gap="Gap.Is3" Margin="Margin.Is3.FromBottom.Is0.OnTablet">
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Muted">
                <Image Source="icon/icon-71.png" Height="Height.Px(27)"></Image> Streaming Discovery
            </Span>
            <Paragraph TextColor="TextColor.Muted" TextSize="TextSize.Small" TextAlignment="TextAlignment.Justified">
                @Resources.SeoTranslations.Description
            </Paragraph>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is2.OnTablet" Display="Display.Flex.Column" Gap="Gap.Is3" Margin="Margin.Is3.FromBottom.Is0.OnTablet">
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Muted">
                COMPANY
            </Span>
            <Blazorise.Link To="https://www.drma-tech.com/" Target="Target.Blank" TextColor="TextColor.Muted" TextDecoration="TextDecoration.None">
                Website
            </Blazorise.Link>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is2.OnTablet" Display="Display.Flex.Column" Gap="Gap.Is3" Margin="Margin.Is3.FromBottom.Is0.OnTablet">
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Muted">
                PRODUCT
            </Span>
            <Blazorise.Link To="https://www.streamingdiscovery.com/" Target="Target.Blank" TextColor="TextColor.Muted" TextDecoration="TextDecoration.None">
                Website
            </Blazorise.Link>
            <Blazorise.Link To="https://play.google.com/store/apps/details?id=com.streamingdiscovery.www.twa" Target="Target.Blank" TextColor="TextColor.Muted" TextDecoration="TextDecoration.None">
                Google Play
            </Blazorise.Link>
            <Blazorise.Link To="https://apps.microsoft.com/store/detail/streaming-discovery/9PB1PKRDD8L0" Target="Target.Blank" TextColor="TextColor.Muted" TextDecoration="TextDecoration.None">
                Microsoft Store
            </Blazorise.Link>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is2.OnTablet" Display="Display.Flex.Column" Gap="Gap.Is3" Margin="Margin.Is3.FromBottom.Is0.OnTablet">
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Muted">
                SUPPORT
            </Span>
            <Blazorise.Link To="mailto:support@streamingdiscovery.com" TextColor="TextColor.Muted" TextDecoration="TextDecoration.None">
                Contact
            </Blazorise.Link>
        </Column>
        <Column ColumnSize="ColumnSize.Is12.Is2.OnTablet" Display="Display.Flex.Column" Gap="Gap.Is3" Margin="Margin.Is3.FromBottom.Is0.OnTablet">
            <Span TextWeight="TextWeight.Bold" TextColor="TextColor.Muted">
                LEGAL
            </Span>
            <Blazorise.Link To="@("support/terms/" + (AppStateStatic.Language == Language.ptBR ? "pt" : "en"))" TextColor="TextColor.Muted" TextDecoration="TextDecoration.None">
                @WEB.Modules.Support.Resources.Translations.LinkTerm
            </Blazorise.Link>
            <Blazorise.Link To="@("support/privacy/" + (AppStateStatic.Language == Language.ptBR ? "pt" : "en"))" TextColor="TextColor.Muted" TextDecoration="TextDecoration.None">
                @WEB.Modules.Support.Resources.Translations.LinkPrivacy
            </Blazorise.Link>
        </Column>
    </Row>
</Container>

@code {
    [Parameter] public bool Support { get; set; } = false;
}
