@inherits ComponentCore<GoogleAdSense>

@inject IJSRuntime JS
@* @implements IDisposable *@

@if (IsLocalhost)
{
    <div style="text-align: center;">
        <ins class="adsbygoogle mb-3" data-ad-status="unfilled"
             style="@($"display: block; min-width: 300px; min-height: {(IsMobile || Format == "horizontal" ? "90" : "280")}px; text-align: center; border-width: 1px; border-radius: 4px; border-color: var(--mud-palette-lines-inputs); background-color: white;")">
            <div></div>
        </ins>
    </div>
}
else if (!IsPaidUser)
{
    <div style="text-align: center;" @key="@_adId">
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-@AdClientId" crossorigin="anonymous"></script>
        <ins class="adsbygoogle"
             style="display: block; min-width: 300px; margin-bottom: 12px; border-width: 1px; border-radius: 4px; border-color: var(--mud-palette-lines-inputs);"
             data-ad-client="ca-pub-@AdClientId"
             data-ad-slot="@(((long)Section).ToString())"
             data-ad-format="@AdFormat"
             data-full-width-responsive="true">
        </ins>
        <script>
            (() => {
                const checkAds = setInterval(() => {
                    const insList = document.querySelectorAll('ins.adsbygoogle:not([data-adsbygoogle-status])');
                    if (insList.length > 0 && window.adsbygoogle) {
                        insList.forEach(() => {
                            (adsbygoogle = window.adsbygoogle || []).push({});
                        });
                        clearInterval(checkAds);
                    }
                }, 200);
            })();
        </script>

        @*  <ins id="@_adId" class="adsbygoogle"
             style="display: block; min-width: 300px; margin-bottom: 12px; border-width: 1px; border-radius: 4px; border-color: var(--mud-palette-lines-inputs);"
             data-ad-client="ca-pub-@AdClientId"
             data-ad-slot="@(((long)Section).ToString())"
             data-ad-format="@AdFormat"
             data-full-width-responsive="true">
        </ins> *@
    </div>
}


@code {
    [Parameter][EditorRequired] public AdUnit Section { get; set; } = AdUnit.Index;
    [Parameter][EditorRequired] public bool IsAuthenticated { get; set; }
    [Parameter] public string? Format { get; set; }

    private bool IsMobile => Breakpoint < Breakpoint.Sm; //todo: also get height less then 600px
    private string? AdFormat => Format ?? (IsMobile ? "horizontal" : "auto");
    private bool IsLocalhost => Navigation.BaseUri.Contains("localhost");
    private bool IsPaidUser => Principal?.AuthPaddle is { IsPaidUser: true };

    private AuthPrincipal? Principal { get; set; }

    private const string AdClientId = "5145928155833172";
    private readonly string _adId = $"adsense-{Guid.NewGuid()}";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            await base.OnInitializedAsync();
            Principal = await PrincipalApi.Get(IsAuthenticated);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     try
    //     {
    //         if (firstRender && !IsLocalhost && !IsPaidUser)
    //         {
    //             await JS.InvokeVoidAsync("adsenseManager.load", AdClientId);
    //             await JS.InvokeVoidAsync("adsenseManager.observeAd", _adId);
    //         }
    //     }
    //     catch (Exception ex)
    //     {
    //         ex.ProcessException(Snackbar, Logger);
    //     }
    // }

    // public void Dispose()
    // {
    //     if (!IsLocalhost && !IsPaidUser)
    //     {
    //         JS.InvokeVoidAsync("adsenseManager.removeObserver", _adId).AsTask().ContinueWith(t => { /* Ignore errors */ });
    //     }
    // }

    public enum AdUnit : long
    {
        Index = 4046112630,
        Profile = 4650130753,
        Platforms = 5359194302,
        Collections = 1353899488,
        Search = 8540150517,
        Media = 8348578821,
        Media2 = 6804406755,
        Media3 = 6612835066
    }
}
