@using Microsoft.AspNetCore.Components.Routing
@using SD.WEB.Modules.Subscription.Core
@inherits ComponentCore<GoogleAdSense>

@inject PaymentConfigurationApi ConfigurationApi
@inject IpInfoApi IpInfoApi

@if (IgnoreRoutes.All(p => !Navigation.Uri.Contains(p)))
{
    if (IsLocalhost)
    {
        <div style="text-align: center;" class="my-1">
            <MudLink Typo="Typo.caption" OnClick="OpenSubscription" Color="Color.Secondary">Remove Advertising</MudLink>
        </div>
        <div style="@($"{(Format == AdFormat.Vertical ? "height: 600px; width: 300px;" : "height: 90px;")} text-align: center; align-content: center;")" class="@Css.Build().Medium("mb").Raw("adsbygoogle custom-ad")">
            Google AdSense
        </div>
    }
    else if (!Printscreen && !ActiveSubscription)
    {
        <div style="text-align: center;" class="my-1">
            <MudLink Typo="Typo.caption" OnClick="OpenSubscription" Color="Color.Secondary">Remove Advertising</MudLink>
        </div>
        <div id="@_containerId" @key="@_containerId" style="text-align: center; align-content: center;" class="@Css.Build().Medium("mb")">
        </div>
    }
}

@code {
    [Parameter][SupplyParameterFromQuery(Name = "printscreen")] public bool Printscreen { get; set; } = false;
    [Parameter][EditorRequired] public AdSlot Slot { get; set; }
    [Parameter] public AdFormat? Format { get; set; }
    [Parameter] public string[] IgnoreRoutes { get; set; } = ["auth", "legal"];

    private bool IsMobile => AppStateStatic.Breakpoint == Breakpoint.Xs;
    private bool IsLocalhost => Navigation.BaseUri.Contains("localhost") || Navigation.BaseUri.Contains("develop");
    private bool ActiveSubscription => AppStateStatic.Principal?.GetActiveSubscription() != null;

    private const string AdClientId = "5145928155833172";

    private int _adVersion;
    private int _lastRenderedVersion = -1;
    private string _containerId = $"ad-container-{Guid.NewGuid()}";

    private readonly Dictionary<string, string> _BlockedCountries = new()
    {
        { "CU", "Cuba" },
        { "IR", "Iran" },
        { "KP", "North Korea" },
        { "CN", "China (Mainland)" }
    };

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        _adVersion++;
        _containerId = $"ad-container-{Guid.NewGuid()}";

        InvokeAsync(StateHasChanged);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            if (_adVersion == _lastRenderedVersion)
                return;

            _lastRenderedVersion = _adVersion;

            if (!IsLocalhost && !ActiveSubscription)
            {
                var country = await AppStateStatic.GetCountry(IpInfoApi, JsRuntime, cts.Token);

                if (country == "CN")
                {
                    //todo: implement https://www.baiduadvertising.com/
                }
                else if (country.Empty() || _BlockedCountries.ContainsKey(country))
                {
                    //do not show ads
                }
                else
                {
                    var format = Format != null ? Format.ToString()!.ToLower() : (IsMobile ? AdFormat.Auto.ToString().ToLower() : AdFormat.Horizontal.ToString().ToLower());
                    await JsRuntime.Services().InitAdSense($"ca-pub-{AdClientId}", Slot, _containerId, format, cts.Token);
                    _ = DetectAdBlockAsync();
                }
            }

            await base.OnAfterRenderAsync(firstRender);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task DetectAdBlockAsync()
    {
        var blocked = await JsRuntime.Utils().IsAdBlocked(cts.Token);

        if (blocked)
        {
            await InvokeAsync(async () =>
            {
                await ShowWarning(GlobalTranslations.AdBlockerDetected);
            });
        }
    }

    private async Task OpenSubscription()
    {
        await DialogService.SubscriptionPopup();
    }
}
