@using SD.Shared.Models.List.Tmdb
@using SD.WEB.Modules.Collections.Core
@using SD.WEB.Modules.Collections.Interface
@using Button = SD.WEB.Resources.Button
@inherits ComponentCore<MediaListFull>

@inject ExternalIdApi ExternalIdApi
@inject TmdbCreditApi TmdbCreditApi

@if (ShowHead)
{
    <PageHeader Title="@GetTitle" Subtitle="@SubtitleHead" Icon="@Icon" Description="@Description"></PageHeader>
}

<RenderControl Core="Core" Model="Items" ExpressionEmpty="@((HashSet<MediaDetail> list) => list.Empty())">
    <div class="grid-relative-container-poster">
        @foreach (var item in Items)
        {
            <PosterComponent Date="@item.release_date" Rating="@item.rating" Poster="@item.poster_small" Title="@item.title" OnlyYear="OnlyYear" FullPage="FullPage"
                             Comments="@item.comments" CommentsSeparator="@CommentsSeparator" TmdbId="@item.tmdb_id" MediaType="@item.MediaType"
                             Clicked="@(() => OpenPopupMedia(item))" WatchedList="Watched" WishList="Wish" CommentsIsImage="CommentsIsImage">
            </PosterComponent>
        }
    </div>
</RenderControl>
@if (MediaListApi != null)
{
    <div style="text-align: center;" class="pt-3">
        <MudButton StartIcon="@IconsFA.Solid.Icon("rotate").Font" Color="Color.Primary" OnClick="@LoadMore" Disabled="@DisableLoadMore" Variant="Variant.Outlined" Size="AppStateStatic.Size">
            @Button.LoadMore
        </MudButton>
    </div>
}

@if (!Popup)
{
    <div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
        <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" Size="AppStateStatic.Size" OnClick="@(() => JavascriptVoidAsync("history.back"))" />
    </div>
}

@code {
    [Parameter][EditorRequired] public WatchedList? Watched { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter][EditorRequired] public bool IsAuthenticated { get; set; }

    [Parameter] public bool ShowHead { get; set; } = true;
    [Parameter] public string? TitleHead { get; set; }
    [Parameter] public string? SubtitleHead { get; set; }
    [Parameter] public string? Description { get; set; }
    [Parameter] public string? Icon { get; set; }
    [Parameter] public bool FullPage { get; set; } = false;
    [Parameter] public bool Popup { get; set; } = false;
    [Parameter] public bool OnlyYear { get; set; }

    [Parameter] public RenderControlCore<HashSet<MediaDetail>>? Core { get; set; } = new();
    [Parameter] public HashSet<MediaDetail> Items { get; set; } = [];
    [Parameter] public EventCallback<HashSet<MediaDetail>> ItemsChanged { get; set; }

    [Parameter] public bool IsImdb { get; set; }
    [Parameter] public IMediaListApi? MediaListApi { get; set; }
    [Parameter] public MediaType? TypeSelected { get; set; }
    [Parameter] public Dictionary<string, string> StringParameters { get; set; } = new();
    [Parameter] public EnumLists? List { get; set; }
    [Parameter] public string? CommentsSeparator { get; set; } = ",";
    [Parameter] public bool CommentsIsImage { get; set; }
    [Parameter] public bool OrderByComments { get; set; }

    [Parameter] public bool DetectRegions { get; set; }

    private string? GetTitle => List != null ? List.GetName() : TitleHead;
    public bool DisableLoadMore { get; set; }
    private int _currentPage = 1;

    protected override void OnInitialized()
    {
        //if (!string.IsNullOrEmpty(list_id) && !NextPage.HasDelegate) throw new ArgumentNullException(nameof(NextPage));
        //if (NextPage.HasDelegate && string.IsNullOrEmpty(list_id)) throw new ArgumentNullException(nameof(list_id));

        //TODO: analyse this
        // AppState.WishListChanged += StateHasChanged;
        // AppState.WatchedListChanged += StateHasChanged;

        if (DetectRegions) AppStateStatic.RegionChanged += Region => LoadGenericVoid();
    }

    protected override async Task LoadEssentialDataAsync()
    {
        Core?.ShowLoading();
        await LoadItems();
        Core?.HideLoading(Items);
    }

    protected async void LoadGenericVoid()
    {
        Core?.ShowLoading();
        await LoadItems();
        Core?.HideLoading(Items);
    }

    private async Task LoadItems()
    {
        if (MediaListApi != null)
        {
            var result = await MediaListApi.GetList([], TypeSelected, StringParameters, List);
            // await Task.Delay(1); //TODO: for some reason, changing the media type is not updating the post image (probably because of the lazy-load css class)

            Items = result.list;
            DisableLoadMore = result.lastPage || Items.Count >= 250;

            if (Items.Count < 10) //force reload, if the filters bring few records
            {
                var result2 = await MediaListApi.GetList(Items, TypeSelected, StringParameters, List, ++_currentPage);
                foreach (var item in result2.list)
                {
                    Items.Add(item);
                }

                DisableLoadMore = result.lastPage || Items.Count >= 250;
            }

            if (OrderByComments) Items = Items.OrderByDescending(o => int.Parse(o.comments?.Split(",").Last() ?? "0")).ToHashSet();

            await ItemsChanged.InvokeAsync(Items);
        }
    }

    private async Task OpenPopupMedia(MediaDetail? media)
    {
        string? tmdbId;

        if (IsImdb) //for now, only tv series (imdb) need this kind of workaround
        {
            tmdbId = await ExternalIdApi.GetTmdbId(media?.MediaType, media?.tmdb_id);
        }
        else
        {
            tmdbId = media?.tmdb_id;
        }

        if (tmdbId.Empty())
        {
            await ShowError("Unable to display this content. Please try again later.");
            return;
        }

        if (media?.MediaType == MediaType.person)
        {
            var result = await TmdbCreditApi.GetListByPerson(tmdbId);
            var items = new HashSet<MediaDetail>();

            foreach (var item in result?.crew ?? Enumerable.Empty<CrewByPerson>())
            {
                var type = item.media_type == "tv" ? MediaType.tv : MediaType.movie;
                items.Add(new MediaDetail
                {
                    tmdb_id = item.id.ToString(),
                    title = type == MediaType.movie ? item.title : item.name,
                    plot = string.IsNullOrEmpty(item.overview) ? "No plot found" : item.overview,
                    release_date = type == MediaType.movie ? item.release_date?.GetDate() : item.first_air_date?.GetDate(),
                    poster_small = string.IsNullOrEmpty(item.poster_path) ? null : TmdbOptions.SmallPosterPath + item.poster_path,
                    poster_large = string.IsNullOrEmpty(item.poster_path) ? null : TmdbOptions.LargePosterPath + item.poster_path,
                    rating = item.vote_count > 10 ? item.vote_average ?? 0 : 0,
                    MediaType = type
                });
            }

            foreach (var item in result?.cast ?? [])
            {
                var type = item.media_type == "tv" ? MediaType.tv : MediaType.movie;

                if (type == MediaType.movie && item.order > 24) continue;
                if (type == MediaType.tv && item.episode_count < 3) continue;

                items.Add(new MediaDetail
                {
                    tmdb_id = item.id.ToString(),
                    title = type == MediaType.movie ? item.title : item.name,
                    plot = string.IsNullOrEmpty(item.overview) ? "No plot found" : item.overview,
                    release_date = type == MediaType.movie ? item.release_date?.GetDate() : item.first_air_date?.GetDate(),
                    poster_small = string.IsNullOrEmpty(item.poster_path) ? null : TmdbOptions.SmallPosterPath + item.poster_path,
                    poster_large = string.IsNullOrEmpty(item.poster_path) ? null : TmdbOptions.LargePosterPath + item.poster_path,
                    rating = item.vote_count > 10 ? item.vote_average ?? 0 : 0,
                    MediaType = type,
                    comments = type == MediaType.tv ? $"{item.episode_count} episodes" : ""
                });
            }

            await DialogService.CompleteListPopup($"{media.title}", Watched, Watching, Wish, items.OrderByDescending(o => o.release_date).ToHashSet(), IsAuthenticated);
        }
        else
        {
            if (Popup)
            {
                await DialogService.MediaPopup(Watched, Watching, Wish, media?.MediaType, tmdbId, IsAuthenticated);
            }
            else
            {
                Navigation.NavigateTo($"/media/{media?.MediaType.ToString().ToLower()}/{tmdbId}");
            }
        }
    }

    private async Task LoadMore()
    {
        if (MediaListApi != null)
        {
            var result = await MediaListApi.GetList(Items, TypeSelected, StringParameters, List, ++_currentPage);
            Items = result.list;
            DisableLoadMore = result.lastPage || Items.Count >= 250;

            if (OrderByComments) Items = Items.OrderByDescending(o => int.Parse(o.comments?.Split(",").Last() ?? "0")).ToHashSet();

            await ItemsChanged.InvokeAsync(Items);
        }
    }

}