@page "/media/{type}/{id}"

@using System.Globalization
@using Microsoft.AspNetCore.Components.Routing
@using SD.Shared.Models.List
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Collections.Core
@using SD.WEB.Modules.Collections.Resources
@using Button = SD.WEB.Resources.Button
@using SD.WEB.Modules.Support

@inherits PageCore<MediaPopup>
@implements IDisposable

@inject TmdbApi TmdbApi
@inject CacheRatingsApi CacheRatingsApi
@inject ExternalIdApi ExternalIdApi
@inject WatchedListApi WatchedApi
@inject WatchingListApi WatchingApi
@inject WishListApi WishApi
@inject TmdbRecommendationsApi TmdbRecommendationsApi

<SeoHeader Title="@Media?.title" Description="@Media?.plot" Url="@($"/media/{type}/{id}")" Keywords="new[] { Media?.title }" Index="false"></SeoHeader>
@if (Media?.title.NotEmpty() ?? false)
{
    <NewPageSection Title="@Media?.title">
        <ActionsFragment>
            @if (Wish?.Movies.Any(a => a.id == TmdbId) ?? false)
            {
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@Remove" Class="me-2">
                    @Translations.RemoveWishlist
                </MudButton>
            }
            else if (Wish?.Shows.Any(a => a.id == TmdbId) ?? false)
            {
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@Remove" Class="me-2">
                    @Translations.RemoveWishlist
                </MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@Add" Class="me-2">
                    @Translations.AddWishlist
                </MudButton>
            }
            @if (Watched?.Movies.Contains(TmdbId ?? "") ?? false)
            {
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@IsNotWatched" Class="me-2">
                    @Translations.ButtonNotWatched
                </MudButton>
            }
            else if (Watched?.Shows.Contains(TmdbId ?? "") ?? false)
            {
                <MudButton Color="Color.Error" Variant="Variant.Filled" OnClick="@IsNotWatched" Class="me-2">
                    @Translations.ButtonNotWatched
                </MudButton>
            }
            else
            {
                <MudButton Color="Color.Primary" Variant="Variant.Filled" OnClick="@IsWatched" Class="me-2">
                    @Translations.ButtonWatched
                </MudButton>
            }
        </ActionsFragment>
    </NewPageSection>
}

<GoogleAdSense Section="@GoogleAdSense.AdUnit.Media"></GoogleAdSense>

<NewRenderControl Actions="Actions" Instance="Media" ExpressionEmpty="@((MediaDetail? obj) => obj == null)" LoadingHeight="400px">
    <ChildContent>
        <NewPageSection Title="@Translations.TabAbout" Color="Color.Secondary">
            <BodyFragment>
                <MediaAbout ImdbId="@ImdbId" TmdbId="@TmdbId" Media="@Media" EnglishTitle="@EnglishTitle" Watched="Watched" Watching="Watching" Wish="Wish" Type="Type"
                            Actions="RatingsActions" RatingsCache="_ratingsCache"></MediaAbout>
            </BodyFragment>
        </NewPageSection>
        <NewPageSection Title="@GlobalTranslations.WhereToWatch" Color="Color.Secondary">
            <BodyFragment>
                <MediaStreaming TmdbId="@TmdbId" Type="@Type" ReleaseDate="@Media?.release_date"></MediaStreaming>
            </BodyFragment>
        </NewPageSection>

        <GoogleAdSense Section="@GoogleAdSense.AdUnit.Media2"></GoogleAdSense>

        <NewPageSection Title="@(Media?.MediaType == MediaType.movie ? Translations.TabCollection1 : Translations.TabCollection2)" Color="Color.Secondary" Visible="@(Media?.Collection.Any() ?? false)">
            <BodyFragment>
                <div class="grid-relative-container-poster">
                    @foreach (var item in Media?.Collection.OrderBy(o => o.release_date ?? DateTime.MaxValue).ToList() ?? [])
                    {
                        <div>
                            <div @onclick="@(() => CollectionClicked(item))" style="cursor: pointer; position: relative;">
                                @if (item.release_date.HasValue)
                                {
                                    if (item.release_date.Value < DateTime.Now.AddMonths(-3))
                                    {
                                        <MudChip T="string" Color="Color.Info" Size="AppStateStatic.Size" Label="true"
                                                 Style="padding: 0.2rem; position: absolute; top: 0; left: 0; white-space: inherit; height: auto; z-index: 1;">
                                            @item.release_date.Value.Year
                                        </MudChip>
                                    }
                                    else
                                    {
                                        <MudChip T="string" Color="Color.Info" Size="AppStateStatic.Size" Label="true"
                                                 Style="padding: 0.2rem; position: absolute; top: 0; left: 0; white-space: inherit; height: auto; z-index: 1;">
                                            @item.release_date.Value.ToShortDateString()
                                        </MudChip>
                                    }
                                }
                                @{
                                    if (Type == MediaType.movie) //you don't put seasons as wishes
                                    {
                                        var wishedMovie = Wish?.Contains(MediaType.movie, item.id) ?? false;
                                        if (wishedMovie)
                                        {
                                            <MudIcon Icon="@IconsFA.Solid.Icon("bookmark").Font" Color="Color.Info" Class="absolute" Style="bottom: 6px; left: 5px; z-index: 1;"></MudIcon>
                                        }
                                    }

                                    var movieWatched = Watched?.Contains(MediaType.movie, item.id) ?? false;
                                    var showWatched = Watching?.GetWatchingItems(MediaType.tv, Media?.tmdb_id).Any(a => a == item.id) ?? false;
                                    if (movieWatched || showWatched)
                                    {
                                        <MudIcon Icon="@IconsFA.Solid.Icon("eye").Font" Color="Color.Info" Class="absolute" Style="bottom: 6px; right: 5px; z-index: 1;"></MudIcon>
                                    }

                                    <MudImage Src="@(item.poster_small ?? "images/no-image.png")" Alt="@item.title" FallbackSrc="images/no-image.png" Fluid="true" ObjectFit="ObjectFit.Contain"></MudImage>
                                }
                            </div>
                            <MudText Align="Align.Center" Typo="Typo.h2" Class="custom-title-list">
                                @item.title
                            </MudText>
                        </div>
                    }
                </div>
            </BodyFragment>
        </NewPageSection>
        <NewPageSection Title="Recommendations" Color="Color.Secondary">
            <BodyFragment>
                <NewRenderControl Actions="RecommendationsActions" Instance="Recommendations" ExpressionEmpty="@((HashSet<MediaDetail> lst) => lst.Empty())" Context="ctx">
                    <div id="@_swiperId" class="swiper">
                        <div class="swiper-wrapper">
                            @foreach (var item in Recommendations)
                            {
                                <div class="swiper-slide" style="height: auto !important;">
                                    <PosterComponent Poster="@item.poster_small" Title="@item.title" Clicked="@(() => OpenPopupMedia(item.MediaType, item.tmdb_id))" MediaType="@item.MediaType"
                                                     Date="@item.release_date" Rating="@item.rating"
                                                     WishList="Wish" WatchedList="Watched" TmdbId="@item.tmdb_id" Comments="@item.comments">
                                    </PosterComponent>
                                </div>
                            }
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </NewRenderControl>
            </BodyFragment>
        </NewPageSection>
        <NewPageSection Title="Videos" Color="Color.Secondary" Visible="@(Media != null && Media.Videos.Any())">
            <BodyFragment>
                @foreach (var group in Media?.Videos.GroupBy(g => g.type).Select(s => s.Key) ?? [])
                {
                    <MudPaper Outlined="true" Class="pa-2 mb-2">
                        <MudText Color="Color.Primary" Typo="Typo.subtitle1">
                            @group
                        </MudText>
                        <MudDivider Class="mb-2"></MudDivider>
                        <MudStack Row="true" Spacing="@Css.SpaceSmall" Wrap="Wrap.Wrap">
                            @foreach (var item in Media?.Videos.Where(w => w.type == group) ?? [])
                            {
                                <div>
                                    <MudIcon Icon="@IconsFA.Brands.Icon("youtube").Font" Color="Color.Primary" Style="vertical-align: top;"></MudIcon>
                                    <MudLink Href="@($"https://www.youtube.com/watch?v={item.key}")" Target="_blank" Color="Color.Secondary"
                                             Style="@((AppStateStatic.Size == Size.Small ? "font-size: 0.8rem !important;" : "font-size: 1rem !important;"))">
                                        @item.name
                                    </MudLink>
                                </div>
                            }
                        </MudStack>
                    </MudPaper>
                }
            </BodyFragment>
        </NewPageSection>

        <GoogleAdSense Section="@GoogleAdSense.AdUnit.Media3"></GoogleAdSense>

        <NewPageSection Title="@Translations.TabCredits" Color="Color.Secondary">
            <BodyFragment>
                <CreditsComponent TmdbId="@TmdbId" Type="@Type" WatchedList="Watched" WatchingList="Watching" WishList="Wish">
                </CreditsComponent>
            </BodyFragment>
        </NewPageSection>
        <NewPageSection Title="Reviews" Color="Color.Secondary">
            <BodyFragment>
                @if (ImdbId.NotEmpty())
                {
                    <ReviewComponent ImdbId="@ImdbId" EnglishTitle="@EnglishTitle?.RemoveSpecialCharacters().RemoveDiacritics().Replace(" ", "-").ToLower()"
                                     Type="@Type" ReleaseDate="@Media?.release_date">
                    </ReviewComponent>
                }
            </BodyFragment>
        </NewPageSection>
    </ChildContent>
</NewRenderControl>

<div style="position: fixed; bottom: 16px; right: 16px; display: flex; z-index: 1000;">
    <MudFab Color="Color.Secondary" StartIcon="@Icons.Material.Filled.ArrowBack" OnClick="@(() => JsRuntime.Window().HistoryBack())" Size="Size.Medium" />
</div>

@code {
    public WatchedList? Watched { get; set; }
    public WatchingList? Watching { get; set; }
    public WishList? Wish { get; set; }

    [Parameter] public string? id { get; set; }
    [Parameter] public string? type { get; set; }

    public string? TmdbId => id;
    public MediaType? Type => type?.ToLower() switch
    {
        "movie" => MediaType.movie,
        "tv" => MediaType.tv,
        _ => null
    };

    private MediaDetail? Media { get; set; }
    public string? ImdbId { get; set; }
    public string? EnglishTitle { get; set; }

    private ComponentActions<MediaDetail?> Actions { get; set; } = new();
    private ComponentActions<CacheDocument<Ratings>?> RatingsActions { get; set; } = new();
    private CacheDocument<Ratings>? _ratingsCache;

    private readonly string _swiperId = $"swiper-{Guid.NewGuid()}";
    private ComponentActions<HashSet<MediaDetail>> RecommendationsActions { get; set; } = new();
    public HashSet<MediaDetail> Recommendations { get; set; } = [];

    protected override void OnInitialized()
    {
        Navigation.LocationChanged += LocationChanged;

        base.OnInitialized();
    }

    private void LocationChanged(object? sender, LocationChangedEventArgs e)
    {
        LoadNonEssentialDataAsync().ContinueWith(delegate { JsRuntime.Swiper().InitLists(_swiperId); });
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.Swiper().InitLists(_swiperId);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    protected override async Task LoadNonEssentialDataAsync()
    {
        Actions.StartLoading?.Invoke(null);

        Media = await TmdbApi.GetMediaDetail(TmdbId, Type!.Value);
        Media.Videos.Reverse();

        Actions.FinishLoading?.Invoke(Media);

        EnglishTitle = Media?.original_title;

        if (Media != null && Media.original_language != "en")
        {
            //title must be in English
            var enMedia = await TmdbApi.GetMediaDetail(TmdbId, Type!.Value, "en-US");
            EnglishTitle = enMedia.title;
        }

        EnglishTitle = EnglishTitle?.Replace("&", "");

        StateHasChanged();

        ImdbId = await ExternalIdApi.GetImdbId(Type, TmdbId);

        RatingsActions.StartLoading?.Invoke(null);
        if (Media?.MediaType == MediaType.movie)
        {
            _ratingsCache = await CacheRatingsApi.GetMovieRatings(ImdbId, Media?.tmdb_id, EnglishTitle, Media?.release_date, Media?.rating.ToString("#.#"));
        }
        else
        {
            _ratingsCache = await CacheRatingsApi.GetShowRatings(ImdbId, Media?.tmdb_id, EnglishTitle, Media?.release_date, Media?.rating.ToString("#.#"));
        }
        RatingsActions.FinishLoading?.Invoke(_ratingsCache);

        RecommendationsActions.StartProcessing?.Invoke(null);
        Recommendations = await TmdbRecommendationsApi.GetList(Type, TmdbId);
        RecommendationsActions.FinishLoading?.Invoke(Recommendations);
    }

    protected override async Task LoadAuthDataAsync()
    {
        (Watched, Watching, Wish) = await (WatchedApi.Get(AppStateStatic.IsAuthenticated), WatchingApi.Get(AppStateStatic.IsAuthenticated), WishApi.Get(AppStateStatic.IsAuthenticated));
    }

    private async Task CollectionClicked(Collection? item)
    {
        if (Type == MediaType.movie)
        {
            OpenPopupMedia(Type, item?.id);
        }
        else
        {
            await OpenPopupSeason(item);
        }
    }

    private void OpenPopupMedia(MediaType? type, string? tmdb_id)
    {
        Navigation.NavigateTo($"/media/{type.ToString()!.ToLower()}/{tmdb_id}");
    }

    private async Task OpenPopupSeason(Collection? collection)
    {
        await DialogService.SeasonPopup(Media?.title, collection?.title, TmdbId, collection?.SeasonNumber);
    }

    private async Task Add()
    {
        if (Media == null) throw new ArgumentNullException(nameof(Media));

        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            Wish ??= new WishList();

            var item = new WishListItem(Media.tmdb_id, Media.title, Media.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), Media.runtime);
            var client = await PrincipalApi.Get(true);

            Wish = await WishApi.Add(Media.MediaType, Wish, item, client?.GetActiveSubscription());
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task Remove()
    {
        ArgumentNullException.ThrowIfNull(Media);

        try
        {
            Wish = await WishApi.Remove(Media.MediaType, Media?.tmdb_id);
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task IsWatched()
    {
        if (Media == null) throw new ArgumentNullException(nameof(Media));

        try
        {
            if (!AppStateStatic.IsAuthenticated)
            {
                await ShowWarning(GlobalTranslations.YouMustLogged);
                return;
            }

            var hasCollection = Media.Collection.Any() && Media.Collection.Count > 1;

            if (hasCollection)
            {
                var watching = Watching ?? new WatchingList();
                var collectionId = Media.MediaType == MediaType.movie ? Media.collectionId?.ToString() : Media.tmdb_id;

                await DialogService.SelectItemsCollection(
                    Media.Collection,
                    watching.GetWatchingItems(Media.MediaType, collectionId),
                    new EventCallbackFactory().Create(this, async (HashSet<string> list) => await SelectedItemsChanged(Media, list, Media.Collection.Count)));
            }
            else
            {
                var client = await PrincipalApi.Get(true);
                Watched = await WatchedApi.Add(Media.MediaType, Watched, Media.tmdb_id, client?.GetActiveSubscription());
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task IsNotWatched()
    {
        if (Media == null) throw new ArgumentNullException(nameof(Media));

        try
        {
            //watched

            Watched = await WatchedApi.Remove(Media.MediaType, Media.tmdb_id);

            //watching

            var hasCollection = Media.Collection.Any() && Media.Collection.Count > 1;

            if (hasCollection)
            {
                Watching = Media.MediaType switch
                {
                    MediaType.movie => await WatchingApi.Remove(Media.MediaType, Media.collectionId?.ToString(), Media.tmdb_id),
                    MediaType.tv => await WatchingApi.Remove(Media.MediaType, Media.tmdb_id, null),
                    _ => Watching
                };
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task SelectedItemsChanged(MediaDetail media, HashSet<string> items, int collectionItemsCount)
    {
        try
        {
            var client = await PrincipalApi.Get(true);

            //watched list

            if (media.MediaType == MediaType.movie)
            {
                Watched = await WatchedApi.Add(MediaType.movie, Watched, string.Join(',', items), client?.GetActiveSubscription());
            }
            else
            {
                Watched = await WatchedApi.Add(MediaType.tv, Watched, media.tmdb_id, client?.GetActiveSubscription());
            }

            //watching list

            WatchingListItem item;

            if (media.MediaType == MediaType.movie)
            {
                item = new WatchingListItem(media.collectionId?.ToString(), media.collectionName, media.collectionLogo?.Replace(TmdbOptions.SmallPosterPath, ""), collectionItemsCount, items);
            }
            else
            {
                item = new WatchingListItem(media.tmdb_id, media.title, media.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), collectionItemsCount, items);
            }

            Watching = await WatchingApi.Add(Type, Watching, item, client?.GetActiveSubscription());
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    void IDisposable.Dispose()
    {
        Navigation.LocationChanged -= LocationChanged;
    }

}