@using SD.Shared.Models.List
@using System.Globalization
@using SD.WEB.Modules.Collections.Resources
@using SD.WEB.Modules.Profile.Core

@inherits ComponentCore<MediaAbout>

@inject WatchedListApi WatchedApi
@inject WatchingListApi WatchingApi
@inject WishListApi WishApi

<MudStack Row="false" Breakpoint="Breakpoint.SmAndUp">
    <div Style="position: relative; min-width: 300px;">
        @if (Media?.release_date < DateTime.Now.AddMonths(-3))
        {
            <MudChip T="string" Color="Color.Info" Label="true" Style="padding: 0.2rem; position: absolute; top: 0; left: 0; height: auto; z-index: 1;" Size="AppStateStatic.Size">
                @Media?.release_date?.Year
            </MudChip>
        }
        else
        {
            <MudChip T="string" Color="Color.Info" Label="true" Style="padding: 0.2rem; position: absolute; top: 0; left: 0; height: auto; z-index: 1;" Size="AppStateStatic.Size">
                @Media?.release_date?.ToShortDateString()
            </MudChip>
        }
        <MudImage Src="@(Media?.poster_large ?? "images/no-image.png")" Alt="@Media?.title" FallbackSrc="images/no-image.png" Fluid="true" ObjectFit="ObjectFit.Contain"></MudImage>
    </div>
    <div>
        @if (Media?.runtime != null && Media.runtime > 0)
        {
            <MudChip T="string" Color="Color.Info" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                @Media.runtime.FormatRuntime()
            </MudChip>
        }
        @foreach (var item in Media?.Genres ?? [])
        {
            <MudChip T="string" Color="Color.Info" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                @item
            </MudChip>
        }
        <div>
            <NewRenderControl Actions="Actions" Instance="RatingsCache" ExpressionEmpty="@((CacheDocument<Ratings>? obj) => obj?.Data == null)" LoadingHeight="40px">
                @if (RatingsCache != null && !string.IsNullOrEmpty(RatingsCache.Data?.imdb))
                {
                    <MudTooltip Text="IMDb">
                        <MudLink Href="@RatingsCache.Data?.imdbLink" Target="_blank" rel="noindex, nofollow">
                            <MudChip T="string" Color="GetColorByRating(RatingsCache.Data?.imdb)" title="" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                                <MudImage Src="logo/imdb.png" Alt="imdb" Class="me-1" Style="height: 20px;"></MudImage>@RatingsCache.Data?.imdb
                            </MudChip>
                        </MudLink>
                    </MudTooltip>
                }
                @if (RatingsCache != null && !string.IsNullOrEmpty(RatingsCache.Data?.tmdb))
                {
                    <MudTooltip Text="TMDB">
                        <MudLink Href="@RatingsCache.Data?.tmdbLink" Target="_blank" rel="noindex, nofollow">
                            <MudChip T="string" Color="GetColorByRating(RatingsCache.Data?.tmdb)" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                                <MudImage Src="logo/tmdb.png" Alt="tmdb" Class="me-1" Style="height: 20px;"></MudImage>@RatingsCache.Data?.tmdb
                            </MudChip>
                        </MudLink>
                    </MudTooltip>
                }
                @if (RatingsCache != null && !string.IsNullOrEmpty(RatingsCache.Data?.metacritic))
                {
                    <MudTooltip Text="Metacritic">
                        <MudLink Href="@RatingsCache.Data?.metacriticLink" Target="_blank" rel="noindex, nofollow">
                            <MudChip T="string" Color="GetColorByRating(RatingsCache.Data?.metacritic)" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                                <MudImage Src="logo/metacritic.png" Alt="metacritic" Class="me-1" Style="height: 20px;"></MudImage>@RatingsCache.Data?.metacritic
                            </MudChip>
                        </MudLink>
                    </MudTooltip>
                }
                @if (RatingsCache != null && !string.IsNullOrEmpty(RatingsCache.Data?.trakt))
                {
                    <MudTooltip Text="Trakt">
                        <MudLink Href="@RatingsCache.Data?.traktLink" Target="_blank" rel="noindex, nofollow">
                            <MudChip T="string" Color="GetColorByRating(RatingsCache.Data?.trakt)" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                                <MudImage Src="logo/trakt.png" Alt="trakt" Class="me-1" Style="height: 20px;"></MudImage>@RatingsCache.Data?.trakt
                            </MudChip>
                        </MudLink>
                    </MudTooltip>
                }
                @if (RatingsCache != null && !string.IsNullOrEmpty(RatingsCache.Data?.rottenTomatoes))
                {
                    <MudTooltip Text="Rotten Tomatoes">
                        <MudLink Href="@RatingsCache.Data?.rottenTomatoesLink" Target="_blank" rel="noindex, nofollow">
                            <MudChip T="string" Color="GetColorByRating(RatingsCache.Data?.rottenTomatoes)" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                                <MudImage Src="logo/rotten-tomatoes.png" Alt="rotten tomatoes" Class="me-1" Style="height: 20px;"></MudImage>@RatingsCache.Data?.rottenTomatoes
                            </MudChip>
                        </MudLink>
                    </MudTooltip>
                }
                @if (RatingsCache != null && !string.IsNullOrEmpty(RatingsCache.Data?.filmAffinity))
                {
                    <MudTooltip Text="Film Affinity">
                        <MudLink Href="@RatingsCache.Data?.filmAffinityLink" Target="_blank" rel="noindex, nofollow">
                            <MudChip T="string" Color="GetColorByRating(RatingsCache.Data?.filmAffinity)" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                                <MudImage Src="logo/film-affinity.png" Alt="film affinity" Class="me-1" Style="height: 20px;"></MudImage>@RatingsCache.Data?.filmAffinity
                            </MudChip>
                        </MudLink>
                    </MudTooltip>
                }
                @if (RatingsCache != null && !string.IsNullOrEmpty(RatingsCache.Data?.letterboxd))
                {
                    <MudTooltip Text="Letterboxd">
                        <MudLink Href="@RatingsCache.Data?.letterboxdLink" Target="_blank" rel="noindex, nofollow">
                            <MudChip T="string" Color="GetColorByRating(RatingsCache.Data?.letterboxd)" Variant="Variant.Outlined" Size="AppStateStatic.Size">
                                <MudImage Src="logo/letterboxd.png" Alt="Letterboxd" Class="me-1" Style="height: 20px;"></MudImage>@RatingsCache.Data?.letterboxd
                            </MudChip>
                        </MudLink>
                    </MudTooltip>
                }
            </NewRenderControl>
        </div>
        <MudText Typo="Typo.body1" Align="Align.Justify" Class="my-3">
            @Media?.plot
        </MudText>
        @if (!string.IsNullOrEmpty(Media?.homepage))
        {
            <MudPaper Outlined="true" Class="pa-2 mb-3">
                <MudText Color="Color.Primary" Typo="Typo.subtitle1">
                    @Translations.Homepage
                </MudText>
                <MudDivider Class="mb-2"></MudDivider>
                <MudLink Href="@Media.homepage" Target="_blank" Color="Color.Secondary">
                    @Media.homepage
                </MudLink>
            </MudPaper>
        }
        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Dense="true" Class="mb-8"
                  Icon="@IconsFA.Solid.Icon("circle-exclamation").WithAnimation(IconAnimation.Beat).Font">
            @Translations.PlatformForManaging
        </MudAlert>
    </div>
</MudStack>

@code {
    [Parameter] public MediaDetail? Media { get; set; }
    [Parameter] public string? ImdbId { get; set; }
    [Parameter] public string? TmdbId { get; set; }
    [Parameter] public string? EnglishTitle { get; set; }
    [Parameter] public MediaType? Type { get; set; }

    [Parameter] public WatchedList? Watched { get; set; }
    [Parameter] public WatchingList? Watching { get; set; }
    [Parameter] public WishList? Wish { get; set; }

    [Parameter][EditorRequired] public ComponentActions<CacheDocument<Ratings>?> Actions { get; set; }
    [Parameter] public CacheDocument<Ratings>? RatingsCache { get; set; }

    private Color GetColorByRating(string? rating)
    {
        if (string.IsNullOrEmpty(rating)) return Color.Secondary;

        float.TryParse(rating.Replace(",", "."), NumberStyles.Any, CultureInfo.InvariantCulture, out var val);

        if (val >= 8)
        {
            return Color.Success;
        }

        if (val >= 6)
        {
            return Color.Warning;
        }

        return Color.Error;
    }

}
