@inherits ComponentCore<MediaList>

@inject ExternalIdApi ExternalIdApi
@using SD.WEB.Modules.Collections.Core
@using SD.WEB.Modules.Collections.Interface
@implements IDisposable
@inject IJSRuntime JsRuntime

@if (ShowHead)
{
    <HeaderComponent Title="@Title" IconImage="@IconImage">
        @if (ShowFilter)
        {
            <MudToggleGroup SelectionMode="SelectionMode.SingleSelection" Value="TypeSelected" ValueChanged="@(async (MediaType type) => await TypeSelectedChanged(type))"
                            Color="Color.Primary" Class="me-2">
                <MudToggleItem Value="@MediaType.movie" SelectedIcon="@Icons.Material.Filled.Check">
                    <MudIcon Icon="@Icons.Material.Filled.Movie" Title="@MediaType.movie.GetName()" Class="me-1"></MudIcon>
                    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                        @MediaType.movie.GetName()
                    </MudHidden>
                </MudToggleItem>
                <MudToggleItem Value="@MediaType.tv">
                    <MudIcon Icon="@Icons.Material.Filled.Tv" Title="@MediaType.tv.GetName()" Class="me-1"></MudIcon>
                    <MudHidden Breakpoint="Breakpoint.SmAndUp" Invert="true">
                        @MediaType.tv.GetName()
                    </MudHidden>
                </MudToggleItem>
            </MudToggleGroup>
        }
        <MudIconButton Icon="@Icons.Material.Filled.Fullscreen" Variant="Variant.Filled" Color="Color.Primary" OnClick="@OpenCompleteList" />
    </HeaderComponent>
}

<RenderControl Core="Core" Model="Items" ExpressionEmpty="@((HashSet<MediaDetail> list) => list.Empty())">
    <div id="@_swiperId" class="swiper mb-2">
        <div class="swiper-wrapper">
            @foreach (var item in Items)
            {
                <div class="swiper-slide" style="height: auto !important;">
                    <PosterComponent Poster="@item.poster_small" Title="@item.title" Clicked="@(() => OpenPopupMedia(item))" MediaType="@item.MediaType"
                                     Date="@item.release_date" OnlyYear="OnlyYear"
                                     RankUpDown="@item.RankUpDown" Rating="@item.rating"
                                     WishList="Wish" WatchedList="Watched" TmdbId="@item.tmdb_id"
                                     Comments="@item.comments" CommentsIsImage="CommentsIsImage">
                    </PosterComponent>
                </div>
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
</RenderControl>

@code {
    [Parameter][EditorRequired] public WatchedList? Watched { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter][EditorRequired] public bool ShowPrivateAction { get; set; }
    [Parameter][EditorRequired] public bool IsAuthenticated { get; set; }

    [Parameter] public bool ShowHead { get; set; } = true;
    [Parameter] public string? TitleHead { get; set; }
    [Parameter] public string? IconImage { get; set; }
    [Parameter] public bool ShowFilter { get; set; }
    [Parameter] public bool OnlyYear { get; set; }
    [Parameter] public bool OrderByComments { get; set; }
    [Parameter] public bool CommentsIsImage { get; set; }

    [Parameter] public IMediaListApi? MediaListApi { get; set; }
    [Parameter] public EnumLists? List { get; set; }
    [Parameter] public Dictionary<string, string> StringParameters { get; set; } = new();
    [Parameter] public bool IsImdb { get; set; }

    [Parameter] public bool MultiplesRegions { get; set; }
    [Parameter] public bool MultipleLanguages { get; set; } = true;

    [Parameter] public MediaType TypeSelected { get; set; } = MediaType.movie;
    private string Title => TitleHead ?? List?.GetName() ?? "Title Error";

    public RenderControlCore<HashSet<MediaDetail>>? Core { get; set; } = new();
    public HashSet<MediaDetail> Items { get; set; } = [];

    private readonly string _swiperId = $"swiper-{Guid.NewGuid()}";

    protected override void OnInitialized()
    {
        try
        {
            if (MediaListApi == null) throw new ArgumentNullException(nameof(MediaListApi));
            if (ShowHead && List == null && string.IsNullOrEmpty(TitleHead)) throw new ArgumentNullException(nameof(TitleHead));

            if (MultiplesRegions) AppStateStatic.RegionChanged += LoadGenericVoid;
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        try
        {
            await base.OnAfterRenderAsync(firstRender);

            await JsRuntime.InvokeVoidAsync("initSwiper", _swiperId);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Snackbar, Logger);
        }
    }

    protected override async Task LoadDataRender()
    {
        Core?.ShowLoading();
        await LoadItems();
        Core?.HideLoading(Items);
    }

    protected async void LoadGenericVoid()
    {
        Core?.ShowLoading();
        await LoadItems();
        Core?.HideLoading(Items);
    }

    private async Task TypeSelectedChanged(MediaType type)
    {
        Core?.ShowLoading();
        TypeSelected = type;
        await LoadItems();
        Core?.HideLoading(Items);
    }

    private async Task LoadItems()
    {
        try
        {
            if (MediaListApi != null)
            {
                var result = await MediaListApi.GetList([], TypeSelected, StringParameters, List);
                Items = result.list;

                if (Items.Count < 10) //force reload, if the filters bring few records
                {
                    var result2 = await MediaListApi.GetList(Items, TypeSelected, StringParameters, List, 2);
                    foreach (var item in result2.list)
                    {
                        Items.Add(item);
                    }
                }

                if (OrderByComments) Items = Items.OrderByDescending(o => int.Parse(o.comments?.Split(",").Last() ?? "0")).ToHashSet();
            }
        }
        catch (Exception ex)
        {
            Core?.ShowError(ex.Message);
        }
    }

    public async Task OpenCompleteList()
    {
        await DialogService.CompleteListPopup(TitleHead, Watched, Watching, Wish, Items, MediaListApi, List, IsImdb, TypeSelected, StringParameters,
            ShowPrivateAction, IsAuthenticated, CommentsIsImage);
    }

    private async Task OpenPopupMedia(MediaDetail? media)
    {
        try
        {
            string? tmdbId;

            if (IsImdb)
            {
                //for now, only tv series (imdb) need this kind of workaround (tmdb api only work with imdb id from movies - this info is not documented)
                tmdbId = await ExternalIdApi.GetTmdbId(media?.MediaType, media?.tmdb_id);
            }
            else
            {
                tmdbId = media?.tmdb_id;
            }

            await DialogService.MediaPopup(Watched, Watching, Wish, media?.MediaType, tmdbId, ShowPrivateAction, IsAuthenticated);
        }
        catch (Exception ex)
        {
            Core?.ShowError(ex.Message);
        }
    }

    void IDisposable.Dispose()
    {
        AppStateStatic.RegionChanged -= LoadGenericVoid;
    }

}