@inherits ComponenteCore<NavMenu>

<Bar @ref="AppStateStatic.Sidebar" Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Hide" Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet"
     Display="Display.None.Block.OnDesktop" Background="Background.Dark" ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <BarLink To="/" Title="Streaming Discovery">
                <Image Source="images/logo_small.png" Style="width: 100%" Margin="Margin.Is1.FromEnd"></Image>
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/" Match="Match.All" Title="@GlobalTranslations.MenuHome">
                    <BarIcon IconName="FontAwesomeIcons.Home" /> @GlobalTranslations.MenuHome
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/profile" Match="Match.Prefix" Title="@GlobalTranslations.MenuProfile">
                    <BarIcon IconName="FontAwesomeIcons.UserCircle" /> @GlobalTranslations.MenuProfile
                </BarLink>
            </BarItem>
             <BarItem>
                <BarLink To="/providers" Match="Match.Prefix" Title="@GlobalTranslations.MenuProviders">
                    <BarIcon IconName="FontAwesomeIcons.PlayCircle" /> @GlobalTranslations.MenuProviders
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/suggestions" Match="Match.Prefix" Title="@GlobalTranslations.MenuSuggestions">
                    <BarIcon IconName="FontAwesomeIcons.ListOl" /> @GlobalTranslations.MenuSuggestions
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/support" Match="Match.Prefix" Title="@GlobalTranslations.MenuSupport">
                    <BarIcon IconName="FontAwesomeIcons.Headset" /> @GlobalTranslations.MenuSupport
                </BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
    <Div Style="bottom: 10px; position: absolute; width: 100%;" TextAlignment="TextAlignment.Center">
        <Badge Color="Color.Primary" Pill="true">@BuildDateString()</Badge>
    </Div>
</Bar>

@code {
    //https://swharden.com/blog/2020-12-29-blazor-build-info/
    private string BuildDateString()
    {
        try
        {
            return Properties.Resources.BuildDate.ReplaceLineEndings("");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
            return "Version Error";
        }
    }
}