@inherits ComponenteCore<NavMenu>

<Bar @ref="RefreshCore.Sidebar" Mode="BarMode.VerticalInline" CollapseMode="BarCollapseMode.Hide" Breakpoint="Breakpoint.Desktop" NavigationBreakpoint="Breakpoint.Tablet"
     Display="Display.None.Block.OnDesktop" Background="Background.Dark" ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <BarLink To="/" Title="Streaming Discovery">
                <BarIcon IconName="FontAwesomeIcons.Tv" />
                Streaming Discovery
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarLink To="/" Match="Match.All" Title="@GlobalTranslations.MenuHome">
                    <BarIcon IconName="FontAwesomeIcons.Home" /> @GlobalTranslations.MenuHome
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/Profile" Match="Match.Prefix" Title="@GlobalTranslations.MenuProfile">
                    <BarIcon IconName="FontAwesomeIcons.UserCircle" /> @GlobalTranslations.MenuProfile
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/List" Match="Match.Prefix" Title="@GlobalTranslations.MenuList">
                    <BarIcon IconName="FontAwesomeIcons.List" /> @GlobalTranslations.MenuList
                </BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/Support" Match="Match.Prefix" Title="@GlobalTranslations.MenuSupport">
                    <BarIcon IconName="FontAwesomeIcons.Bug" /> @GlobalTranslations.MenuSupport
                </BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
    <Div Style="bottom: 10px; position: absolute; width: 100%;" TextAlignment="TextAlignment.Center">
        <Badge Color="Color.Primary" Pill="true">@BuildDateString()</Badge>
    </Div>
</Bar>

@code {
    //https://swharden.com/blog/2020-12-29-blazor-build-info/
    private string BuildDateString()
    {
        try
        {
            return Properties.Resources.BuildDate.ReplaceLineEndings("");
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
            return "Version Error";
        }
    }
}