@typeparam T where T : class

@if (PremiumFeature && !IsPremium)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("gem").Font" Style="text-align: justify;">
        <span class="me-2" style="font-weight: bold;">@GlobalTranslations.PremiumFeature</span>
        @if (!string.IsNullOrEmpty(PremiumDescription))
        {
            @PremiumDescription
        }
    </MudAlert>
}
else if (PrivateFeature && !IsAuthenticated)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("lock").Font" Style="text-align: justify;">
        @Modules.Auth.Resources.Translations.UnauthenticatedUser
    </MudAlert>
}
else if (CurrentStatus == RenderStatus.Loading)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="@LoadingHeight" Animation="Animation.Wave" />
}
else if (CurrentStatus == RenderStatus.Error)
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("bug").Font" Style="text-align: justify;">
        @(MessageError ?? GlobalTranslations.CustomVisibilityInvalid)
    </MudAlert>
}
else if (CurrentStatus == RenderStatus.Warning)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("circle-exclamation").Font" Style="text-align: justify;">
        @(MessageWarning ?? GlobalTranslations.CustomVisibilityNoData)
    </MudAlert>
}
else //Content
{
    @if (ShowCustomContent)
    {
        @CustomContent
    }
    else if (Instance == null || ExpressionEmpty(Instance))
    {
        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("circle-exclamation").Font" Style="text-align: justify;">
            @GlobalTranslations.CustomVisibilityNoData
        </MudAlert>
    }
    else
    {
        @ChildContent(Instance)
    }
}

@code {
    [Parameter][EditorRequired] public ComponentActions<T> Actions { get; set; } = null!;
    [Parameter][EditorRequired] public RenderFragment<T> ChildContent { get; set; } = null!;
    [Parameter][EditorRequired] public T? Instance { get; set; }
    [Parameter][EditorRequired] public Func<T, bool> ExpressionEmpty { get; set; } = null!;

    [Parameter] public RenderFragment? CustomContent { get; set; }
    private bool ShowCustomContent = false;

    [Parameter] public string? CustomMessageError { get; set; }
    [Parameter] public string? CustomMessageWarning { get; set; }
    [Parameter] public string? LoadingHeight { get; set; } = "200px";

    [Parameter] public bool PrivateFeature { get; set; }
    [Parameter] public bool IsAuthenticated { get; set; }

    [Parameter] public bool PremiumFeature { get; set; }
    [Parameter] public bool IsPremium { get; set; }
    [Parameter] public string? PremiumDescription { get; set; }

    private RenderStatus CurrentStatus { get; set; } = RenderStatus.Loading;
    private string? MessageLoading { get; set; } = GlobalTranslations.CustomVisibilityLoading;
    private string? MessageError { get; set; }
    private string? MessageWarning { get; set; }

    private enum RenderStatus
    {
        Loading,
        Warning,
        Content,
        Error,
    }

    protected override void OnInitialized()
    {
        Actions.StartLoading += async (string? msg) => await ChangeStatus(RenderStatus.Loading, msg);
        Actions.FinishLoading += async (T? obj) => await ChangeStatus(RenderStatus.Content, null, obj);

        Actions.StartProcessing += async (string? msg) => await ChangeStatus(RenderStatus.Loading, msg ?? "Processing...");
        Actions.FinishProcessing += async (T? obj) => await ChangeStatus(RenderStatus.Content, null, obj);

        Actions.ShowWarning += async (string? msg) => await ChangeStatus(RenderStatus.Warning, msg);
        Actions.ShowError += async (string? msg) => await ChangeStatus(RenderStatus.Error, msg);
        Actions.ShowCustomContent += () => { ShowCustomContent = true; CurrentStatus = RenderStatus.Content; StateHasChanged(); };

        base.OnInitialized();
    }

    private async Task ChangeStatus(RenderStatus status, string? msg = null, T? obj = null)
    {
        if (CurrentStatus == status) return;

        ShowCustomContent = false;
        var frozenStatus = CurrentStatus is RenderStatus.Warning || CurrentStatus is RenderStatus.Error;

        if (status == RenderStatus.Loading)
        {
            if (frozenStatus) return;
            MessageLoading = msg ?? GlobalTranslations.CustomVisibilityLoading;
        }
        else if (status == RenderStatus.Warning)
        {
            if (frozenStatus) return;
            MessageWarning = CustomMessageWarning ?? msg;
        }
        else if (status == RenderStatus.Error)
        {
            if (frozenStatus) return;
            MessageError = CustomMessageError ?? msg;
        }
        else if (status == RenderStatus.Content && (obj == null || ExpressionEmpty(obj)))
        {
            await ChangeStatus(RenderStatus.Warning, GlobalTranslations.CustomVisibilityNoData);
            return;
        }

        CurrentStatus = status;
        StateHasChanged();
    }
}
