@inject PrincipalApi PrincipalApi

@using SD.WEB.Modules.Auth.Core
@using SD.WEB.Modules.Auth.Resources
@typeparam TModel where TModel : class

@if (Status == LoadingStatus.Loading)
{
    if (PartialComponent)
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="40px" Animation="Animation.Wave" />
    }
    else
    {
        <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="100px" Animation="Animation.Wave" />
    }
}
else if (Status == LoadingStatus.Locked && !PartialComponent)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Dense="true" Icon="@Icons.Material.Filled.Lock" Style="text-align: justify;">
        @Translations.UnauthenticatedUser
    </MudAlert>
}
else if (Status == LoadingStatus.Premium && !PartialComponent)
{
    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Dense="true" Icon="@Icons.Material.Filled.Diamond" Style="text-align: justify;">
        <span class="me-2" style="font-weight: bold;">@GlobalTranslations.PremiumFeature</span>
        @if (!string.IsNullOrEmpty(PremiumDescription))
        {
            @PremiumDescription
        }
    </MudAlert>
}
else if (Status == LoadingStatus.Error && !PartialComponent)
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Dense="true" Icon="@Icons.Material.Filled.Error" Style="text-align: justify;">
        @(MessageError ?? GlobalTranslations.CustomVisibilityInvalid)
    </MudAlert>
}
else if (Status == LoadingStatus.Warning && !PartialComponent)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Dense="true" Icon="@Icons.Material.Filled.Warning" Style="text-align: justify;">
        @(MessageWarning ?? GlobalTranslations.CustomVisibilityNoData)
    </MudAlert>
}
else //ShowContent
{
    @ChildContent
}

@code {
    [CascadingParameter] protected Task<AuthenticationState>? AuthenticationState { get; set; }

    [Parameter][EditorRequired] public RenderFragment ChildContent { get; set; } = null!;
    [Parameter][EditorRequired] public RenderControlCore<TModel> Core { get; set; } = null!;
    [Parameter][EditorRequired] public TModel Model { get; set; } = null!;
    [Parameter][EditorRequired] public Func<TModel, bool> ExpressionEmpty { get; set; } = null!;

    [Parameter] public bool PrivateContent { get; set; }
    [Parameter] public string? CustomMessageError { get; set; }
    [Parameter] public string? CustomMessageWarning { get; set; }
    [Parameter] public bool PartialComponent { get; set; }
    [Parameter] public bool PremiumFeature { get; set; }
    [Parameter] public string? PremiumDescription { get; set; }

    public LoadingStatus Status { get; set; } = LoadingStatus.Loading;
    private string? MessageLoading { get; set; } = GlobalTranslations.CustomVisibilityLoading;
    private string? MessageError { get; set; }
    private string? MessageWarning { get; set; }

    protected override void OnInitialized()
    {
        ArgumentNullException.ThrowIfNull(ChildContent);
        ArgumentNullException.ThrowIfNull(Core);
        ArgumentNullException.ThrowIfNull(ExpressionEmpty);

        if (!ExpressionEmpty(Model))
            Status = LoadingStatus.ShowContent;

        Core.LoadingStarted += () => ShowLoading();
        Core.ProcessingStarted += () => ShowLoading("Processing...");

        Core.LoadingFinished += ShowContent;
        Core.ProcessingFinished += ShowContent;

        Core.WarningAction += ShowWarning;
        Core.ErrorAction += ShowError;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        ArgumentNullException.ThrowIfNull(Core);

        await base.OnAfterRenderAsync(firstRender);

        if (firstRender && PrivateContent && AuthenticationState is not null)
        {
            var authState = await AuthenticationState;
            var user = authState.User;
            var isAuthenticated = user.Identity is not null && user.Identity.IsAuthenticated;

            if (!isAuthenticated)
            {
                Status = LoadingStatus.Locked;
            }

            if (PremiumFeature)
            {
                var client = await PrincipalApi.Get(isAuthenticated);
                if (client?.ClientePaddle == null || client.ClientePaddle?.ActiveProduct == AccountProduct.Basic)
                {
                    Status = LoadingStatus.Premium;
                }
            }
        }
    }

    private void Reset()
    {
        MessageError = null;
        MessageWarning = null;

        StateHasChanged();
    }

    private void ShowLoading(string? msg = null)
    {
        Reset();

        if (Status is LoadingStatus.Error or LoadingStatus.Locked or LoadingStatus.Premium) return;

        Status = LoadingStatus.Loading;
        MessageLoading = msg ?? GlobalTranslations.CustomVisibilityLoading;

        StateHasChanged();
    }

    private void ShowContent(TModel? model)
    {
        Reset();

        if (PartialComponent)
        {
            Status = LoadingStatus.ShowContent;
            StateHasChanged();
            return;
        }

        if (Status is LoadingStatus.Error or LoadingStatus.Locked or LoadingStatus.Premium) return;

        if (model == null || (ExpressionEmpty(model)))
        {
            ShowWarning(GlobalTranslations.CustomVisibilityNoData);
        }
        else
        {
            Status = LoadingStatus.ShowContent;
        }

        StateHasChanged();
    }

    /// <summary>
    /// </summary>
    /// <param name="msg">Default: no data</param>
    private void ShowWarning(string? msg)
    {
        Reset();

        if (Status is LoadingStatus.Error or LoadingStatus.Locked or LoadingStatus.Premium) return;

        Status = LoadingStatus.Warning;
        MessageWarning = CustomMessageWarning ?? msg;

        StateHasChanged();
    }

    /// <summary>
    /// </summary>
    /// <param name="msg">Default: invalid operation</param>
    private void ShowError(string? msg)
    {
        Reset();

        Status = LoadingStatus.Error;
        MessageError = CustomMessageError ?? msg;

        StateHasChanged();
    }

}