@using SD.WEB.Shared.Core

@typeparam T where T : class

@if (Actions.CurrentStatus == RenderStatus.Loading)
{
    <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="@LoadingHeight" Animation="Animation.Wave" />
}
else if (Actions.CurrentStatus == RenderStatus.Error)
{
    <MudAlert Severity="Severity.Error" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("bug").Font" Style="text-align: justify;">
        @(Actions.MessageError ?? GlobalTranslations.CustomVisibilityInvalid)
    </MudAlert>
}
else if (PremiumFeature && !IsPremium)
{
    <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("gem").Font" Style="text-align: justify;">
        <span class="me-2" style="font-weight: bold;">@GlobalTranslations.PremiumFeature</span>
        @if (!string.IsNullOrEmpty(Actions.CustomPremiumDescription))
        {
            @Actions.CustomPremiumDescription
        }
    </MudAlert>
}
else if (PrivateFeature && !IsAuthenticated)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("lock").Font" Style="text-align: justify;">
        @Modules.Auth.Resources.Translations.UnauthenticatedUser
    </MudAlert>
}
else if (Actions.CurrentStatus == RenderStatus.Warning)
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("circle-exclamation").Font" Style="text-align: justify;">
        @(Actions.MessageWarning ?? GlobalTranslations.CustomVisibilityNoData)
    </MudAlert>
}
else //Content
{
    @if (Actions.CurrentInstance == null || Actions.ExpressionEmpty(Actions.CurrentInstance))
    {
        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Icon="@IconsFA.Solid.Icon("circle-exclamation").Font" Style="text-align: justify;">
            @GlobalTranslations.CustomVisibilityNoData
        </MudAlert>
    }
    else
    {
        @ChildContent(Actions.CurrentInstance)
    }
}

@code {
    [Parameter][EditorRequired] public ComponentActions<T> Actions { get; set; } = null!;
    [Parameter][EditorRequired] public RenderFragment<T> ChildContent { get; set; } = null!;

    [Parameter] public string? LoadingHeight { get; set; } = "230px";

    [Parameter] public bool PrivateFeature { get; set; }
    [Parameter] public bool IsAuthenticated { get; set; }

    [Parameter] public bool PremiumFeature { get; set; }
    [Parameter] public bool IsPremium { get; set; }

    protected override void OnInitialized()
    {
        Actions.OnStateChanged += StateHasChanged;
    }
}
