@using SD.WEB.Modules.Profile
@using SD.WEB.Modules.Shared
@inherits ComponentCore<SettingsPopup>

@inject IJSRuntime JsRuntime

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">@GlobalTranslations.Settings</ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <Country TValue="Region" TEnum="Region" For="@(() => AppStateStatic.Region)" SelectedValue="@AppStateStatic.Region" SelectedValueChanged="RegionValueChanged"
             LabelSize="LabelSize.Short"></Country>
    <FieldSelect For="@(() => AppStateStatic.Language)" TValue="Language" TEnum="Language" SelectedValue="@AppStateStatic.Language" SelectedValueChanged="LanguageValueChanged"
                 CssIcon="@FontAwesomeIcons.Language" LabelSize="LabelSize.Short" Order="(o)=>o.Name" ShowGroup="true"></FieldSelect>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@(()=>{ModalService.Hide();})" Size="Size.Small">
        @WEB.Resources.Button.Close
    </Button>
</ModalFooter>

@code {
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        var region = Navigation?.QueryString("region");

        if (!string.IsNullOrEmpty(region))
        {
            AppStateStatic.ChangeRegion((Region)Enum.Parse(typeof(Region), region));
            await JsRuntime.InvokeAsync<string>("SetLocalStorage", "region", region);
        }
    }

    protected override async Task LoadDataRender()
    {
        var region = await JsRuntime.InvokeAsync<string>("GetLocalStorage", "region");

        if (region.NotEmpty())
        {
            AppStateStatic.ChangeRegion((Region)Enum.Parse(typeof(Region), region), false);
        }

        var language = await JsRuntime.InvokeAsync<string>("GetLocalStorage", "language");

        if (language.NotEmpty())
        {
            AppStateStatic.ChangeLanguage((Language)Enum.Parse(typeof(Language), language.Replace("-", "")));
        }
    }

    protected async Task RegionValueChanged(Region value)
    {
        AppStateStatic.ChangeRegion(value);

        await JsRuntime.InvokeAsync<string>("SetLocalStorage", "region", value.GetName(false));
        Navigation.NavigateTo(Navigation.GetUriWithQueryParameter("region", value.GetName(false)));
    }

    protected async Task LanguageValueChanged(Language value)
    {
        await JsRuntime.InvokeAsync<string>("SetLocalStorage", "language", value.GetName(false));
        Navigation.NavigateTo(Navigation.GetUriWithQueryParameter("language", value.GetName(false)), forceLoad: true);
    }
}
