@using SD.WEB.Modules.Profile.Core
@inherits ComponentCore<CompleteListProvider>

@inject WatchedListApi WatchedListApi
@inject WatchingListApi WatchingListApi
@inject WishListApi WishListApi

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">@CardHeader</ModalTitle>
        <CloseButton />
    </ModalHeader>
    <ModalBody MaxHeight="70">
        <Row HorizontalGutter="4" VerticalGutter="4">
            @foreach (var item in GetFilteredProviders())
        {
            <Column ColumnSize="ColumnSize.Is1.OnFullHD.Is2.OnDesktop.Is3.OnMobile">
                <Card>
                    <CardImage Source="@(TmdbOptions.OriginalPosterPath + item.logo_path)" Alt="@item.name"
                               onclick="@(() => ShowPopupProvider(item))" Style="cursor: pointer;" title="@item.name"></CardImage>
                </Card>
                @*@if (string.IsNullOrEmpty(item.link))
            {
            <p class="m-0" style="color: red">link</p>
            }
            @if (string.IsNullOrEmpty(item.description))
            {
            <p class="m-0" style="color: red">description</p>
            }
            @if (item.models.Empty())
            {
            <p class="m-0" style="color: red">model</p>
            }
            @if (item.models.Any(a => a == SD.Shared.Modal.Enum.DeliveryModel.SVOD) && item.plans.Empty())
            {
            <p class="m-0" style="color: red">plan</p>
            }*@
            </Column>
        }
    </Row>
</ModalBody>
<ModalFooter>
    <Button Color="Color.Secondary" Clicked="@HideModal" Float="Float.End" Size="Size.Small">
        @TranslationText.Close
    </Button>
</ModalFooter>

@code {
    [Parameter][EditorRequired] public WatchedList? Watched { get; set; }
    [Parameter][EditorRequired] public WatchingList? Watching { get; set; }
    [Parameter][EditorRequired] public WishList? Wish { get; set; }
    [Parameter][EditorRequired] public bool ShowPrivateAction { get; set; }

    [Parameter] public string? CardHeader { get; set; }
    [Parameter] public AllProviders? AllProviders { get; set; }

    public IEnumerable<ProviderModel> GetFilteredProviders() => AllProviders?.Items.OrderBy(o => o.priority).Where(p =>
        p.regions.Any(a => a == AppStateStatic.Region)) ?? Array.Empty<ProviderModel>();

    protected override void OnInitialized()
    {
        WatchedListApi.DataChanged += (WatchedList? model) => { Watched = model; StateHasChanged(); };
        WatchingListApi.DataChanged += (WatchingList? model) => { Watching = model; StateHasChanged(); };
        WishListApi.DataChanged += (WishList? model) => { Wish = model; StateHasChanged(); };
    }

    public async Task HideModal()
    {
        await ModalService.Hide();
    }

    private async Task ShowPopupProvider(ProviderModel item)
    {
        await ModalService.ProviderPopup(item, Watched, Watching, Wish, ShowPrivateAction, null);
    }
}
