@using SD.WEB.Modules.Suggestions.Core
@using SD.WEB.Modules.Suggestions.Interface;
@using SD.WEB.Modules.Profile.Core;
@using SD.Shared.Models;
@inherits ComponenteCore<MediaList>
@inject ExternalIdApi ExternalIdApi

@if (ShowHead)
{
    <HeaderComponent Title="@Title">
        <Button Float="Float.End" Size="Size.ExtraSmall" Color="Color.Secondary" Clicked="@OpenCompleteList">
            <Blazorise.Icon Name="FontAwesomeIcons.ExpandArrowsAlt"></Blazorise.Icon>
        </Button>
        @if (ShowFilter)
        {
            <RadioGroup CheckedValue="TypeSelected" CheckedValueChanged="@(async(MediaType type)=>await TypeSelectedChanged(type))" Buttons="true" Float="Float.End" Class="btn-group-xs" Margin="Margin.Is2.FromEnd">
                <Radio Value="MediaType.movie">@MediaType.movie.GetName()</Radio>
                <Radio Value="MediaType.tv">@MediaType.tv.GetName()</Radio>
            </RadioGroup>
        }
    </HeaderComponent>
}

<RenderControl @ref="RenderControl" Task="LoadGeneric">
    <Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is1.FromBottom">
        @for (int i = 1; i <= Items.Take(GetTotalItems).Count(); i++)
        {
            var item = Items.ElementAt(i - 1);
            <Column ColumnSize="ColumnSize.Is(GetCustomStyle)" TextAlignment="TextAlignment.Center">
                <Card>
                    <PosterComponent Date="@(item.release_date??DateTime.MaxValue)" Rating="@item.rating" Poster="@item.poster_small" Title="@item.title" Comments="@item.comments"
                                     TmdbId="@item.tmdb_id" MediaType="@item.MediaType" Clicked="@(() => OpenPopupMedia(item))" RankUpDown="@item.RankUpDown"></PosterComponent>
                </Card>
            </Column>
            if ((i % GetTotalItems) == 0)
            {
                <div class="w-100"></div>
            }
        }
        @for (int i = 1; i <= (GetTotalItems - Items.Count % GetTotalItems); i++)
        {
            <Column ColumnSize="ColumnSize.Is(GetCustomStyle)" TextAlignment="TextAlignment.Center">

            </Column>
        }
    </Row>
</RenderControl>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter] public bool ShowHead { get; set; } = true;
    [Parameter] public string? TitleHead { get; set; }
    [Parameter] public bool ShowFilter { get; set; } = false;

    [Parameter] public IMediaListApi? MediaListApi { get; set; }
    [Parameter] public EnumLists? List { get; set; } = null;
    [Parameter] public Dictionary<string, string> StringParameters { get; set; } = new();
    [Parameter] public int MaxItens { get; set; } = 10;
    [Parameter] public bool IsIMDB { get; set; } = false;

    [Parameter] public bool MultiplesRegions { get; set; } = false;
    [Parameter] public bool MultipleLanguages { get; set; } = true;

    [Parameter] public MediaType TypeSelected { get; set; } = MediaType.movie;
    private string Title => TitleHead ?? List?.GetName() ?? "Title Error";
    private int GetTotalItems => AppStateStatic.OnFullHD ? 10 : 8;

    public RenderControl? RenderControl { get; set; }

    public HashSet<MediaDetail> Items { get; set; } = new();

    public string GetCustomStyle => "col-xl col-md-2 col-3";

    protected override void OnInitialized()
    {
        try
        {
            if (MediaListApi == null) throw new ArgumentNullException(nameof(MediaListApi));
            if (ShowHead && List == null && string.IsNullOrEmpty(TitleHead)) throw new ArgumentNullException(nameof(TitleHead));
            if (MaxItens == 0) throw new ArgumentNullException(nameof(MaxItens));

            //TODO: analisar isso
            // AppState.WishListChanged += StateHasChanged;
            // AppState.WatchedListChanged += StateHasChanged;
            if (MultiplesRegions) AppStateStatic.RegionChanged += LoadGenericVoid;
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    protected async Task<bool> LoadGeneric()
    {
        await LoadItems(TypeSelected);
        return !Items.Any();
    }

    protected async void LoadGenericVoid()
    {
        RenderControl?.ShowLoading();
        await LoadItems(TypeSelected);
        RenderControl?.ShowContent(!Items.Any());
    }

    private async Task TypeSelectedChanged(MediaType type)
    {
        RenderControl?.ShowLoading();
        TypeSelected = type;
        await LoadItems(type);
        RenderControl?.ShowContent(!Items.Any());
    }

    private async Task LoadItems(MediaType type)
    {
        try
        {
            if (MediaListApi != null)
            {
                var result = await MediaListApi.GetList(new(), TypeSelected, StringParameters, List, 1);
                await Task.Delay(1); //TODO: for some reason, changing the media type is not updating the post image (probably because of the lazyload css class)
                Items = result.list;

                if (Items.Count < 10) //force reload, if the filters bring few records
                {
                    var result2 = await MediaListApi.GetList(Items, TypeSelected, StringParameters, List, 2);
                    foreach (var item in result2.list)
                    {
                        Items.Add(item);
                    }
                }
            }
        }
        catch (Exception ex)
        {
            RenderControl?.ShowError(ex.Message);
        }
    }

    private async Task OpenCompleteList()
    {
        await ModalService.Show<CompleteListPopup>(null,
            x =>
            {
                x.Add(x => x.MediaListApi, MediaListApi);
                x.Add(x => x.TitleHead, TitleHead);
                x.Add(x => x.Items, Items);
                x.Add(x => x.List, List);
                x.Add(x => x.MaxItens, MaxItens);
                x.Add(x => x.IsIMDB, IsIMDB);
                x.Add(x => x.TypeSelected, TypeSelected);
                x.Add(x => x.StringParameters, StringParameters);
            },
            new ModalInstanceOptions()
                {
                    UseModalStructure = false,
                    Centered = true,
                    Size = ModalSize.ExtraLarge,
                });
    }

    private async Task OpenPopupMedia(MediaDetail? media)
    {
        var tmdb_id = "";

        if (IsIMDB)
        {
            //for now, only tv series (imdb) need this kind of workaround (tmdb api only work with imdb id from movies - not documented)
            tmdb_id = await ExternalIdApi.GetTmdbId(media?.MediaType, media?.tmdb_id);
        }
        else
        {
            tmdb_id = media?.tmdb_id;
        }

        await ModalService.Show<MediaPopup>(media?.title,
            x =>
            {
                x.Add(x => x.tmdb_id, tmdb_id);
                x.Add(x => x.type, media?.MediaType);
            },
            new ModalInstanceOptions()
                {
                    UseModalStructure = false,
                    Centered = true,
                    Size = ModalSize.Large,
                });
    }
}