@using System.Globalization
@using SD.Shared.Models.List
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Suggestions.Core
@using SD.WEB.Modules.Suggestions.Resources
@using Button = SD.WEB.Resources.Button
@inherits ComponentCore<MediaPopup>

@inject TmdbApi TmdbApi
@inject CacheRatingsApi CacheRatingsApi
@inject ExternalIdApi ExternalIdApi
@inject WatchedListApi WatchedListApi
@inject WatchingListApi WatchingListApi
@inject WishListApi WishListApi

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">
        @Media?.title
    </ModalTitle>
    <CloseButton/>
</ModalHeader>
<ModalBody MaxHeight="70">
    <RenderControl Model="Media" Core="Core" ExpressionEmpty="@((MediaDetail? obj) => obj == null)">
        <Row HorizontalGutter="8" VerticalGutter="8">
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
                @if (string.IsNullOrEmpty(Media?.poster_large))
                {
                    <CardImage Source="images/noimage.png" Alt="@Media?.title"></CardImage>
                }
                else
                {
                    <Div Style="position:relative;">
                        @if (Media?.release_date < DateTime.Now.AddMonths(-3))
                        {
                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; left: 5px;">@Media?.release_date?.Year</Badge>
                        }
                        else
                        {
                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; left: 5px;">@Media?.release_date?.ToShortDateString()</Badge>
                        }
                        <Image Source="@Media?.poster_large" Text="@Media?.title" alt="@Media?.title" Style="width: 100%;" onclick="animationShake('.alertLoginNeeded')"></Image>
                    </Div>
                }
            </Column>
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
                <Tabs @bind-SelectedTab="@_selectedTab" FullWidth="true" RenderMode="TabsRenderMode.LazyLoad">
                    <Items>
                        <Tab Name="About">
                            @Translations.TabAbout
                        </Tab>
                        <Tab Name="WhereToWatch">
                            @Translations.TabWhereToWatch
                        </Tab>
                        <Tab Name="Credits">
                            @Translations.TabCredits
                        </Tab>
                        @if (Media?.Collection.Any() ?? false)
                        {
                            <Tab Name="Collection">@(Media.MediaType == MediaType.movie ? Translations.TabCollection1 : Translations.TabCollection2)</Tab>
                        }
                        <Tab Name="Reviews">Reviews</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="About" Class="mt-2">
                            <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd.Is1.FromBottom">
                                @Media?.runtime.FormatRuntime()
                            </Badge>
                            @foreach (var item in Media?.Genres ?? [])
                            {
                                <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd.Is1.FromBottom">@item</Badge>
                            }
                            <Paragraph>
                                <RenderControl PartialComponent="true" Core="CoreRatings" Model="_ratingsCache" ExpressionEmpty="@((CacheDocument<Ratings>? obj) => obj?.Data == null)">
                                    @if (_ratingsCache != null && !string.IsNullOrEmpty(_ratingsCache.Data?.imdb))
                                    {
                                        <Badge Color="GetColorByRating(_ratingsCache.Data?.imdb)" Margin="Margin.Is1.FromEnd" Padding="Padding.Is1.FromStart.Is1.OnY" title="IMDb">
                                            <Image Source="logo/imdb.png" Style="height: 20px;" alt="imdb" Margin="Margin.Is1.FromEnd"></Image>@_ratingsCache.Data?.imdb
                                        </Badge>
                                    }
                                    @if (_ratingsCache != null && !string.IsNullOrEmpty(_ratingsCache.Data?.tmdb))
                                    {
                                        <Badge Color="GetColorByRating(_ratingsCache.Data?.tmdb)" Margin="Margin.Is1.FromEnd" Padding="Padding.Is1.FromStart.Is1.OnY" title="TMDB">
                                            <Image Source="logo/tmdb.png" Style="height: 20px;" alt="tmdb" Margin="Margin.Is1.FromEnd"></Image>@_ratingsCache.Data?.tmdb
                                        </Badge>
                                    }
                                    @if (_ratingsCache != null && !string.IsNullOrEmpty(_ratingsCache.Data?.metacritic))
                                    {
                                        <Badge Color="GetColorByRating(_ratingsCache.Data?.metacritic)" Margin="Margin.Is1.FromEnd" Padding="Padding.Is1.FromStart.Is1.OnY" title="Metacritic">
                                            <Image Source="logo/metacritic.png" Style="height: 20px;" alt="metacritic" Margin="Margin.Is1.FromEnd"></Image>@_ratingsCache.Data?.metacritic
                                        </Badge>
                                    }
                                    @if (_ratingsCache != null && !string.IsNullOrEmpty(_ratingsCache.Data?.trakt))
                                    {
                                        <Badge Color="GetColorByRating(_ratingsCache.Data?.trakt)" Margin="Margin.Is1.FromEnd" Padding="Padding.Is1.FromStart.Is1.OnY" title="Trakt">
                                            <Image Source="logo/trakt.png" Style="height: 20px;" alt="trakt" Margin="Margin.Is1.FromEnd"></Image>@_ratingsCache.Data?.trakt
                                        </Badge>
                                    }
                                    @if (_ratingsCache != null && !string.IsNullOrEmpty(_ratingsCache.Data?.rottenTomatoes))
                                    {
                                        <Badge Color="GetColorByRating(_ratingsCache.Data?.rottenTomatoes)" Margin="Margin.Is1.FromEnd" Padding="Padding.Is1.FromStart.Is1.OnY" title="Rotten Tomatoes">
                                            <Image Source="logo/rotten-tomatoes.png" Style="height: 20px;" alt="rotten tomatoes" Margin="Margin.Is1.FromEnd"></Image>@_ratingsCache.Data?.rottenTomatoes
                                        </Badge>
                                    }
                                    @if (_ratingsCache != null && !string.IsNullOrEmpty(_ratingsCache.Data?.filmAffinity))
                                    {
                                        <Badge Color="GetColorByRating(_ratingsCache.Data?.filmAffinity)" Margin="Margin.Is1.FromEnd" Padding="Padding.Is1.FromStart.Is1.OnY" title="Film Affinity">
                                            <Image Source="logo/film-affinity.png" Style="height: 20px;" alt="film affinity" Margin="Margin.Is1.FromEnd"></Image>@_ratingsCache.Data?.filmAffinity
                                        </Badge>
                                    }
                                </RenderControl>
                            </Paragraph>
                            <Paragraph TextAlignment="TextAlignment.Justified">
                                @Media?.plot
                            </Paragraph>
                            @if (Media != null && Media.Videos.Any())
                            {
                                <ListGroup Margin="Margin.Is2.FromTop" Scrollable="true" Style="max-height: 190px">
                                    @foreach (var item in Media.Videos)
                                    {
                                        <ListGroupItem Padding="Padding.Is1">
                                            <Button Type="@ButtonType.Link" To="@($"https://www.youtube.com/watch?v={item.key}")" Target="Target.Blank" Color="Color.Light"
                                                    TextAlignment="TextAlignment.Justified" Width="Width.Is100">
                                                <Blazorise.Icon Name="FontAwesomeIcons.Youtube" Class="fa-brands"></Blazorise.Icon>
                                                @item.name
                                            </Button>
                                        </ListGroupItem>
                                    }
                                </ListGroup>
                            }
                        </TabPanel>
                        <TabPanel Name="WhereToWatch" Class="mt-2">
                            <StreamingComponent TmdbId="@TmdbId" Type="@Type" Homepage="@Media?.homepage" ReleaseDate="@Media?.release_date"></StreamingComponent>
                        </TabPanel>
                        <TabPanel Name="Credits" Class="mt-2">
                            <CreditsComponent TmdbId="@TmdbId" Type="@Type" WatchedList="Watched" WatchingList="Watching" WishList="Wish"
                                              ShowPrivateAction="ShowPrivateAction" IsAuthenticated="IsAuthenticated">
                            </CreditsComponent>
                        </TabPanel>
                        @if (Media?.Collection.Any() ?? false)
                        {
                            <TabPanel Name="Collection" Class="mt-2">
                                <Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is1.FromBottom">
                                    @foreach (var item in Media.Collection.OrderBy(o => o.release_date ?? DateTime.MaxValue))
                                    {
                                        <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnWidescreen.Is3.OnFullHD">
                                            <Card>
                                                <Blazorise.Link Clicked="@(async () => await CollectionClicked(item))" Style="position: relative; text-decoration: none; color: var(--bs-card-color);">
                                                    @if (item.release_date.HasValue)
                                                    {
                                                        if (item.release_date.Value < DateTime.Now.AddMonths(-3))
                                                        {
                                                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Padding="Padding.Is1" Style="font-size: 10px; position: absolute; top: 3px; left: 3px; z-index: 1;">@item.release_date.Value.Year</Badge>
                                                        }
                                                        else
                                                        {
                                                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Padding="Padding.Is1" Style="font-size: 10px; position: absolute; top: 3px; left: 3px; z-index: 1;">@item.release_date.Value.ToShortDateString()</Badge>
                                                        }
                                                    }
                                                    @if (string.IsNullOrEmpty(item.poster_small))
                                                    {
                                                        <CardImage Source="images/noimage.png" Alt="@item.title" title="@item.title" Style="cursor: pointer;"></CardImage>
                                                    }
                                                    else
                                                    {
                                                        if (Type == MediaType.movie) //you don't put seasons as wishes
                                                        {
                                                            var wishedMovie = Wish?.Contains(MediaType.movie, item.id) ?? false;
                                                            if (wishedMovie)
                                                            {
                                                                <Blazorise.Icon Name="FontAwesomeIcons.Bookmark" TextColor="TextColor.Light"
                                                                                Style="position: absolute; bottom: 5px; left: 5px; z-index: 1;">
                                                                </Blazorise.Icon>
                                                            }
                                                        }

                                                        var movieWatched = Watched?.Contains(MediaType.movie, item.id) ?? false;
                                                        var showWatched = Watching?.GetWatchingItems(MediaType.tv, Media.tmdb_id).Any(a => a == item.id) ?? false;
                                                        if (movieWatched || showWatched)
                                                        {
                                                            <Blazorise.Icon Name="FontAwesomeIcons.Eye" TextColor="TextColor.Light"
                                                                            Style="position: absolute; bottom: 2px; right: 5px; z-index: 1;">
                                                            </Blazorise.Icon>
                                                        }

                                                        <CardImage Source="@item.poster_small" Alt="@item.title" title="@item.title" Style=@("cursor: pointer;")></CardImage>
                                                    }
                                                    <CardBody Class="py-1" Style="cursor: pointer;">
                                                        @item.title
                                                    </CardBody>
                                                </Blazorise.Link>
                                            </Card>
                                        </Column>
                                    }
                                </Row>
                            </TabPanel>
                        }
                        <TabPanel Name="Reviews" Class="mt-2">
                            <ReviewComponent ImdbId="@ImdbId" EnglishTitle="@EnglishTitle?.RemoveSpecialCharacters().RemoveDiacritics().Replace(" ", "-").ToLower()"
                                             Type="@Type" ReleaseDate="@Media?.release_date">
                            </ReviewComponent>
                        </TabPanel>
                    </Content>
                </Tabs>
            </Column>
        </Row>
    </RenderControl>
</ModalBody>
<ModalFooter>
    <Alert Color="Color.Info" Margin="Margin.Is0" Visible="true" Width="Width.Is100" Class="alertLoginNeeded">
        @if (!IsAuthenticated)
        {
            <AlertMessage Style="margin-right: 0.3rem;">
                @Translations.LoginNeeded
            </AlertMessage>
        }
        <AlertDescription>
            @Translations.PlatformForManaging
        </AlertDescription>
    </Alert>
</ModalFooter>
<ModalFooter>
    <Container Fluid="true" Margin="Margin.Is0" Padding="Padding.Is0.OnX">
        @if (ShowPrivateAction)
        {
            @if (Wish?.Movies.Any(a => a.id == TmdbId) ?? false)
            {
                <Button Color="Color.Danger" Clicked="Remove" Margin="Margin.Is2.FromEnd" Size="Size.Small">
                    @Translations.RemoveWishlist
                </Button>
            }
            else if (Wish?.Shows.Any(a => a.id == TmdbId) ?? false)
            {
                <Button Color="Color.Danger" Clicked="Remove" Margin="Margin.Is2.FromEnd" Size="Size.Small">
                    @Translations.RemoveWishlist
                </Button>
            }
            else if (!IsAuthenticated)
            {
                <span onclick="animationShake('.alertLoginNeeded')">
                    <Button Color="Color.Primary" Margin="Margin.Is2.FromEnd" Size="Size.Small">
                        @Translations.AddWishlist
                    </Button>
                </span>
            }
            else
            {
                <Button Color="Color.Primary" Clicked="Add" Margin="Margin.Is2.FromEnd" Size="Size.Small">
                    @Translations.AddWishlist
                </Button>
            }

            @if (Watched?.Movies.Contains(TmdbId ?? "") ?? false)
            {
                <Button Color="Color.Danger" Clicked="IsNotWatched" Margin="Margin.Is2.FromEnd" Size="Size.Small">
                    @Translations.ButtonNotWatched
                </Button>
            }
            else if (Watched?.Shows.Contains(TmdbId ?? "") ?? false)
            {
                <Button Color="Color.Danger" Clicked="IsNotWatched" Margin="Margin.Is2.FromEnd" Size="Size.Small">
                    @Translations.ButtonNotWatched
                </Button>
            }
            else if (!IsAuthenticated)
            {
                <span onclick="animationShake('.alertLoginNeeded')">
                    <Button Color="Color.Primary" Margin="Margin.Is2.FromEnd" Size="Size.Small">
                        @Translations.ButtonWatched
                    </Button>
                </span>
            }
            else
            {
                <Button Color="Color.Primary" Clicked="IsWatched" Margin="Margin.Is2.FromEnd" Size="Size.Small">
                    @Translations.ButtonWatched
                </Button>
            }
        }
        <Button Color="Color.Secondary" Clicked="@HideModal" Float="Float.End" Size="Size.Small">
            @Button.Close
        </Button>
    </Container>
</ModalFooter>

@code {
    [Parameter] [EditorRequired] public bool IsAuthenticated { get; set; }

    [Parameter] public WatchedList? Watched { get; set; }
    [Parameter] public WatchingList? Watching { get; set; }
    [Parameter] public WishList? Wish { get; set; }
    [Parameter] public EventCallback<WatchedList?> WatchedChanged { get; set; }
    [Parameter] public EventCallback<WatchingList?> WatchingChanged { get; set; }
    [Parameter] public EventCallback<WishList?> WishChanged { get; set; }
    [Parameter] public bool ShowPrivateAction { get; set; }

    [Parameter] public string? TmdbId { get; set; }
    [Parameter] public MediaType? Type { get; set; }

    public RenderControlCore<MediaDetail?>? Core { get; set; } = new();
    private MediaDetail? Media { get; set; }
    public string? ImdbId { get; set; }
    public string? EnglishTitle { get; set; }

    string _selectedTab = "About";

    public RenderControlCore<CacheDocument<Ratings>?> CoreRatings { get; set; } = new();
    private CacheDocument<Ratings>? _ratingsCache;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(TmdbId)) throw new ArgumentNullException(nameof(TmdbId));
        if (Type == null) throw new ArgumentNullException(nameof(Type));

        WatchedListApi.DataChanged += model =>
        {
            Watched = model;
            WatchedChanged.InvokeAsync(model);
            StateHasChanged();
        };
        WatchingListApi.DataChanged += model =>
        {
            Watching = model;
            WatchingChanged.InvokeAsync(model);
            StateHasChanged();
        };
        WishListApi.DataChanged += model =>
        {
            Wish = model;
            WishChanged.InvokeAsync(model);
            StateHasChanged();
        };
    }

    protected override async Task LoadDataRender()
    {
        Core?.LoadingStarted?.Invoke();
        Media = await TmdbApi.GetMediaDetail(TmdbId, Type!.Value);
        Media.Videos.Reverse();
        ImdbId = await ExternalIdApi.GetImdbId(Type, TmdbId);
        Core?.LoadingFinished?.Invoke(Media);

        EnglishTitle = Media?.original_title;

        if (Media != null && Media.original_language != "en")
        {
            //title must be in english
            var enMedia = await TmdbApi.GetMediaDetail(TmdbId, Type!.Value, "en-US");
            EnglishTitle = enMedia.title;
        }

        EnglishTitle = EnglishTitle?.Replace("&", "");

        StateHasChanged();

        if (Media?.MediaType == MediaType.movie)
        {
            _ratingsCache = await CacheRatingsApi.GetMovieRatings(ImdbId, Media?.tmdb_id, EnglishTitle, Media?.release_date, Media?.rating.ToString("#.#"), CoreRatings);
        }
        else
        {
            _ratingsCache = await CacheRatingsApi.GetShowRatings(ImdbId, Media?.tmdb_id, EnglishTitle, Media?.release_date, Media?.rating.ToString("#.#"), CoreRatings);
        }
    }

    private Color GetColorByRating(string? rating)
    {
        if (string.IsNullOrEmpty(rating)) return Color.Secondary;

        float.TryParse(rating.Replace(",", "."), NumberStyles.Any, CultureInfo.InvariantCulture, out var val);

        if (val > 10) val = val / 10;

        if (val >= 8)
        {
            return Color.Success;
        }

        if (val >= 6)
        {
            return Color.Warning;
        }

        return Color.Danger;
    }

    public async Task HideModal()
    {
        await ModalService.Hide();
    }

    private async Task CollectionClicked(Collection? item)
    {
        if (Type == MediaType.movie)
            await OpenPopupMedia(item, Type);
        else
            await OpenPopupSeason(item);
    }

    private async Task Add()
    {
        if (Media == null) throw new ArgumentNullException(nameof(Media));

        try
        {
            Wish ??= new WishList();

            var item = new WishListItem(Media.tmdb_id, Media.title, Media.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), Media.runtime);
            var client = await PrincipalApi.Get(true);

            Wish = await WishListApi.Add(Media.MediaType, Wish, item, client?.ClientePaddle);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Remove()
    {
        ArgumentNullException.ThrowIfNull(Media);

        try
        {
            Wish = await WishListApi.Remove(Media.MediaType, Media?.tmdb_id);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task IsWatched()
    {
        if (Media == null) throw new ArgumentNullException(nameof(Media));

        try
        {
            var hasCollection = Media.Collection.Any() && Media.Collection.Count > 1;

            if (hasCollection)
            {
                var watching = Watching ?? new WatchingList();
                var collectionId = Media.MediaType == MediaType.movie ? Media.collectionId?.ToString() : Media.tmdb_id;

                await ModalService.SelectItemsCollection(
                    Media.Collection,
                    watching.GetWatchingItems(Media.MediaType, collectionId),
                    new EventCallbackFactory().Create(this, async (HashSet<string> list) => await SelectedItemsChanged(Media, list, Media.Collection.Count)));
            }
            else
            {
                var client = await PrincipalApi.Get(true);
                Watched = await WatchedListApi.Add(Media.MediaType, Watched, Media.tmdb_id, client?.ClientePaddle);
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task SelectedItemsChanged(MediaDetail media, HashSet<string> items, int collectionItemsCount)
    {
        var client = await PrincipalApi.Get(true);

        //watched list

        if (media.MediaType == MediaType.movie)
        {
            Watched = await WatchedListApi.Add(MediaType.movie, Watched, string.Join(',', items), client?.ClientePaddle);
        }
        else
        {
            Watched = await WatchedListApi.Add(MediaType.tv, Watched, media.tmdb_id, client?.ClientePaddle);
        }

        //watching list

        WatchingListItem item;

        if (media.MediaType == MediaType.movie)
        {
            item = new WatchingListItem(media.collectionId?.ToString(), media.collectionName, media.collectionLogo?.Replace(TmdbOptions.SmallPosterPath, ""), collectionItemsCount, items);
        }
        else
        {
            item = new WatchingListItem(media.tmdb_id, media.title, media.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), collectionItemsCount, items);
        }

        Watching = await WatchingListApi.Add(Type, Watching, item, client?.ClientePaddle);
    }

    private async Task IsNotWatched()
    {
        if (Media == null) throw new ArgumentNullException(nameof(Media));

        try
        {
            //watched

            Watched = await WatchedListApi.Remove(Media.MediaType, Media.tmdb_id);

            //watching

            var hasCollection = Media.Collection.Any() && Media.Collection.Count > 1;

            if (hasCollection)
            {
                Watching = Media.MediaType switch
                {
                    MediaType.movie => await WatchingListApi.Remove(Media.MediaType, Media.collectionId?.ToString(), Media.tmdb_id),
                    MediaType.tv => await WatchingListApi.Remove(Media.MediaType, Media.tmdb_id, null),
                    _ => Watching
                };
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task OpenPopupMedia(Collection? collection, MediaType? mediaType)
    {
        await ModalService.MediaPopup(Watched, Watching, Wish, mediaType, collection?.id, ShowPrivateAction, IsAuthenticated);
    }

    private async Task OpenPopupSeason(Collection? collection)
    {
        await ModalService.SeasonPopup(Media?.title, collection?.title, TmdbId, collection?.SeasonNumber, IsAuthenticated);
    }

}