@using SD.Shared.Models;
@using SD.Shared.Models.List.Imdb;
@using SD.Shared.Models.List.Tmdb;
@using SD.Shared.Models.List;
@using SD.WEB.Modules.Suggestions.Core;
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Provider.Core
@inherits ComponenteCore<MediaPopup>

@inject TmdbApi TmdbApi
@inject CacheRatingsApi CacheRatingsApi
@inject ExternalIdApi ExternalIdApi
@inject WatchedListApi WatchedListApi
@inject WatchingListApi WatchingListApi
@inject WishListApi WishListApi

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">
        @media?.title
    </ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <RenderControl Model="media" Core="Core" ExpressionEmpty="@((MediaDetail? obj)=>obj==null)">
        <Row HorizontalGutter="8" VerticalGutter="8">
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
                @if (string.IsNullOrEmpty(media?.poster_large))
                {
                    <CardImage Source="images/noimage.png" Alt="@media?.title"></CardImage>
                }
                else
                {
                    <Div Style="position:relative;">
                        @if (@media?.release_date < DateTime.Now.AddMonths(-3))
                        {
                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; left: 5px;">@media?.release_date?.Year</Badge>
                        }
                        else
                        {
                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; left: 5px;">@media?.release_date?.ToShortDateString()</Badge>
                        }
                        <Image Source="@media?.poster_large" Text="@media?.title" Style="width: 100%;"></Image>
                    </Div>
                }
            </Column>
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
                <Tabs @bind-SelectedTab="@selectedTab" Pills="true" FullWidth="true" RenderMode="TabsRenderMode.LazyLoad">
                    <Items>
                        <Tab Name="About">
                            @GlobalTranslations.TabAbout
                        </Tab>
                        <Tab Name="WhereToWatch">
                            @GlobalTranslations.TabWhereToWatch
                        </Tab>
                        <Tab Name="Credits">
                            @GlobalTranslations.TabCredits
                        </Tab>
                        @if (media?.Collection.Any() ?? false)
                        {
                            <Tab Name="Collection">@GlobalTranslations.TabCollection</Tab>
                        }
                        <Tab Name="Reviews">Reviews</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="About" Class="mt-2">
                            <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd.Is1.FromBottom">
                                @media?.runtime.FormatRuntime()
                            </Badge>
                            @foreach (var item in media?.Genres ?? new List<string>())
                            {
                                <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd.Is1.FromBottom">@item</Badge>
                            }
                            <Paragraph>
                                <RenderControl PartialComponent="true" Core="CoreRatings" Model="ratingsCache" ExpressionEmpty="@((Ratings? obj)=>obj==null)">
                                    @if (ratingsCache != null && !string.IsNullOrEmpty(ratingsCache.imdb))
                                    {
                                        <Badge Color="GetColorByRating(ratingsCache.imdb)" Margin="Margin.Is1.FromEnd">IMDB: @ratingsCache.imdb</Badge>
                                    }
                                    @if (ratingsCache != null && !string.IsNullOrEmpty(ratingsCache.tmdb))
                                    {
                                        <Badge Color="GetColorByRating(ratingsCache.tmdb)" Margin="Margin.Is1.FromEnd">TMDB: @ratingsCache.tmdb</Badge>
                                    }
                                    @if (ratingsCache != null && !string.IsNullOrEmpty(ratingsCache.metacritic))
                                    {
                                        <Badge Color="GetColorByRating(ratingsCache.metacritic)" Margin="Margin.Is1.FromEnd">Metacritic: @ratingsCache.metacritic</Badge>
                                    }
                                    @if (ratingsCache != null && !string.IsNullOrEmpty(ratingsCache.trakt))
                                    {
                                        <Badge Color="GetColorByRating(ratingsCache.trakt)" Margin="Margin.Is1.FromEnd">Trakt: @ratingsCache.trakt</Badge>
                                    }
                                </RenderControl>
                            </Paragraph>
                            <Paragraph TextAlignment="TextAlignment.Justified">
                                @media?.plot
                            </Paragraph>
                            @if (media != null && media.Videos.Any())
                            {
                                <Row HorizontalGutter="4" VerticalGutter="4">
                                    <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                        <Button Color="Color.Dark" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">
                                            Trailers
                                        </Button>
                                    </Column>
                                    @foreach (var item in media.Videos)
                                    {
                                        <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                            <Button Type="ButtonType.Link" To="@($"https://www.youtube.com/watch?v={item.key}".HideExternalLink())" Target="Target.Blank" Color="Color.Light"
                                                    Padding="Padding.Is1" title="@item.name" Block="true">
                                                <Blazorise.Icon Name="FontAwesomeIcons.Video"></Blazorise.Icon>
                                            </Button>
                                        </Column>
                                    }
                                </Row>
                            }
                        </TabPanel>
                        <TabPanel Name="WhereToWatch" Class="mt-2">
                            <StreamingComponent tmdb_id="@tmdb_id" OriginalMediaTitle="@media?.original_title" MediaYear="@media?.release_date?.Year.ToString()" type="@type"></StreamingComponent>
                        </TabPanel>
                        <TabPanel Name="Credits" Class="mt-2">
                            <CreditsComponent tmdb_id="@tmdb_id" type="@type" WatchedList="Watched" WatchingList="Watching" WishList="Wish" ShowPrivateAction="ShowPrivateAction"></CreditsComponent>
                        </TabPanel>
                        @if (media?.Collection.Any() ?? false)
                        {
                            <TabPanel Name="Collection" Class="mt-2">
                                <Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is1.FromBottom">
                                    @foreach (var item in media.Collection.OrderBy(o => o.release_date ?? DateTime.MaxValue))
                                    {
                                        <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnWidescreen.Is3.OnFullHD">
                                            <Card>
                                                <Blazorise.Link Clicked="@(async() => await CollectionClicked(item))" Style="position: relative;">
                                                    @if (item.release_date.HasValue)
                                                    {
                                                        if (item.release_date.Value < DateTime.Now.AddMonths(-3))
                                                        {
                                                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Padding="Padding.Is1" Style="font-size: 10px; position: absolute; top: 3px; left: 3px; z-index: 1;">@item.release_date.Value.Year</Badge>
                                                        }
                                                        else
                                                        {
                                                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Padding="Padding.Is1" Style="font-size: 10px; position: absolute; top: 3px; left: 3px; z-index: 1;">@item.release_date.Value.ToShortDateString()</Badge>
                                                        }
                                                    }
                                                    @if (string.IsNullOrEmpty(item.poster_small))
                                                    {
                                                        <CardImage Source="images/noimage.png" Alt="@item.title" title="@item.title" Style="cursor: pointer;"></CardImage>
                                                    }
                                                    else
                                                    {
                                                        if (type == MediaType.movie) //you don't put seasons as wishes
                                                        {
                                                            var wishedMovie = Wish?.Contains(MediaType.movie, item.id) ?? false;
                                                            if (wishedMovie)
                                                            {
                                                                <Blazorise.Icon Name="FontAwesomeIcons.Bookmark" IconSize="IconSize.x2" TextColor="TextColor.Light"
                                                                                Style="position: absolute; bottom: 5px; left: 5px; z-index: 1;"></Blazorise.Icon>
                                                            }
                                                        }

                                                        var movieWatched = Watched?.Contains(MediaType.movie, item.id) ?? false;
                                                        var showWatched = Watching?.GetWatchingItems(MediaType.tv, media.tmdb_id).Any(a => a == item.id) ?? false;
                                                        if (movieWatched | showWatched)
                                                        {
                                                            <Blazorise.Icon Name="FontAwesomeIcons.Eye" IconSize="IconSize.x2" TextColor="TextColor.Light"
                                                                            Style="position: absolute; bottom: 2px; right: 5px; z-index: 1;"></Blazorise.Icon>
                                                        }

                                                        <CardImage Source="@item.poster_small" Alt="@item.title" title="@item.title" Style=@($"cursor: pointer;")></CardImage>
                                                    }
                                                </Blazorise.Link>

                                                <CardBody Class="py-1">
                                                    @item.title
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    }
                                </Row>
                            </TabPanel>
                        }
                        <TabPanel Name="Reviews" Class="mt-2">
                            <ReviewComponent imdb_id="@imdb_id" title="@media?.title?.RemoveSpecialCharacters().RemoveDiacritics().Replace(" ","-").ToLower()" original_title="@media?.original_title?.RemoveSpecialCharacters().RemoveDiacritics().Replace(" ","-").ToLower()" type="@type" release_date="@media?.release_date"></ReviewComponent>
                        </TabPanel>
                    </Content>
                </Tabs>
            </Column>
        </Row>
    </RenderControl>
</ModalBody>
<ModalFooter>
    <Container Fluid="true" Margin="Margin.Is0" Padding="Padding.Is0.OnX">
        <Row HorizontalGutter="4" VerticalGutter="4">
            <Column VerticalAlignment="VerticalAlignment.Middle">
                @if (!string.IsNullOrEmpty(media?.homepage))
                {
                    <a href="@media.homepage.HideExternalLink()" target="_blank" rel="nofollow" style="float: left;">@(new Uri(media.homepage).Host) <Blazorise.Icon Name="FontAwesomeIcons.ExternalLinkAlt"></Blazorise.Icon></a>
                }
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                @if (ShowPrivateAction)
                {
                    @if (Wish?.Movies.Any(a => a.id == tmdb_id) ?? false)
                    {
                        <Button Color="Color.Danger" Clicked="Remove" Margin="Margin.Is2.FromEnd" Disabled="!IsAuthenticated" Size="Size.Small">
                            <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonRemove
                        </Button>
                    }
                    else if (Wish?.Shows.Any(a => a.id == tmdb_id) ?? false)
                    {
                        <Button Color="Color.Danger" Clicked="Remove" Margin="Margin.Is2.FromEnd" Disabled="!IsAuthenticated" Size="Size.Small">
                            <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonRemove
                        </Button>
                    }
                    else
                    {
                        <Button Color="Color.Primary" Clicked="Add" Margin="Margin.Is2.FromEnd" Disabled="!IsAuthenticated" Size="Size.Small">
                            <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonAdd
                        </Button>
                    }
                    @if (Watched?.Movies.Any(a => a == tmdb_id) ?? false)
                    {
                        <Button Color="Color.Danger" Clicked="IsNotWatched" Margin="Margin.Is2.FromEnd" Disabled="!IsAuthenticated" Size="Size.Small">
                            <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonNotWatched
                        </Button>
                    }
                    else if (Watched?.Shows.Any(a => a == tmdb_id) ?? false)
                    {
                        <Button Color="Color.Danger" Clicked="IsNotWatched" Margin="Margin.Is2.FromEnd" Disabled="!IsAuthenticated" Size="Size.Small">
                            <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonNotWatched
                        </Button>
                    }
                    else
                    {
                        <Button Color="Color.Primary" Clicked="IsWatched" Margin="Margin.Is2.FromEnd" Disabled="!IsAuthenticated" Size="Size.Small">
                            <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonWatched
                        </Button>
                    }
                }
                <Button Color="Color.Secondary" Clicked="@HideModal" Float="Float.End" Size="Size.Small">
                    @GlobalTranslations.ButtonClose
                </Button>
            </Column>
        </Row>
    </Container>
</ModalFooter>

@code {
    [Parameter] public WatchedList? Watched { get; set; }
    [Parameter] public WatchingList? Watching { get; set; }
    [Parameter] public WishList? Wish { get; set; }
    [Parameter] public EventCallback<WatchedList?> WatchedChanged { get; set; }
    [Parameter] public EventCallback<WatchingList?> WatchingChanged { get; set; }
    [Parameter] public EventCallback<WishList?> WishChanged { get; set; }
    [Parameter] public bool ShowPrivateAction { get; set; }

    [Parameter] public string? tmdb_id { get; set; }
    [Parameter] public MediaType? type { get; set; }

    public RenderControlCore<MediaDetail?>? Core { get; set; } = new();
    private MediaDetail? media { get; set; }
    public string? imdb_id { get; set; }

    string selectedTab = "About";

    public RenderControlCore<Ratings?> CoreRatings { get; set; } = new();

    private Ratings? ratingsCache;

    protected override void OnInitialized()
    {
        if (string.IsNullOrEmpty(tmdb_id)) throw new ArgumentNullException(nameof(tmdb_id));
        if (type == null) throw new ArgumentNullException(nameof(type));

        WatchedListApi.DataChanged += (WatchedList? model) => { Watched = model; WatchedChanged.InvokeAsync(model); StateHasChanged(); };
        WatchingListApi.DataChanged += (WatchingList? model) => { Watching = model; WatchingChanged.InvokeAsync(model); StateHasChanged(); };
        WishListApi.DataChanged += (WishList? model) => { Wish = model; WishChanged.InvokeAsync(model); StateHasChanged(); };
    }

    protected override async Task LoadDataRender()
    {
        Core?.LoadingStarted?.Invoke();
        media = await TmdbApi.GetMediaDetail(tmdb_id, type);
        imdb_id = await ExternalIdApi.GetImdbId(type, tmdb_id);
        Core?.LoadingFinished?.Invoke(media);

        //TODO: must be english_title, not original_title
        var title = media?.original_title?.RemoveSpecialCharacters().RemoveDiacritics().Replace(" ", "-").ToLower();

        if (media?.MediaType == MediaType.movie)
        {
            ratingsCache = await CacheRatingsApi.GetMovieRatings(imdb_id, title, media.release_date, media.rating.ToString("#.#"), CoreRatings);
        }
        else
        {
            ratingsCache = await CacheRatingsApi.GetShowRatings(imdb_id, title, media?.release_date, media?.rating.ToString("#.#"), CoreRatings);
        }
    }

    private Color GetColorByRating(string? rating)
    {
        if (string.IsNullOrEmpty(rating)) return Color.Secondary;

        var val = double.Parse(rating);

        if (val > 10) val = val / 10;

        if (val >= 8)
        {
            return Color.Success;
        }
        else if (val >= 6)
        {
            return Color.Warning;
        }
        else
        {
            return Color.Danger;
        }
    }

    public async Task HideModal()
    {
        await ModalService.Hide();
    }

    private async Task CollectionClicked(Collection? item)
    {
        if (type == MediaType.movie)
            await OpenPopupMedia(item, type);
        else
            await OpenPopupSeason(item);
    }

    private async Task Add()
    {
        if (media == null) throw new ArgumentNullException(nameof(media));

        try
        {
            Wish ??= new();

            var item = new WishListItem(media.tmdb_id, media.title, media.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), media.runtime);
            var client = await PrincipalApi.Get(true);

            Wish = await WishListApi.Add(media.MediaType, Wish, item, client?.ClientePaddle);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Remove()
    {
        ArgumentNullException.ThrowIfNull(media);

        try
        {
            Wish = await WishListApi.Remove(media.MediaType, media?.tmdb_id);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task IsWatched()
    {
        if (media == null) throw new ArgumentNullException(nameof(media));

        try
        {
            var hasCollection = media.Collection.Any() && media.Collection.Count > 1;

            if (hasCollection)
            {
                var watching = Watching ?? new WatchingList();
                var collectionId = media.MediaType == MediaType.movie ? media.collectionId?.ToString() : media.tmdb_id;

                await ModalService.SelectItemsCollection(
                    media.Collection,
                    watching.GetWatchingItems(media.MediaType, collectionId),
                    new EventCallbackFactory().Create(this, async (HashSet<string> list) => await SelectedItemsChanged(media, list, media.Collection.Count)));
            }
            else
            {
                var client = await PrincipalApi.Get(true);
                Watched = await WatchedListApi.Add(media.MediaType, Watched, media.tmdb_id, client?.ClientePaddle);
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task SelectedItemsChanged(MediaDetail media, HashSet<string> items, int collectionItemsCount)
    {
        var client = await PrincipalApi.Get(true);

        //watched list

        if (media.MediaType == MediaType.movie)
        {
            Watched = await WatchedListApi.Add(MediaType.movie, Watched, string.Join(',', items), client?.ClientePaddle);
        }
        else
        {
            Watched = await WatchedListApi.Add(MediaType.tv, Watched, media.tmdb_id, client?.ClientePaddle);
        }

        //watching list

        WatchingListItem item;

        if (media.MediaType == MediaType.movie)
        {
            item = new WatchingListItem(media?.collectionId?.ToString(), media?.collectionName, media?.collectionLogo?.Replace(TmdbOptions.SmallPosterPath, ""), collectionItemsCount, items);
        }
        else
        {
            item = new WatchingListItem(media?.tmdb_id, media?.title, media?.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), collectionItemsCount, items);
        }

        Watching = await WatchingListApi.Add(type, Watching, item, client?.ClientePaddle);
    }

    private async Task IsNotWatched()
    {
        if (media == null) throw new ArgumentNullException(nameof(media));

        try
        {
            //watched

            Watched = await WatchedListApi.Remove(media.MediaType, media.tmdb_id);

            //watching

            var hasCollection = media.Collection.Any() && media.Collection.Count > 1;

            if (hasCollection)
            {
                if (media.MediaType == MediaType.movie)
                {
                    Watching = await WatchingListApi.Remove(media.MediaType, media.collectionId?.ToString(), media.tmdb_id);
                }
                else if (media.MediaType == MediaType.tv)
                {
                    Watching = await WatchingListApi.Remove(media.MediaType, media.tmdb_id, null);
                }
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task OpenPopupMedia(Collection? collection, MediaType? mediaType)
    {
        await ModalService.MediaPopup(Watched, Watching, Wish, mediaType, collection?.id?.ToString(), ShowPrivateAction);
    }

    private async Task OpenPopupSeason(Collection? collection)
    {
        await ModalService.SeasonPopup(media?.title, collection?.title, tmdb_id, collection?.SeasonNumber);
    }
}