@using SD.Shared.Models;
@using SD.Shared.Models.List.Imdb;
@using SD.Shared.Models.List.Tmdb;
@using SD.WEB.Modules.Suggestions.Core;
@using SD.WEB.Modules.Profile.Core
@using SD.WEB.Modules.Provider.Core
@inherits ComponenteCore<MediaPopup>

@inject TmdbApi TmdbApi
@inject CacheApi CacheApi
@inject ExternalIdApi ExternalIdApi
@inject WatchedListApi WatchedListApi
@inject WatchingListApi WatchingListApi
@inject WishListApi WishListApi

<ModalHeader>
    <ModalTitle Size="HeadingSize.Is5">@media?.title</ModalTitle>
    <CloseButton />
</ModalHeader>
<ModalBody MaxHeight="70">
    <RenderControl Task="LoadMedia">
        <Row HorizontalGutter="8" VerticalGutter="8">
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is4.OnDesktop">
                @if (string.IsNullOrEmpty(media?.poster_large))
                {
                    <CardImage Source="noimage.png" Alt="@media?.title"></CardImage>
                }
                else
                {
                    <Div Style="position:relative;">
                        @if (@media?.release_date < DateTime.Now.AddMonths(-3))
                        {
                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; left: 5px;">@media?.release_date?.Year</Badge>
                        }
                        else
                        {
                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Style="position: absolute; top: 5px; left: 5px;">@media?.release_date?.ToShortDateString()</Badge>
                        }
                        <Image Source="@media?.poster_large" Text="@media?.title" Style="width: 100%;"></Image>
                    </Div>
                }
            </Column>
            <Column ColumnSize="ColumnSize.Is12.OnMobile.Is8.OnDesktop">
                <Tabs @bind-SelectedTab="@selectedTab" Pills="true" FullWidth="true" Justified="true" RenderMode="TabsRenderMode.LazyLoad">
                    <Items>
                        <Tab Name="About">@GlobalTranslations.TabAbout</Tab>
                        <Tab Name="Streaming">@GlobalTranslations.TabStreaming</Tab>
                        <Tab Name="Credits">@GlobalTranslations.TabCredits</Tab>
                        @if (media?.Collection.Any() ?? false)
                        {
                            <Tab Name="Collection">@GlobalTranslations.TabCollection</Tab>
                        }
                        <Tab Name="Reviews">Reviews</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="About" Class="mt-2">
                            <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd.Is1.FromBottom">@media?.runtime.FormatRuntime()</Badge>
                            @foreach (var item in media?.Genres ?? new List<string>())
                            {
                                <Badge Color="Color.Secondary" Margin="Margin.Is1.FromEnd.Is1.FromBottom">@item</Badge>
                            }

                            <Paragraph>
                                @if (!string.IsNullOrEmpty(Ratings?.imDb))
                                {
                                    <Badge Color="GetColorByRating(Ratings?.imDb)" Margin="Margin.Is1.FromEnd">IMDB: @Ratings?.imDb</Badge>
                                }
                                @if (media?.rating != null && media?.rating != 0)
                                {
                                    <Badge Color="GetColorByRating(media?.rating.ToString())" Margin="Margin.Is1.FromEnd">TMDB: @media?.rating.ToString("#.#")</Badge>
                                }
                                @if (!string.IsNullOrEmpty(Ratings?.metacritic))
                                {
                                    <Badge Color="GetColorByRating(Ratings?.metacritic)" Margin="Margin.Is1.FromEnd">Metacritic: @Ratings?.metacritic</Badge>
                                }
                                @if (!string.IsNullOrEmpty(Ratings?.rottenTomatoes))
                                {
                                    <Badge Color="GetColorByRating(Ratings?.rottenTomatoes)" Margin="Margin.Is1.FromEnd">Rotten Tomatoes: @Ratings?.rottenTomatoes</Badge>
                                }
                                @if (!string.IsNullOrEmpty(Ratings?.filmAffinity))
                                {
                                    <Badge Color="GetColorByRating(Ratings?.filmAffinity)" Margin="Margin.Is1.FromEnd">Filme Affinity: @Ratings?.filmAffinity</Badge>
                                }
                            </Paragraph>

                            <Paragraph TextAlignment="TextAlignment.Justified">
                                @media?.plot
                            </Paragraph>
                            @if (media != null && media.Videos.Any())
                            {
                                <Row HorizontalGutter="4" VerticalGutter="4">
                                    <Column ColumnSize="ColumnSize.Is4.OnMobile.Is2.OnWidescreen">
                                        <Button Color="Color.Dark" Size="Size.Small" Block="true" Style="height: 100%" Disabled="true">Trailers</Button>
                                    </Column>
                                    @foreach (var item in media.Videos)
                                    {
                                        <Column ColumnSize="ColumnSize.Is2.OnMobile.Is1.OnWidescreen">
                                            <Button Type="ButtonType.Link" To="@("https://www.youtube.com/watch?v=" + item.key)" Target="Target.Blank" Color="Color.Light"
                                                    Padding="Padding.Is1" title="@item.name" Block="true">
                                                <Blazorise.Icon Name="FontAwesomeIcons.Video"></Blazorise.Icon>
                                            </Button>
                                        </Column>
                                    }
                                </Row>
                            }
                        </TabPanel>
                        <TabPanel Name="Streaming" Class="mt-2">
                            <StreamingComponent tmdb_id="@tmdb_id" type="@type"></StreamingComponent>
                        </TabPanel>
                        <TabPanel Name="Credits" Class="mt-2">
                            <CreditsComponent tmdb_id="@tmdb_id" type="@type"></CreditsComponent>
                        </TabPanel>
                        @if (media?.Collection.Any() ?? false)
                        {
                            <TabPanel Name="Collection" Class="mt-2">
                                <Row HorizontalGutter="4" VerticalGutter="4" Margin="Margin.Is1.FromBottom">
                                    @foreach (var item in media.Collection.OrderBy(o => o.release_date ?? DateTime.MaxValue))
                                    {
                                        <Column ColumnSize="ColumnSize.Is6.OnMobile.Is4.OnWidescreen.Is3.OnFullHD">
                                            <Card>
                                                <Blazorise.Link Clicked="@(async() => await CollectionClicked(item))" Style="position: relative;">
                                                    @if (item.release_date.HasValue)
                                                    {
                                                        if (item.release_date.Value < DateTime.Now.AddMonths(-3))
                                                        {
                                                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Padding="Padding.Is1" Style="font-size: 10px; position: absolute; top: 3px; left: 3px; z-index: 1;">@item.release_date.Value.Year</Badge>
                                                        }
                                                        else
                                                        {
                                                            <Badge Color="Color.Light" TextColor="TextColor.Dark" Padding="Padding.Is1" Style="font-size: 10px; position: absolute; top: 3px; left: 3px; z-index: 1;">@item.release_date.Value.ToShortDateString()</Badge>
                                                        }
                                                    }
                                                    @if (string.IsNullOrEmpty(item.poster_small))
                                                    {
                                                        <CardImage Source="noimage.png" Alt="@item.title" title="@item.title" Style="cursor: pointer;"></CardImage>
                                                    }
                                                    else
                                                    {
                                                        if (type == MediaType.movie) //you don't put seasons as wishes
                                                        {
                                                            var wishedMovie = WishList?.Contains(MediaType.movie, item.id) ?? false;
                                                            if (wishedMovie)
                                                            {
                                                                <Blazorise.Icon Name="FontAwesomeIcons.Bookmark" IconSize="IconSize.x2" TextColor="TextColor.Light"
                                                                                Style="position: absolute; bottom: 5px; left: 5px; z-index: 1;"></Blazorise.Icon>
                                                            }
                                                        }

                                                        var movieWatched = WatchedList?.Contains(MediaType.movie, item.id) ?? false;
                                                        var showWatched = WatchingList?.GetWatchedItems(MediaType.tv, media.tmdb_id).Any(a => a == item.id) ?? false;
                                                        if (movieWatched | showWatched)
                                                        {
                                                            <Blazorise.Icon Name="FontAwesomeIcons.Eye" IconSize="IconSize.x2" TextColor="TextColor.Light"
                                                                            Style="position: absolute; bottom: 2px; right: 5px; z-index: 1;"></Blazorise.Icon>
                                                        }

                                                        <CardImage Source="@item.poster_small" Alt="@item.title" title="@item.title" Style=@($"cursor: pointer;")></CardImage>
                                                    }
                                                </Blazorise.Link>

                                                <CardBody Class="py-1">
                                                    @item.title
                                                </CardBody>
                                            </Card>
                                        </Column>
                                    }
                                </Row>
                            </TabPanel>
                        }
                        <TabPanel Name="Reviews" Class="mt-2">
                            <ReviewComponent imdb_id="@imdb_id" title="@media?.title?.Replace(" ","-").ToLower()" original_title="@media?.original_title?.Replace(" ","-").ToLower()" type="@type"></ReviewComponent>
                        </TabPanel>
                    </Content>
                </Tabs>
            </Column>
        </Row>
    </RenderControl>
</ModalBody>
<ModalFooter>
    <Container Fluid="true" Margin="Margin.Is0" Padding="Padding.Is0.OnX">
        <Row HorizontalGutter="4" VerticalGutter="4">
            <Column VerticalAlignment="VerticalAlignment.Middle">
                @if (!string.IsNullOrEmpty(media?.homepage))
                {
                    <a href="@media.homepage" target="_blank" rel="noopener" style="float: left;">@(new Uri(media.homepage).Host) <Blazorise.Icon Name="FontAwesomeIcons.ExternalLinkAlt"></Blazorise.Icon></a>
                }
            </Column>
            <Column ColumnSize="ColumnSize.IsAuto">
                @if (WishList?.Movies.Any(a => a.id == tmdb_id) ?? false)
                {
                    <Button Color="Color.Danger" Clicked="Remove" Margin="Margin.Is2.FromEnd" Disabled="!IsUserAuthenticated" Size="Size.Small">
                        <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonRemove
                    </Button>
                }
                else if (WishList?.Shows.Any(a => a.id == tmdb_id) ?? false)
                {
                    <Button Color="Color.Danger" Clicked="Remove" Margin="Margin.Is2.FromEnd" Disabled="!IsUserAuthenticated" Size="Size.Small">
                        <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonRemove
                    </Button>
                }
                else
                {
                    <Button Color="Color.Primary" Clicked="Add" Margin="Margin.Is2.FromEnd" Disabled="!IsUserAuthenticated" Size="Size.Small">
                        <Blazorise.Icon Name="FontAwesomeIcons.Bookmark"></Blazorise.Icon> @GlobalTranslations.ButtonAdd
                    </Button>
                }
                @if (WatchedList?.Movies.Any(a => a == tmdb_id) ?? false)
                {
                    <Button Color="Color.Danger" Clicked="NotWatched" Margin="Margin.Is2.FromEnd" Disabled="!IsUserAuthenticated" Size="Size.Small">
                        <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonNotWatched
                    </Button>
                }
                else if (WatchedList?.Shows.Any(a => a == tmdb_id) ?? false)
                {
                    <Button Color="Color.Danger" Clicked="NotWatched" Margin="Margin.Is2.FromEnd" Disabled="!IsUserAuthenticated" Size="Size.Small">
                        <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonNotWatched
                    </Button>
                }
                else
                {
                    <Button Color="Color.Primary" Clicked="Watched" Margin="Margin.Is2.FromEnd" Disabled="!IsUserAuthenticated" Size="Size.Small">
                        <Blazorise.Icon Name="FontAwesomeIcons.Eye"></Blazorise.Icon> @GlobalTranslations.ButtonWatched
                    </Button>
                }
                <Button Color="Color.Secondary" Clicked="@HideModal" Float="Float.End" Size="Size.Small">@GlobalTranslations.ButtonClose</Button>
            </Column>
        </Row>
    </Container>
</ModalFooter>

@code {
    [Inject] public IModalService ModalService { get; set; } = default!;

    [Parameter] public string? tmdb_id { get; set; }
    [Parameter] public MediaType? type { get; set; }

    private MediaDetail? media { get; set; }
    private Ratings? Ratings { get; set; }
    public string? imdb_id { get; set; }

    public bool IsUserAuthenticated { get; set; }
    string selectedTab = "About";

    private WatchedList? WatchedList;
    private WatchingList? WatchingList;
    private WishList? WishList;

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrEmpty(tmdb_id)) throw new ArgumentNullException(nameof(tmdb_id));
        if (type == null) throw new ArgumentNullException(nameof(type));

        AppState.WatchedListChanged += (WatchedList? list) => { WatchedList = list; StateHasChanged(); };
        AppState.WatchingListChanged += (WatchingList? list) => { WatchingList = list; StateHasChanged(); };
        AppState.WishListChanged += (WishList? list) => { WishList = list; StateHasChanged(); };

        await base.OnInitializedAsync();
    }

    public async Task<bool> LoadMedia()
    {
        media = await TmdbApi.GetMediaDetail(tmdb_id, type);

        imdb_id = await ExternalIdApi.GetImdbId(type, tmdb_id);
        if (!string.IsNullOrEmpty(imdb_id))
        {
            var cache = await CacheApi.GetRatings(imdb_id, media?.release_date);

            Ratings = (Ratings?)cache?.Data;
        }

        return media == null;
    }

    protected override async Task LoadDataRender()
    {
        IsUserAuthenticated = await AppState.IsUserAuthenticated();

        WatchedList = await AppState.GetWatchedList(false);
        WatchingList = await AppState.GetWatchingList(false);
        WishList = await AppState.GetWishList(false);
    }

    private Color GetColorByRating(string? rating)
    {
        if (string.IsNullOrEmpty(rating)) return Color.Secondary;

        var val = double.Parse(rating);

        if (val > 10) val = val / 10;

        if (val >= 8)
        {
            return Color.Success;
        }
        else if (val >= 6)
        {
            return Color.Warning;
        }
        else
        {
            return Color.Danger;
        }
    }

    public async Task HideModal()
    {
        await ModalService.Hide();
    }

    private async Task CollectionClicked(Collection? item)
    {
        if (type == MediaType.movie)
            await OpenPopupMedia(item, type);
        else
            await OpenPopupSeason(item);
    }

    private async Task Add()
    {
        if (media == null) throw new ArgumentNullException(nameof(media));

        try
        {
            var list = WishList ?? new WishList();

            var item = new WishListItem(media.tmdb_id, media.title, media.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), media.runtime);

            list = await WishListApi.Add(media.MediaType, item);

            AppState.ChangeWishList(list);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Remove()
    {
        if (media == null) throw new ArgumentNullException(nameof(media));

        try
        {
            var list = WishList ?? new WishList();

            list = await WishListApi.Remove(media.MediaType, media.tmdb_id);

            AppState.ChangeWishList(list);
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task Watched()
    {
        if (media == null) throw new ArgumentNullException(nameof(media));

        try
        {
            var hasCollection = media.Collection.Any() && media.Collection.Count > 1;

            if (hasCollection)
            {
                var watching = WatchingList ?? new WatchingList();
                var collectionId = media.MediaType == MediaType.movie ? media.collectionId?.ToString() : media.tmdb_id;

                await ModalService.Show<SelectItemsCollection>(null,
                    x =>
                    {
                        x.Add(x => x.ItemsCollection, media.Collection);
                        x.Add(x => x.SelectedItems, watching.GetWatchedItems(media.MediaType, collectionId));
                        x.Add(x => x.SelectedItemsChanged,
                            new EventCallbackFactory().Create(this, async (HashSet<string> list) => await SelectedItemsChanged(media, list, media.Collection.Count)));
                    },
                    new ModalInstanceOptions()
                        {
                            UseModalStructure = false,
                            Centered = true,
                            Size = ModalSize.Default,
                        });
            }
            else
            {
                var watched = WatchedList ?? new WatchedList();

                watched = await WatchedListApi.Add(media.MediaType, media.tmdb_id);

                AppState.ChangeWatchedList(watched);
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task SelectedItemsChanged(MediaDetail media, HashSet<string> items, int collectionItemsCount)
    {
        //watched list

        var watched = WatchedList ?? new WatchedList();

        if (media.MediaType == MediaType.movie)
        {
            watched = await WatchedListApi.Add(MediaType.movie, string.Join(',', items));
        }
        else
        {
            watched = await WatchedListApi.Add(MediaType.tv, media.tmdb_id);
        }

        AppState.ChangeWatchedList(watched);

        //watching list

        var watching = WatchingList ?? new WatchingList();

        WatchingListItem item;

        if (media.MediaType == MediaType.movie)
        {
            item = new WatchingListItem(media?.collectionId?.ToString(), media?.collectionName, media?.collectionLogo?.Replace(TmdbOptions.SmallPosterPath, ""), collectionItemsCount, items);
        }
        else
        {
            item = new WatchingListItem(media?.tmdb_id, media?.title, media?.poster_small?.Replace(TmdbOptions.SmallPosterPath, ""), collectionItemsCount, items);
        }

        watching = await WatchingListApi.Add(type, item);

        AppState.ChangeWatchingList(watching);
    }

    private async Task NotWatched()
    {
        if (media == null) throw new ArgumentNullException(nameof(media));

        try
        {
            //watched

            var watched = WatchedList ?? new WatchedList();

            watched = await WatchedListApi.Remove(media.MediaType, media.tmdb_id);

            AppState.ChangeWatchedList(watched);

            //watching

            var hasCollection = media.Collection.Any() && media.Collection.Count > 1;

            if (hasCollection)
            {
                var watching = WatchingList ?? new WatchingList();

                if (media.MediaType == MediaType.movie)
                {
                    watching = await WatchingListApi.Remove(media.MediaType, media.collectionId?.ToString(), media.tmdb_id);
                }
                else if (media.MediaType == MediaType.tv)
                {
                    watching = await WatchingListApi.Remove(media.MediaType, media.tmdb_id);
                }

                AppState.ChangeWatchingList(watching);
            }
        }
        catch (Exception ex)
        {
            ex.ProcessException(Toast, Logger);
        }
    }

    private async Task OpenPopupMedia(Collection? collection, MediaType? mediaType)
    {
        await ModalService.Show<MediaPopup>(collection?.title,
            x =>
            {
                x.Add(x => x.tmdb_id, collection?.id?.ToString());
                x.Add(x => x.type, mediaType);
            },
            new ModalInstanceOptions()
                {
                    UseModalStructure = false,
                    Centered = true,
                    Size = ModalSize.Large,
                });
    }

    private async Task OpenPopupSeason(Collection? collection)
    {
        await ModalService.Show<SeasonPopup>(null,
            x =>
            {
                x.Add(x => x.ShowTitle, media?.title);
                x.Add(x => x.ShowSeasonName, collection?.title);
                x.Add(x => x.tmdb_id, tmdb_id);
                x.Add(x => x.season_number, collection?.SeasonNumber);
            },
            new ModalInstanceOptions()
                {
                    UseModalStructure = false,
                    Centered = true,
                    Size = ModalSize.Large,
                });
    }
}