@inherits ComponentCore<SubscriptionPopup>

@using SD.WEB.Modules.Subscription.Core
@using SD.WEB.Modules.Subscription.Resources

@inject PaymentAuthApi PaymentAuthApi
@inject IpInfoApi IpInfoApi
@inject ILogger<SubscriptionPopup> Logger

<MudDialog Style="width: 100%">
    <DialogContent>
        @if (BlockedCountry)
        {
            <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Dense="true">
                @($"Unfortunately, due to legal and policy restrictions, we are unable to offer our services in {_XoloBlockedCountries[CurrentCountry!.ToUpper()]}.")
            </MudAlert>
        }
        else if (AppStateStatic.IsAuthenticated && (Client == null))
        {
            <MudSkeleton SkeletonType="SkeletonType.Rectangle" Width="100%" Height="100px" Animation="Animation.Wave" />
        }
        else
        {
            if (Client?.GetActiveSubscription() == null)
            {
                <MudGrid Class="mb-3">
                    <MudItem xs="12" sm="8">
                        <MudToggleGroup SelectionMode="SelectionMode.SingleSelection" @bind-Value="Cycle" Color="Color.Primary">
                            <MudToggleItem Value="@AccountCycle.Weekly">
                                @AccountCycle.Weekly.GetName()
                            </MudToggleItem>
                            <MudToggleItem Value="@AccountCycle.Monthly">
                                @AccountCycle.Monthly.GetName()
                            </MudToggleItem>
                            <MudToggleItem Value="@AccountCycle.Yearly">
                                @AccountCycle.Yearly.GetName()
                            </MudToggleItem>
                        </MudToggleGroup>
                    </MudItem>
                    <MudItem xs="12" sm="4">
                        <MudSelect @bind-Value="@Provider" Label="@Modules.Subscription.Resources.Translations.PaymentProvider" Dense="true">
                            @foreach (var item in Providers)
                            {
                                <MudSelectItem T="PaymentProvider" Value="@item">
                                    @item.GetName()
                                </MudSelectItem>
                            }
                        </MudSelect>
                    </MudItem>
                </MudGrid>
                @if (Provider == PaymentProvider.Microsoft)
                {
                    if (Platform == SD.Shared.Enums.Platform.windows)
                    {
                        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Dense="true">
                            The Microsoft subscription option isn’t available yet. Stay tuned for updates!
                        </MudAlert>
                    }
                    else
                    {
                        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Dense="true">
                            The Microsoft subscription option is only available in the Windows application.
                        </MudAlert>
                    }
                }
                else if (Provider == PaymentProvider.Apple)
                {
                    if (Platform == SD.Shared.Enums.Platform.ios)
                    {
                        <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Dense="true" Class="mb-3">
                            Apple subscription is still in testing. If you run into any issues, please reach out via feedback or email. We’re happy to help.
                        </MudAlert>

                        <SubscriptionPlans Provider="Provider" Cycle="Cycle" Client="Client"></SubscriptionPlans>
                    }
                    else
                    {
                        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Dense="true">
                            The Apple subscription option is only available on iOS devices.
                        </MudAlert>
                    }
                }
                else if (Provider == PaymentProvider.Google)
                {
                    if (Platform == SD.Shared.Enums.Platform.play)
                    {
                        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Dense="true">
                            The Google subscription option isn’t available yet. Stay tuned for updates!
                        </MudAlert>
                    }
                    else
                    {
                        <MudAlert Severity="Severity.Info" Variant="Variant.Outlined" Dense="true">
                            The Google subscription option is only available on Android devices.
                        </MudAlert>
                    }
                }
                else if (Provider == PaymentProvider.Paddle)
                {
                    <FeatureUnavailable></FeatureUnavailable>
                }
                else if (Provider == PaymentProvider.Stripe)
                {
                    @if (CurrentCountry.NotEmpty() && _StripeBlockedCountries.ContainsKey(CurrentCountry.ToUpper()))
                    {
                        <MudAlert Severity="Severity.Warning" Variant="Variant.Outlined" Dense="true">
                            @($"Unfortunately, due to legal and policy restrictions, Stripe cannot offer payment services in {_StripeBlockedCountries[CurrentCountry!.ToUpper()]}.")
                        </MudAlert>
                    }
                    else
                    {
                        <SubscriptionPlans Provider="Provider" Cycle="Cycle" Client="Client"></SubscriptionPlans>
                    }
                }
            }
            else //subscription active
            {
                @if (Provider == PaymentProvider.Microsoft)
                {
                    <FeatureUnavailable></FeatureUnavailable>
                }
                else if (Provider == PaymentProvider.Apple)
                {
                    <AppleSubscriptionManager Client="@Client"></AppleSubscriptionManager>
                }
                else if (Provider == PaymentProvider.Google)
                {
                    <FeatureUnavailable></FeatureUnavailable>
                }
                else if (Provider == PaymentProvider.Paddle)
                {
                    <FeatureUnavailable></FeatureUnavailable>
                }
                else if (Provider == PaymentProvider.Stripe)
                {
                    <StripeSubscriptionManager Client="@Client"></StripeSubscriptionManager>
                }
            }
        }
    </DialogContent>
    <DialogActions>
        <span class="ma-2">Platform: @Platform</span>
        <MudSpacer></MudSpacer>
        <MudButton OnClick="@(() => { MudDialog?.Close(); })">
            @Button.Close
        </MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] private IMudDialogInstance? MudDialog { get; set; }

    private AuthPrincipal? Client { get; set; }
    private List<PaymentProvider> Providers { get; set; } = [];

    private AccountCycle Cycle { get; set; } = AccountCycle.Weekly;
    private SD.Shared.Enums.Platform? Platform { get; set; }
    private PaymentProvider Provider { get; set; } = PaymentProvider.Stripe;
    private string? CurrentCountry { get; set; }
    private bool BlockedCountry { get; set; }

    //https://www.xolo.io/zz-en/faq/xolo-leap/category/get-started/article/do-you-accept-customers-from-all-countries
    private readonly Dictionary<string, string> _XoloBlockedCountries = new()
    {
        { "AF", "Afghanistan" },
        { "BY", "Belarus" },
        { "CE", "Crimea" },
        { "CU", "Cuba" },
        { "IR", "Iran" },
        { "IQ", "Iraq" },
        { "MM", "Myanmar" },
        { "KP", "North Korea" },
        { "RU", "Russia" },
        { "SY", "Syria" },
        { "VE", "Venezuela" }
    };

    //https://docs.stripe.com/payments/managed-payments/how-it-works#restricted-countries
    private readonly Dictionary<string, string> _StripeBlockedCountries = new()
    {
        { "SH", "Saint Helena, Ascension and Tristan da Cunha" },
        { "CN", "China" },
        { "CU", "Cuba" },
        { "IR", "Iran" },
        { "XK", "Kosovo" },
        { "KP", "North Korea" },
        { "RU", "Russia" },
        { "SY", "Syria" },
    };

    protected override void OnInitialized()
    {
        AppStateStatic.RegistrationSuccessful += async () => await RegistrationSuccessful();
        AppStateStatic.AppleVerify += async (string receipt) => await AppleVerify(receipt);
    }

    protected override async Task LoadNonEssentialDataAsync()
    {
        CurrentCountry = await IpInfoApi.GetCountry();

        if (CurrentCountry.NotEmpty())
        {
            BlockedCountry = _XoloBlockedCountries.ContainsKey(CurrentCountry.ToUpper());

            if (BlockedCountry) return;
        }

        Providers.Clear();

        Platform = await AppStateStatic.GetPlatform(JsRuntime);

        if (Platform == SD.Shared.Enums.Platform.ios)
        {
            if (CurrentCountry == "US")
            {
                Providers.Add(PaymentProvider.Apple);
                Providers.Add(PaymentProvider.Stripe);
            }
            else
            {
                Providers.Add(PaymentProvider.Apple);
            }
        }
        else
        {
            Providers.Add(PaymentProvider.Stripe);
            Providers.Add(PaymentProvider.Microsoft);
            Providers.Add(PaymentProvider.Google);
            Providers.Add(PaymentProvider.Apple);
        }

        Provider = Providers[0]; //todo: when implemented, select native provider by default
    }

    protected override async Task LoadAuthDataAsync()
    {
        Client = await PrincipalApi.Get(AppStateStatic.IsAuthenticated, true);

        var sub = Client?.GetActiveSubscription();

        if (sub?.Provider != null && sub.Cycle != null)
        {
            Provider = sub.Provider.Value;
            Cycle = sub.Cycle.Value;
        }

        if (Client != null && Client.StripeCustomerId.Empty())
        {
            Client = await PaymentAuthApi.StripeCustomer();
        }
    }

    private async Task RegistrationSuccessful()
    {
        try
        {
            var freshClient = await PrincipalApi.Get(true, true);
            if (freshClient == null) throw new NotificationException("Client null");

            var sub = freshClient?.GetActiveSubscription();

            if (sub != null && sub?.Product != null)
            {
                Client = freshClient;
                StateHasChanged();

                await ShowSuccess(Translations.RegistrationSuccessful);
            }
            else
            {
                Logger.LogError("RegistrationSuccessful called but subscription is not active.");
                throw new NotificationException("Something went wrong with your subscription. Please contact support.");
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }

    private async Task AppleVerify(string receipt)
    {
        try
        {
            await PaymentAuthApi.AppleVerify(receipt);

            var freshClient = await PrincipalApi.Get(true, true);
            if (freshClient == null) throw new NotificationException("Client null");

            var sub = freshClient?.GetActiveSubscription();

            if (sub != null && sub?.Product != null)
            {
                Client = freshClient;
                StateHasChanged();

                await ShowSuccess(Translations.RegistrationSuccessful);
            }
            else
            {
                throw new NotificationException("Something went wrong with your subscription. Please contact support.");
            }
        }
        catch (Exception ex)
        {
            await ProcessException(ex);
        }
    }
}
